<Rose::Layout::Page as |page|>

  <page.header>
    <h2>{{t "resources.group"}}</h2>
  </page.header>

  <page.body>
    <Form::Role
      @model={{@model}}
      @submit={{route-action "save" @model}}
      @cancel={{route-action "cancel" @model}}
    />
    <Rose::Separator />
    <Rose::Button
      @style="warning"
      @disabled={{@model.canSave}}
      {{on "click" (route-action "delete" @model)}}
    >
      {{t 'actions.delete'}}
    </Rose::Button>
  </page.body>

</Rose::Layout::Page>
