{{!
  Copyright IBM Corp. 2021, 2026
  SPDX-License-Identifier: BUSL-1.1
}}

{{#if @model.totalItemsCount}}
  <Rose::Form
    class='full-width search-filtering'
    @onSubmit={{@submit}}
    @cancel={{@cancel}}
    @disabled={{@model.role.isSaving}}
    as |form|
  >
    <Hds::SegmentedGroup as |S|>
      <S.TextInput
        @value={{@search}}
        @type='search'
        placeholder={{t 'actions.search'}}
        aria-label={{t 'actions.search'}}
        {{on 'input' @handleSearchInput}}
      />
    </Hds::SegmentedGroup>
    {{#if @model.projectScopes}}
      <div class='selected-items-text'>
        {{#if this.selectedProjectsCount}}
          <Hds::Text::Body @tag='p' @color='faint'>
            {{t
              'states.selected-items'
              items=this.selectedProjectsCount
              total=@model.totalItemsCount
            }}
          </Hds::Text::Body>
        {{/if}}
      </div>
      <Hds::Table
        @columns={{array
          (hash label=(t 'resources.project.title'))
          (hash label=(t 'form.id.label'))
        }}
        @model={{@model.projectScopes}}
        @isSelectable={{true}}
        @onSelectionChange={{this.selectionChange}}
        @valign='middle'
      >
        <:body as |B|>
          <B.Tr
            @selectionKey={{B.data.id}}
            @isSelected={{includes B.data.id @model.role.grant_scope_ids}}
            @selectionAriaLabelSuffix='row {{B.data.id}}'
            data-test-project-scopes-table-row={{B.data.id}}
          >
            <B.Td>
              <Hds::Text::Body @tag='p'>
                {{B.data.displayName}}
              </Hds::Text::Body>
            </B.Td>
            <B.Td>
              <Hds::Copy::Snippet
                @textToCopy={{B.data.id}}
                @color='secondary'
              />
            </B.Td>
          </B.Tr>
        </:body>
      </Hds::Table>
      <Rose::Pagination
        @model={{@model.orgScope.id}}
        @totalItems={{@model.totalItems}}
        @currentPage={{@page}}
        @currentPageSize={{@pageSize}}
      />

      <form.actions
        @submitText={{t 'resources.role.scope.actions.apply'}}
        @cancelText={{t 'actions.cancel'}}
      />
    {{else}}
      <Hds::ApplicationState data-test-no-grant-scope-results as |A|>
        <A.Header @title={{t 'titles.no-results-found'}} />
        <A.Body
          @text={{t
            'descriptions.no-search-results'
            query=@search
            resource=(t 'resources.scope.title_plural')
          }}
        />
      </Hds::ApplicationState>
    {{/if}}
  </Rose::Form>
{{else}}
  <Hds::ApplicationState as |A|>
    <A.Header
      @title={{t
        'resources.role.scope.messages.no-scopes.title'
        type=(t 'resources.project.title')
      }}
    />
    <A.Body
      @text={{t
        'resources.role.scope.messages.no-scopes.description'
        type=(t 'resources.project.title')
      }}
    />
    <A.Footer as |F|>
      <F.LinkStandalone
        @icon='arrow-left'
        @text={{t 'actions.back'}}
        @route={{if
          @model.role.scope.isGlobal
          'scopes.scope.roles.role.manage-scopes.manage-custom-scopes'
          'scopes.scope.roles.role.manage-scopes'
        }}
      />
    </A.Footer>
  </Hds::ApplicationState>
{{/if}}