<label class={{concat "rose-checkbox-" (if @style @style "default")}}>
  <input type="checkbox"
    ...attributes
    checked={{if @checked "checked"}}
    disabled={{if @disabled "disabled"}}
    class="{{if @error "error"}}"
  />
  {{yield}}
</label>
