<div class="rose-checkbox{{if @error " error"}}">
  <Input @type="checkbox"
    id={{if @id (concat @id "-checkbox")}}
    ...attributes
    name={{@name}}
    disabled={{@disabled}}
    form={{@form}}
    class="rose-checkbox-input"
    value={{@value}}
    @checked={{@checked}} />

  <label class="rose-checkbox-label" for={{if @id (concat @id "-checkbox")}}>
    {{yield}}
  </label>
</div>
