{{#if @model.hosts}}

  <Rose::Table as |table|>
    <table.header as |header|>
      <header.row as |row|>
        <row.headerCell>{{t 'form.name.label'}}</row.headerCell>
        <row.headerCell>{{t 'form.type.label'}}</row.headerCell>
        <row.headerCell>{{t 'form.id.label'}}</row.headerCell>
        {{#if @model.isStatic}}
          <row.headerCell>{{t 'titles.actions'}}</row.headerCell>
        {{/if}}
      </header.row>
    </table.header>
    <table.body as |body|>
      {{#each @model.hosts as |host|}}
        <body.row as |row|>
          <row.headerCell>
            {{#if host.isStatic}}
              <LinkTo
                @route='scopes.scope.host-catalogs.host-catalog.hosts.host'
                @model={{host.id}}
              >
                {{host.displayName}}
              </LinkTo>
            {{else}}
              {{! Link to a different subroute for dynamic/plugin hosts }}
              <LinkTo
                @route='scopes.scope.host-catalogs.host-catalog.host-sets.host-set.hosts.host'
                @model={{host.id}}
              >
                {{host.displayName}}
              </LinkTo>
            {{/if}}
            <p>{{host.description}}</p>
          </row.headerCell>
          <row.cell>
            <HostCatalogTypeBadge @model={{host}} />
          </row.cell>
          <row.cell>
            <Copyable
              @text={{host.id}}
              @buttonText={{t 'actions.copy-to-clipboard'}}
              @acknowledgeText={{t 'states.copied'}}
            >
              <code>{{host.id}}</code>
            </Copyable>
          </row.cell>
          <row.cell>
            {{#if (can 'removeHosts hostSet' @model.hostSet)}}
              <Rose::Dropdown
                @icon='flight-icons/svg/more-horizontal-16'
                @iconOnly={{true}}
                @showCaret={{false}}
                @dropdownRight={{true}}
                @text='{{t 'actions.manage'}}'
                as |dropdown|
              >
                <dropdown.button
                  @style='danger'
                  {{on 'click' (route-action 'removeHost' @model.hostSet host)}}
                >
                  {{t 'actions.remove'}}
                </dropdown.button>
              </Rose::Dropdown>
            {{/if}}
          </row.cell>
        </body.row>
      {{/each}}
    </table.body>
  </Rose::Table>

{{/if}}

{{#unless @model.hosts}}
  <Rose::Layout::Centered>
    <Rose::Message
      @title={{t 'resources.host-set.host.messages.none.title'}}
      as |message|
    >
      <message.description>
        {{t 'resources.host-set.host.messages.none.description'}}
      </message.description>
      {{!--
      <message.link @route="scopes.scope.host-catalogs.host-catalog.host-sets.host-set.create-and-add-host">
        <Rose::Icon @name="flight-icons/svg/plus-circle-16" />
        {{t "resources.host-set.actions.create-and-add-host"}}
      </message.link>
      --}}
    </Rose::Message>
  </Rose::Layout::Centered>
{{/unless}}