{{!--
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
--}}

<section
  class='rose-dropdown-section'
  aria-labelledby={{concat 'dropdown-section-title-' this.id}}
>
  {{#if @title}}
    <h2
      id={{concat 'dropdown-section-title-' this.id}}
      class='rose-dropdown-section-title'
    >
      {{#if @icon}}
        <Rose::Icon @name={{@icon}} @size='medium' />
      {{/if}}
      {{@title}}
    </h2>
  {{/if}}

  {{yield}}
</section>