{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<section
  class='rose-dropdown-section'
  aria-labelledby={{concat 'dropdown-section-title-' this.id}}
>
  {{#if @title}}
    <Hds::Text::Display
      @tag='h2'
      id={{concat 'dropdown-section-title-' this.id}}
      class='rose-dropdown-section-title'
    >
      {{#if @icon}}
        <Hds::Icon @name={{@icon}} @isInline={{true}} />
      {{/if}}
      {{@title}}
    </Hds::Text::Display>
  {{/if}}

  {{yield}}
</section>