{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<Rose::Layout::BodyContent data-test-session-details as |bc|>
  <bc.Body>
    {{#if @model.credentials}}
      <CredentialsPanel @credentials={{@model.credentials}} />
    {{else}}
      <Hds::ApplicationState data-test-no-credentials as |A|>
        <A.Header @title={{t 'resources.session.messages.connected.title'}} />
        <A.Body
          @text={{t
            'resources.session.messages.connected.description'
            targetDisplayName=@model.target.displayName
          }}
        />
      </Hds::ApplicationState>
    {{/if}}
  </bc.Body>

  {{#if (or @model.host @model.target)}}
    <bc.Sidebar>
      <div class='details-sidebar'>
        {{#if @model.host}}
          <div
            class='title hds-typography-display-200 hds-font-weight-semibold'
          >
            {{t 'resources.host.details'}}
          </div>
          <Rose::MetadataList @orientation='vertical' as |list|>
            {{! Host name }}
            {{#if @model.host.name}}
              <list.Item
                @icon='monitor'
                @color='faint'
              >{{@model.host.name}}</list.Item>
            {{/if}}
            {{! Host description }}
            {{#if @model.host.description}}
              <list.Item
                @icon='message-circle-fill'
                @color='faint'
              >{{@model.host.description}}</list.Item>
            {{/if}}
            {{! Host address }}
            {{#if @model.host.address}}
              <list.Item
                @icon='network-alt'
                @color='faint'
              >{{@model.host.address}}</list.Item>
            {{/if}}
            {{! Host ID }}
            <list.Item @icon='hash' @color='faint'>
              <Hds::Copy::Snippet
                @textToCopy={{@model.host.id}}
                @color='secondary'
              />
            </list.Item>
          </Rose::MetadataList>
        {{/if}}

        {{#if @model.target}}
          <div
            class='title hds-typography-display-200 hds-font-weight-semibold'
          >
            {{t 'resources.target.details'}}
          </div>
          <Rose::MetadataList @orientation='vertical' as |list|>
            {{! Target name }}
            <list.Item
              @icon='target'
              @color='faint'
            >{{@model.target.name}}</list.Item>
            {{! Project name }}
            <list.Item
              @icon='grid'
              @color='faint'
            >{{@model.target.project.displayName}}</list.Item>
            {{! Target description }}
            {{#if @model.target.description}}
              <list.Item
                @icon='message-circle-fill'
                @color='faint'
              >{{@model.target.description}}</list.Item>
            {{/if}}
            {{! Target type (SSH/RDP/TCP) }}
            <list.Item
              class='resource-type'
              @icon={{if @model.target.isRDP 'microsoft' 'terminal'}}
              @color='faint'
            >
              {{t (concat 'resources.target.types.' @model.target.type)}}
            </list.Item>
            {{! Target address }}
            {{#if @model.target.address}}
              <list.Item
                class='resource-type'
                @icon='network-alt'
                @color='faint'
              >{{@model.target.address}}</list.Item>
            {{/if}}
            {{! Target ID}}
            <list.Item @icon='hash' @color='faint'>
              <Hds::Copy::Snippet
                @textToCopy={{@model.target.id}}
                @color='secondary'
              />
            </list.Item>
          </Rose::MetadataList>
        {{/if}}
      </div>
    </bc.Sidebar>
  {{/if}}
</Rose::Layout::BodyContent>