<Rose::Layout::Page as |page|>

  <page.breadcrumbs>
    <BreadCrumbs />
  </page.breadcrumbs>

  <page.header>
    <h2>{{t "resources.auth-methods"}}</h2>
  </page.header>

  <page.body>

    {{#if @model}}

      <Rose::Table as |table|>
        <table.header as |header|>
          <header.row as |row|>
            <row.cell>{{t 'form.label.name'}}</row.cell>
            <row.cell>{{t 'form.label.type'}}</row.cell>
            <row.cell>{{t 'form.label.description'}}</row.cell>
          </header.row>
        </table.header>
        <table.body as |body|>
          {{#each @model as |auth-method|}}
            <body.row as |row|>
              <row.cell>{{auth-method.displayName}}</row.cell>
              <row.cell>{{auth-method.type}}</row.cell>
              <row.cell>{{auth-method.description}}</row.cell>
            </body.row>
          {{/each}}
        </table.body>
      </Rose::Table>

    {{else}}

      <Rose::Layout::Centered>
        <Rose::Message @title={{t 'titles.auth-methods-welcome'}} as |message|>
          <message.description>
            {{t 'descriptions.auth-methods-welcome'}}
          </message.description>
        </Rose::Message>
      </Rose::Layout::Centered>

    {{/if}}

  </page.body>

</Rose::Layout::Page>
