<nav
  ...attributes
  class="rose-nav-sidebar"
  id={{this.id}}
  title={{@title}}
  aria-labelledby={{if @title (concat "title-" this.id)}}>

  {{#if @title}}
    <span class="rose-nav-title" id="title-{{this.id}}">
      {{@title}}
    </span>
  {{/if}}

  {{yield (hash
    link=(component "rose/nav/link")
  )}}

</nav>
