<h2>
  {{t 'resources.credential-library.title'}}
  <DocLink @doc='credential-library' @iconSize='large' />
</h2>
<p>{{t 'resources.credential-library.description'}}</p>
<Copyable
  @text={{@model.id}}
  @buttonText={{t 'actions.copy-to-clipboard'}}
  @acknowledgeText={{t 'states.copied'}}
>
  <code>{{@model.id}}</code>
</Copyable>