{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

{{#if this.filters}}
  <div class='filters-applied'>
    <Hds::Text::Display @size='100' @weight='medium' @color='faint'>
      {{t 'titles.filters-applied'}}
    </Hds::Text::Display>
    {{#each this.filters as |filter|}}
        <Hds::Tag
          class='filter-tag'
          @text={{if filter.name filter.name filter.id}}
          @onDismiss={{fn this.removeFilter filter}}
        />
    {{/each}}
    <Hds::Button
      @text={{t 'actions.clear-filters'}}
      @color='tertiary'
      @icon='x'
      @size='small'
      {{on 'click' this.clearAllFilters}}
    />
  </div>
{{/if}}