<div class='filters-applied'>
  <Hds::Text::Display @size='100' @weight='medium' @color='faint'>{{t
      'titles.filters-applied'
    }}</Hds::Text::Display>
  {{#if this.tags}}
    {{#each this.tags as |tag|}}
      <Hds::Tag @text={{tag}} @onDismiss={{fn this.removeFilter tag}} />
    {{/each}}
  {{/if}}
  <Hds::Button
    @text={{t 'actions.clear-filters'}}
    @color='tertiary'
    @icon='x'
    @size='small'
    {{on 'click' this.clearAllFilters}}
  />
</div>