{{!
  Copyright IBM Corp. 2021, 2025
  SPDX-License-Identifier: BUSL-1.1
}}

<Hds::Form::Select::Base
  @value={{@value}}
  @width={{@width}}
  disabled={{@disabled}}
  aria-labelledby={{@ariaLabelledBy}}
  {{on 'change' @setContext}}
  as |F|
>
  <F.Options>
    <option hidden selected value=''>
      {{t 'titles.choose-an-option'}}
    </option>
    {{#each @selectOptions as |selectOption|}}
      <option value={{selectOption}} selected={{eq selectOption @value}}>
        {{selectOption}}
      </option>
    {{/each}}
  </F.Options>
</Hds::Form::Select::Base>