<Rose::Layout::Page as |page|>

  <page.breadcrumbs>
    <BreadCrumbs />
  </page.breadcrumbs>

  <page.header>
    <h2>{{t "resources.sessions"}}</h2>
  </page.header>

  <page.body>

    {{#if @model}}

      <Rose::Table as |table|>
        <table.header as |header|>
          <header.row as |row|>
            <row.headerCell>{{t "form.label.id"}}</row.headerCell>
            <row.headerCell>{{t "resources.user"}}</row.headerCell>
            <row.headerCell>{{t "resources.target"}}</row.headerCell>
            <row.headerCell>{{t "form.label.started"}}</row.headerCell>
          </header.row>
        </table.header>
        <table.body as |body|>
          {{#each @model as |sessionAggregate|}}
            <body.row as |row|>
              <row.headerCell>
                <code>{{sessionAggregate.session.id}}</code>
              </row.headerCell>
              <row.cell>{{sessionAggregate.user.displayName}}</row.cell>
              <row.cell>{{sessionAggregate.target.displayName}}</row.cell>
              <row.cell>
                <time datetime={{format-date-iso sessionAggregate.session.created_time}}>
                  {{format-date-iso-human sessionAggregate.session.created_time}}
                </time>
              </row.cell>
            </body.row>
          {{/each}}
        </table.body>
      </Rose::Table>

    {{else}}

      <Rose::Layout::Centered>
        <Rose::Message @title={{t "titles.no-sessions"}} as |message|>
          <message.description>
            {{t "descriptions.no-sessions"}}
          </message.description>
        </Rose::Message>
      </Rose::Layout::Centered>

    {{/if}}

  </page.body>

</Rose::Layout::Page>
