{{#if @model}}

  <Rose::Table as |table|>
    <table.header as |header|>
      <header.row as |row|>
        <row.headerCell>{{t 'form.name.label'}}</row.headerCell>
        <row.headerCell>
          {{#if @model.firstObject.isPassword}}
            {{t 'form.login_name.label'}}
          {{/if}}
        </row.headerCell>
        <row.headerCell>{{t 'form.id.label'}}</row.headerCell>
      </header.row>
    </table.header>
    <table.body as |body|>
      {{#each @model as |account|}}
        <body.row as |row|>
          <row.headerCell>
            <LinkTo
              @route='scopes.scope.auth-methods.auth-method.accounts.account'
              @model={{account.id}}
            >
              {{account.displayName}}
            </LinkTo>
            <p>{{account.description}}</p>
          </row.headerCell>
          <row.cell>
            {{account.username}}
          </row.cell>
          <row.cell>
            <Copyable
              @text={{account.id}}
              @buttonText={{t 'actions.copy-to-clipboard'}}
              @acknowledgeText={{t 'states.copied'}}
            >
              <code>{{account.id}}</code>
            </Copyable>
          </row.cell>
        </body.row>
      {{/each}}
    </table.body>
  </Rose::Table>

{{else}}

  <Rose::Layout::Centered>
    <Rose::Message
      @title={{t 'resources.account.messages.welcome.title'}}
      as |message|
    >
      <message.description>
        {{t 'resources.account.messages.welcome.description'}}
      </message.description>
      <message.link @route='scopes.scope.auth-methods.auth-method.accounts.new'>
        <Rose::Icon @name='plus-circle-outline' />
        {{t 'resources.account.actions.create'}}
      </message.link>
    </Rose::Message>
  </Rose::Layout::Centered>

{{/if}}