{{#if @model}}

  {{! OIDC accounts display more fields }}
  {{#if @model.firstObject.isOIDC}}
    <Rose::Table as |table|>
      <table.header as |header|>
        <header.row as |row|>
          <row.headerCell>{{t 'form.name.label'}}</row.headerCell>
          <row.headerCell>{{t 'form.issuer.label'}}</row.headerCell>
          <row.headerCell>{{t 'form.subject.label'}}</row.headerCell>
          <row.headerCell>{{t 'form.email.label'}}</row.headerCell>
          <row.headerCell>{{t 'form.full_name.label'}}</row.headerCell>
          <row.headerCell>{{t 'form.type.label'}}</row.headerCell>
          <row.headerCell>{{t 'form.id.label'}}</row.headerCell>
        </header.row>
      </table.header>
      <table.body as |body|>
        {{#each @model as |account|}}
          <body.row as |row|>
            <row.headerCell scope='row'>
              {{#if (can 'read model' account)}}
                <LinkTo
                  @route='scopes.scope.auth-methods.auth-method.accounts.account'
                  @model={{account.id}}
                >
                  {{account.accountName}}
                </LinkTo>
              {{else}}
                {{account.accountName}}
              {{/if}}
              <p>{{account.description}}</p>
            </row.headerCell>
            <row.cell>
              <code>{{account.attributes.issuer}}</code>
            </row.cell>
            <row.cell>
              <code>{{account.attributes.subject}}</code>
            </row.cell>
            <row.cell>
              <code>{{account.attributes.email}}</code>
            </row.cell>
            <row.cell>
              {{account.attributes.full_name}}
            </row.cell>
            <row.cell>
              <Rose::Badge>{{account.type}}</Rose::Badge>
            </row.cell>
            <row.cell>
              <Copyable
                @text={{account.id}}
                @buttonText={{t 'actions.copy-to-clipboard'}}
                @acknowledgeText={{t 'states.copied'}}
              >
                <code>{{account.id}}</code>
              </Copyable>
            </row.cell>
          </body.row>
        {{/each}}
      </table.body>
    </Rose::Table>
  {{else}}
    <Rose::Table as |table|>
      <table.header as |header|>
        <header.row as |row|>
          <row.headerCell>{{t 'form.name.label'}}</row.headerCell>
          <row.headerCell>{{t 'form.login_name.label'}}</row.headerCell>
          <row.headerCell>{{t 'form.type.label'}}</row.headerCell>
          <row.headerCell>{{t 'form.id.label'}}</row.headerCell>
        </header.row>
      </table.header>
      <table.body as |body|>
        {{#each @model as |account|}}
          <body.row as |row|>
            <row.headerCell>
              {{#if (can 'read model' account)}}
                <LinkTo
                  @route='scopes.scope.auth-methods.auth-method.accounts.account'
                  @model={{account.id}}
                >
                  {{account.accountName}}
                </LinkTo>
              {{else}}
                {{account.accountName}}
              {{/if}}
              <p>{{account.description}}</p>
            </row.headerCell>
            <row.cell>
              {{account.attributes.login_name}}
            </row.cell>
            <row.cell>
              <Rose::Badge>{{account.type}}</Rose::Badge>
            </row.cell>
            <row.cell>
              <Copyable
                @text={{account.id}}
                @buttonText={{t 'actions.copy-to-clipboard'}}
                @acknowledgeText={{t 'states.copied'}}
              >
                <code>{{account.id}}</code>
              </Copyable>
            </row.cell>
          </body.row>
        {{/each}}
      </table.body>
    </Rose::Table>
  {{/if}}
{{else}}

  <Rose::Layout::Centered>
    <Rose::Message
      @title={{t 'resources.account.messages.welcome.title'}}
      as |message|
    >
      <message.description>
        {{t 'resources.account.messages.welcome.description'}}
      </message.description>
      <message.link @route='scopes.scope.auth-methods.auth-method.accounts.new'>
        <Rose::Icon @name='plus-circle-outline' />
        {{t 'resources.account.actions.create'}}
      </message.link>
    </Rose::Message>
  </Rose::Layout::Centered>

{{/if}}