{{!
  Copyright IBM Corp. 2021, 2025
  SPDX-License-Identifier: BUSL-1.1
}}

<Rose::Layout::Page as |page|>
  <page.header>
    <Hds::PageHeader as |PH|>
      <PH.Breadcrumb>
        <Breadcrumbs::Container />
      </PH.Breadcrumb>
      <AuthMethods::AuthMethod::Header
        @model={{@model.authMethod}}
        @header={{PH}}
      />
      <PH.Actions>
        <AuthMethods::AuthMethod::Actions
          @model={{@model.authMethod}}
          @changeState={{this.authMethods.changeState}}
          @removeAsPrimary={{this.authMethods.removeAsPrimary}}
          @makePrimary={{this.authMethods.makePrimary}}
          @delete={{this.authMethods.delete}}
        />
      </PH.Actions>
    </Hds::PageHeader>
  </page.header>

  <page.navigation>
    <AuthMethods::AuthMethod::Nav @model={{@model.authMethod}} />
  </page.navigation>

  <page.body>
    {{#if @model.accounts}}
      {{! OIDC accounts display more fields }}
      {{#if (get @model.accounts '0.isOIDC')}}
        <Hds::Table
          @model={{@model.accounts}}
          @columns={{array
            (hash label=(t 'form.name.label'))
            (hash label=(t 'form.issuer.label'))
            (hash label=(t 'form.subject.label'))
            (hash label=(t 'form.email.label'))
            (hash label=(t 'form.full_name.label'))
            (hash label=(t 'form.type.label'))
            (hash label=(t 'form.id.label'))
          }}
          @valign='middle'
        >
          <:body as |B|>
            <B.Tr>
              <B.Td>
                {{#if (can 'read account' B.data)}}
                  <LinkTo
                    @route='scopes.scope.auth-methods.auth-method.accounts.account'
                    @model={{B.data.id}}
                  >
                    {{B.data.displayName}}
                  </LinkTo>
                {{else}}
                  {{B.data.displayName}}
                {{/if}}
                <Hds::Text::Body @tag='p'>
                  {{B.data.description}}
                </Hds::Text::Body>
              </B.Td>
              <B.Td>
                {{B.data.issuer}}
              </B.Td>
              <B.Td>
                {{B.data.subject}}
              </B.Td>
              <B.Td>
                {{B.data.email}}
              </B.Td>
              <B.Td>
                {{B.data.full_name}}
              </B.Td>
              <B.Td>
                <Hds::Badge @text={{B.data.type}} />
              </B.Td>
              <B.Td>
                <Hds::Copy::Snippet
                  @textToCopy={{B.data.id}}
                  @color='secondary'
                />
              </B.Td>
            </B.Tr>
          </:body>
        </Hds::Table>
      {{else if (get @model.accounts '0.isLDAP')}}
        <Hds::Table
          @model={{@model.accounts}}
          @columns={{array
            (hash label=(t 'form.name.label'))
            (hash label=(t 'resources.account.form.email.label'))
            (hash label=(t 'resources.account.form.full_name.label'))
            (hash label=(t 'resources.account.form.dn.label'))
            (hash label=(t 'resources.account.form.member_of_groups.label'))
          }}
          @valign='middle'
        >
          <:body as |B|>
            <B.Tr>
              <B.Td>
                {{#if (can 'read account' B.data)}}
                  <LinkTo
                    @route='scopes.scope.auth-methods.auth-method.accounts.account'
                    @model={{B.data.id}}
                  >
                    {{B.data.displayName}}
                  </LinkTo>
                {{else}}
                  {{B.data.displayName}}
                {{/if}}
                <Hds::Text::Body @tag='p'>
                  {{B.data.description}}
                </Hds::Text::Body>
              </B.Td>
              <B.Td>
                {{B.data.email}}
              </B.Td>
              <B.Td>{{B.data.full_name}}</B.Td>

              <B.Td>{{B.data.dn}}</B.Td>
              <B.Td>
                <div class='truncated-list'>
                  {{truncate-list 'actions.more' B.data.member_of_groups 3}}
                </div>
              </B.Td>
            </B.Tr>
          </:body>
        </Hds::Table>
      {{else}}
        <Hds::Table
          @model={{@model.accounts}}
          @columns={{array
            (hash label=(t 'form.name.label'))
            (hash label=(t 'form.login_name.label'))
            (hash label=(t 'form.type.label'))
            (hash label=(t 'form.id.label'))
          }}
          @valign='middle'
        >
          <:body as |B|>
            <B.Tr>
              <B.Td>
                {{#if (can 'read account' B.data)}}
                  <LinkTo
                    @route='scopes.scope.auth-methods.auth-method.accounts.account'
                    @model={{B.data.id}}
                  >
                    {{B.data.accountName}}
                  </LinkTo>
                {{else}}
                  {{B.data.accountName}}
                {{/if}}
                <Hds::Text::Body @tag='p'>
                  {{B.data.description}}
                </Hds::Text::Body>
              </B.Td>
              <B.Td>
                {{B.data.login_name}}
              </B.Td>
              <B.Td>
                <Hds::Badge @text={{B.data.type}} />
              </B.Td>
              <B.Td>
                <Hds::Copy::Snippet
                  @textToCopy={{B.data.id}}
                  @color='secondary'
                />
              </B.Td>
            </B.Tr>
          </:body>
        </Hds::Table>
      {{/if}}
    {{else}}
      <Rose::Layout::Centered>
        <Hds::ApplicationState as |A|>
          <A.Header @title={{t 'resources.account.messages.welcome.title'}} />
          <A.Body @text={{this.messageDescription}} />
          {{#if (can 'create model' this.authMethod collection='accounts')}}
            <A.Footer as |F|>
              <F.LinkStandalone
                @icon='plus-circle'
                @text={{t 'resources.account.actions.create'}}
                @route='scopes.scope.auth-methods.auth-method.accounts.new'
              />
            </A.Footer>
          {{/if}}
        </Hds::ApplicationState>
      </Rose::Layout::Centered>

    {{/if}}
  </page.body>

</Rose::Layout::Page>