{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<Rose::Layout::Page as |page|>

  <page.breadcrumbs>
    <BreadCrumbs />
  </page.breadcrumbs>

  <page.header>
    <h2>
      {{t 'resources.account.titles.new'}}
      <DocLink @doc='account.new' @iconSize='large' />
    </h2>
    <p>{{t 'resources.auth-method.description'}}</p>
  </page.header>

  <page.body>
    <Form::Account
      @model={{@model}}
      @submit={{route-action 'save' @model}}
      @cancel={{route-action 'cancel' @model}}
    />

  </page.body>

</Rose::Layout::Page>