<Rose::Layout::Page as |page|>

  <page.breadcrumbs>
    <BreadCrumbs />
  </page.breadcrumbs>

  <page.header>
    <h2>
      {{t "resources.host-catalog.title_plural"}}
      <DocLink @doc="topics.host-catalog" @iconSize="large" />
    </h2>
    <p>{{t "resources.host-catalog.description"}}</p>
  </page.header>

  <page.actions>
    {{#if @model}}
      <Rose::LinkButton @route="scopes.scope.projects.project.host-catalogs.new" @style="primary">
        {{t "titles.new"}}
      </Rose::LinkButton>
    {{/if}}
  </page.actions>

  <page.body>

    {{#if @model}}

      <Rose::Table as |table|>
        <table.header as |header|>
          <header.row as |row|>
            <row.headerCell>{{t "form.name.label"}}</row.headerCell>
            <row.headerCell>{{t "form.type.label"}}</row.headerCell>
            <row.headerCell>{{t "form.id.label"}}</row.headerCell>
          </header.row>
        </table.header>
        <table.body as |body|>
          {{#each @model as |hostCatalog|}}
            <body.row as |row|>
              <row.headerCell>
                <LinkTo
                  @route="scopes.scope.projects.project.host-catalogs.host-catalog"
                  @model={{hostCatalog.id}}
                >
                  {{hostCatalog.displayName}}
                </LinkTo>
                <p>{{hostCatalog.description}}</p>
              </row.headerCell>
              <row.cell>
                <Rose::Badge>
                  {{t (concat 'resources.host-catalog.types.' hostCatalog.type)}}
                </Rose::Badge>
              </row.cell>
              <row.cell>
                <Copyable
                  @text={{hostCatalog.id}}
                  @buttonText={{t "actions.copy-to-clipboard"}}
                  @acknowledgeText={{t "states.copied"}}
                >
                  <code>{{hostCatalog.id}}</code>
                </Copyable>
              </row.cell>
            </body.row>
          {{/each}}
        </table.body>
      </Rose::Table>

    {{else}}

      <Rose::Layout::Centered>
        <Rose::Message @title={{t "resources.host-catalog.messages.welcome.title"}} as |message|>
          <message.description>
            {{t "resources.host-catalog.description"}}
          </message.description>
          <message.link @route="scopes.scope.projects.project.host-catalogs.new">
            <Rose::Icon @name="plus-circle-outline" />
            {{t "titles.new"}}
          </message.link>
        </Rose::Message>
      </Rose::Layout::Centered>

    {{/if}}

  </page.body>

</Rose::Layout::Page>
