<h2>
  {{t "resources.role.title"}}
  <DocLink @doc="topics.role" @iconSize="large" />
</h2>
<p>{{t "resources.role.grant.description"}}</p>
<Copyable
  @text={{@model.id}}
  @buttonText={{t "actions.copy-to-clipboard"}}
  @acknowledgeText={{t "states.copied"}}
>
  <code>{{@model.id}}</code>
</Copyable>
