{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

{{#if this.isClientAgentActive}}
  <SettingsCard
    @header={{t 'settings.client-agent.title'}}
    @icon='network-alt'
    @description={{t 'settings.client-agent.description'}}
  >
    <:state>
      {{#if this.isClientAgentStatusRunning}}
        <Hds::Badge
          @text={{t 'states.running'}}
          @icon='running'
          @color='success'
        />
      {{else}}
        <Hds::Badge
          @text={{t 'states.paused'}}
          @icon='pause-circle'
          @color='neutral'
        />
      {{/if}}
    </:state>
    <:body>
      <div>
        <Hds::Text::Display>
          {{t 'settings.version'}}
        </Hds::Text::Display>
        <Hds::Text::Body @tag='p' @weight='medium'>
          {{@model.clientAgentStatus.version}}
        </Hds::Text::Body>
      </div>
      {{#if @model.clientAgentStatus.errors}}
        <Hds::Alert @type='inline' @color='warning' as |A|>
          <A.Title>{{t 'settings.alerts.client-agent'}}</A.Title>
          <A.Description>
            {{#each @model.clientAgentStatus.errors as |error|}}
              <Hds::Text::Body @tag='p'>
                {{error.message}}
              </Hds::Text::Body>
            {{/each}}
          </A.Description>
        </Hds::Alert>
      {{/if}}

    </:body>
    <:action>
      {{#if this.isClientAgentStatusRunning}}
        <Hds::Button
          @text={{t 'actions.pause'}}
          @color='secondary'
          @icon={{if (is-loading) 'loading' 'pause'}}
          @size='medium'
          disabled={{(is-loading)}}
          {{on 'click' this.pauseClientAgent}}
        />
      {{else}}
        <Hds::Button
          @text={{t 'actions.resume'}}
          @color='secondary'
          @icon={{if (is-loading) 'loading' 'play'}}
          @size='medium'
          disabled={{(is-loading)}}
          {{on 'click' this.resumeClientAgent}}
        />
      {{/if}}
    </:action>
  </SettingsCard>
{{/if}}