<div class='target-worker-filter' data-test-filter={{@name}}>

  <Hds::Form::Toggle::Field
    name='target-worker-filter-toggle'
    checked={{@toggleEnabled}}
    disabled={{@disabled}}
    @isRequired={{false}}
    @isOptional={{true}}
    {{on 'change' @toggleAction}}
    as |F|
  >
    <F.Label>{{t (concat 'resources.target.workers.' @name '.title')}}</F.Label>
    <F.HelperText>{{t
        (concat 'resources.target.workers.' @name '.description')
      }}</F.HelperText>
  </Hds::Form::Toggle::Field>

  {{#if @toggleEnabled}}
    <Hds::Form::TextInput::Field
      @isRequired={{false}}
      @isOptional={{true}}
      @value={{@value}}
      @isInvalid={{@isInvalid}}
      @type={{@type}}
      name={{@name}}
      disabled={{@disabled}}
      {{on 'input' @onChange}}
      as |F|
    >
      <F.Label>{{t 'resources.target.workers.filter.title'}}</F.Label>
      <F.HelperText>
        {{t 'resources.target.workers.filter.description'}}
        <Hds::Link::Inline @href={{doc-url 'target.worker-filters'}}>
          {{t 'actions.learn-more'}}
        </Hds::Link::Inline>
      </F.HelperText>
      {{yield F}}
    </Hds::Form::TextInput::Field>
  {{/if}}
</div>