{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<Rose::Layout::Page as |page|>

  <page.header>
    <Hds::PageHeader as |PH|>
      <PH.Breadcrumb>
        <Breadcrumbs::Container />
      </PH.Breadcrumb>
      <PH.Title>
        {{t 'resources.alias.title_plural'}}
        <DocLink @doc='alias' />
      </PH.Title>
      <PH.Description>
        {{t 'resources.alias.description'}}
      </PH.Description>
      <PH.Actions>
        {{#if (can 'create model' this.scope collection='aliases')}}
          {{#if @model.doAliasesExist}}
            <Hds::Button
              @route='scopes.scope.aliases.new'
              @text={{t 'resources.alias.titles.new'}}
            />
          {{/if}}
        {{/if}}
      </PH.Actions>
    </Hds::PageHeader>
  </page.header>

  <page.body class='search-filtering'>
    {{#if @model.doAliasesExist}}
      <Hds::SegmentedGroup as |S|>
        <S.TextInput
          @value={{this.search}}
          @type='search'
          placeholder={{t 'actions.search'}}
          aria-label={{t 'actions.search'}}
          {{on 'input' this.handleSearchInput}}
        />
      </Hds::SegmentedGroup>

      {{#if @model.aliases}}
        <Hds::Table @valign='middle'>
          <:head as |H|>
            <H.Tr>
              <H.Th>
                {{t 'resources.alias.title'}}
              </H.Th>
              <H.Th>
                {{t 'resources.alias.titles.points_to'}}
              </H.Th>
              <H.Th>
                {{t 'resources.scope.title'}}
              </H.Th>
              <H.Th>
                {{t 'resources.alias.titles.resource_id'}}
              </H.Th>
              <H.Th @isVisuallyHidden='true'>
                {{t 'titles.actions'}}
              </H.Th>
            </H.Tr>
          </:head>

          <:body as |B|>
            {{#each @model.aliases as |data|}}
              <B.Tr data-test-alias-row={{data.alias.id}}>
                <B.Td>
                  {{#if (can 'read model' data.alias)}}
                    <LinkTo
                      @route='scopes.scope.aliases.alias'
                      @model={{data.alias.id}}
                    >
                      {{data.alias.value}}
                    </LinkTo>
                  {{else}}
                    <Hds::Text::Body @tag='p'>
                      {{data.alias.value}}
                    </Hds::Text::Body>
                  {{/if}}
                  {{#if data.alias.description}}
                    <Hds::Text::Body @tag='p'>
                      {{data.alias.description}}
                    </Hds::Text::Body>
                  {{/if}}
                </B.Td>
                <B.Td>
                  {{#if data.target.displayName}}
                    <div class='aliases-list-cell-item'>
                      <span><Hds::Icon
                          @name='target'
                          @isInline={{true}}
                        /></span>
                      <span> {{data.target.displayName}} </span>
                    </div>
                  {{else}}
                    <Hds::Text::Body
                      @tag='p'
                      @size='100'
                      @weight='medium'
                      @color='faint'
                    >
                      {{t 'titles.not-set'}}
                    </Hds::Text::Body>
                  {{/if}}
                </B.Td>
                <B.Td>
                  <Hds::Badge @text={{t 'titles.global'}} @icon='globe' />
                </B.Td>
                <B.Td>
                  {{#if data.alias.destination_id}}
                    <Hds::Copy::Snippet
                      @textToCopy={{data.alias.destination_id}}
                      @color='secondary'
                    />
                  {{/if}}
                </B.Td>
                <B.Td>
                  {{#let
                    (hash
                      canUpdate=(can 'update model' data.alias)
                      canDelete=(can 'delete model' data.alias)
                    )
                    as |perms|
                  }}
                    {{#if (or perms.canUpdate perms.canDelete)}}
                      <Hds::Dropdown as |dd|>

                        <dd.ToggleIcon
                          @icon='more-horizontal'
                          @text={{t 'actions.manage'}}
                          @hasChevron={{false}}
                          @size='small'
                        />
                        {{#if perms.canUpdate}}
                          <dd.Interactive
                            @route='scopes.scope.aliases.alias'
                            @model={{data.alias.id}}
                          >
                            {{t 'actions.edit'}}
                          </dd.Interactive>
                          {{#if data.alias.destination_id}}
                            <dd.Interactive
                              @color='action'
                              {{on 'click' (fn this.clearAlias data.alias)}}
                            >
                              {{t 'actions.clear'}}
                            </dd.Interactive>
                          {{/if}}
                        {{/if}}

                        {{#if perms.canDelete}}
                          <dd.Interactive
                            @color='critical'
                            {{on 'click' (fn this.deleteAlias data.alias)}}
                          >
                            {{t 'actions.delete'}}
                          </dd.Interactive>
                        {{/if}}
                      </Hds::Dropdown>

                    {{/if}}
                  {{/let}}
                </B.Td>
              </B.Tr>
            {{/each}}
          </:body>
        </Hds::Table>
        <Rose::Pagination
          @totalItems={{@model.totalItems}}
          @currentPage={{this.page}}
          @currentPageSize={{this.pageSize}}
        />
      {{else}}
        <Hds::ApplicationState data-test-no-alias-results as |A|>
          <A.Header @title={{t 'titles.no-results-found'}} />
          <A.Body
            @text={{t
              'descriptions.no-search-results'
              query=this.search
              resource=(t 'resources.alias.title_plural')
            }}
          />
        </Hds::ApplicationState>
      {{/if}}
    {{else}}
      <Hds::ApplicationState as |A|>
        <A.Header @title={{t 'resources.alias.messages.none.title'}} />
        <A.Body @text={{this.messageDescription}} />
        {{#if (can 'create model' this.scope collection='aliases')}}
          <A.Footer as |F|>
            <F.LinkStandalone
              @icon='plus-circle'
              @iconPosition='leading'
              @route='scopes.scope.aliases.new'
              @text={{t 'resources.alias.messages.none.link'}}
            />
          </A.Footer>
        {{/if}}
      </Hds::ApplicationState>
    {{/if}}

  </page.body>
</Rose::Layout::Page>