{{!
  Copyright IBM Corp. 2021, 2025
  SPDX-License-Identifier: BUSL-1.1
}}

<div class='info-field{{if @icon " has-icon"}}'>
  {{#if @icon}}
    <Hds::Icon @name={{@icon}} @size='24' @isInline={{true}} />
  {{/if}}
  <Hds::Form::TextInput::Field
    @value={{@value}}
    readonly={{true}}
    ...attributes
    as |F|
  >
    {{yield F}}
  </Hds::Form::TextInput::Field>
</div>