{{#if @header}}
  <th ...attributes class="rose-table-cell rose-table-header-cell">
    {{@text}}
    {{yield}}
  </th>
{{else}}
  <td ...attributes class="rose-table-cell rose-table-body-cell">
    {{@text}}
    {{yield}}
  </td>
{{/if}}
