{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<Rose::Layout::Page as |page|>

  <page.breadcrumbs>
    <Breadcrumbs::Container />
  </page.breadcrumbs>

  <page.header>
    <h2>
      {{t 'resources.worker.title'}}
      <DocLink @doc='worker' @iconSize='large' />
    </h2>
    <p>{{t 'resources.worker.description'}}</p>
    <Hds::Copy::Snippet @textToCopy={{@model.id}} @color='secondary' />
  </page.header>

  <page.navigation>
    <Rose::Nav::Tabs as |nav|>
      <nav.link @route='scopes.scope.workers.worker.index'>
        {{t 'titles.details'}}
      </nav.link>
      <nav.link @route='scopes.scope.workers.worker.tags'>
        {{t 'resources.worker.tags.title_plural'}}
      </nav.link>
    </Rose::Nav::Tabs>
  </page.navigation>

  <page.actions>
    <Rose::Dropdown
      @text={{t 'actions.manage'}}
      @dropdownRight={{true}}
      as |dropdown|
    >
      {{#if (can 'delete worker' @model)}}
        <dropdown.button
          @style='danger'
          @disabled={{@model.canSave}}
          {{on 'click' (fn this.workers.delete @model)}}
        >
          {{t 'resources.worker.actions.delete'}}
        </dropdown.button>
      {{/if}}
    </Rose::Dropdown>
  </page.actions>

  <page.body>
    <Form::Worker
      @model={{@model}}
      @submit={{fn this.workers.save @model}}
      @cancel={{fn this.workers.cancel @model}}
    />
  </page.body>

</Rose::Layout::Page>