<Rose::Layout::Page as |page|>

  <page.breadcrumbs>
    <BreadCrumbs />
  </page.breadcrumbs>

  <page.header>
    <h2>
      {{t 'resources.worker.title'}}
      <DocLink @doc='worker' @iconSize='large' />
    </h2>
    <p>{{t 'resources.worker.description'}}</p>
    <Copyable
      @text={{@model.id}}
      @buttonText={{t 'actions.copy-to-clipboard'}}
      @acknowledgeText={{t 'states.copied'}}
    >
      <code>{{@model.id}}</code>
    </Copyable>
  </page.header>

  <page.actions>
    <Rose::Dropdown
      @text='{{t 'actions.manage'}}'
      @dropdownRight={{true}}
      as |dropdown|
    >
      {{#if (can 'delete worker' @model)}}
        <dropdown.button
          @style='danger'
          @disabled={{@model.canSave}}
          {{on 'click' (route-action 'delete' @model)}}
        >
          {{t 'resources.worker.dropdown.delete'}}
        </dropdown.button>
      {{/if}}
    </Rose::Dropdown>
  </page.actions>

  <page.body>
    <Rose::Separator />
    <Form::Worker
      @model={{@model}}
      @submit={{route-action 'save' @model}}
      @cancel={{route-action 'cancel' @model}}
    />
  </page.body>

</Rose::Layout::Page>