<Rose::Layout::Page as |page|>

  <page.breadcrumbs>
    <BreadCrumbs />
  </page.breadcrumbs>

  <page.header>
    <h2>{{t "resources.project"}}</h2>
  </page.header>

  <page.navigation>
    <Rose::Nav::Tabs as |nav|>
      <nav.link @route='orgs.org.projects.project'>
        {{t 'titles.settings'}}
      </nav.link>
    </Rose::Nav::Tabs>
  </page.navigation>

  <page.body>
    <Form::Project
      @model={{@model}}
      @submit={{route-action "save" @model}}
      @cancel={{route-action "cancel" @model}}
    />
    <Rose::Separator />
    <Rose::Button
      @style="warning"
      @disabled={{@model.canSave}}
      {{on "click" (route-action "delete" @model)}}
    >
      {{t 'actions.delete'}}
    </Rose::Button>
  </page.body>

</Rose::Layout::Page>
