<Rose::Layout::Page class="host-catalogs" as |page|>
  <page.header>
    <h2>{{t 'resources.host-catalogs'}}</h2>
  </page.header>

  <page.actions>
    <LinkTo
      @route="orgs.org.projects.project.host-catalogs.new"
    >
      {{t 'titles.new'}}
    </LinkTo>
  </page.actions>

  <page.body>
    <div class="description">{{t 'descriptions.host-catalogs'}}</div>

    <Rose::Table as |table|>
      <table.header as |header|>
        <header.row as |row|>
          <row.cell>{{t 'table.headers.name'}}</row.cell>
          <row.cell>{{t 'table.headers.type'}}</row.cell>
          <row.cell>{{t 'table.headers.description'}}</row.cell>
        </header.row>
      </table.header>
      <table.body as |body|>
        {{#each @model as |hostCatalog|}}
          <body.row as |row|>
            <row.cell>
              <LinkTo
                @route="orgs.org.projects.project.host-catalogs.host-catalog"
                @model={{hostCatalog}}
              >
                {{hostCatalog.name}}
              </LinkTo>
            </row.cell>
            <row.cell>{{hostCatalog.type}}</row.cell>
            <row.cell>{{hostCatalog.description}}</row.cell>
          </body.row>
        {{/each}}
      </table.body>
    </Rose::Table>
  </page.body>

</Rose::Layout::Page>
