<Rose::Layout::Page as |page|>

  <page.breadcrumbs>
    <BreadCrumbs />
  </page.breadcrumbs>

  <page.header>
    <h2>
      {{t 'resources.role.title_plural'}}
      <DocLink @doc='role' @iconSize='large' />
    </h2>
    {{#if @model}}
      <p>{{t 'resources.role.description'}}</p>
    {{/if}}
  </page.header>

  <page.actions>
    {{#if @model}}
      <Rose::LinkButton @route='scopes.scope.roles.new' @style='primary'>{{t
          'titles.new'
        }}</Rose::LinkButton>
    {{/if}}
  </page.actions>

  <page.body>

    {{#if @model}}

      <Rose::Table as |table|>
        <table.header as |header|>
          <header.row as |row|>
            <row.headerCell>{{t 'form.name.label'}}</row.headerCell>
            <row.headerCell>{{t 'form.id.label'}}</row.headerCell>
          </header.row>
        </table.header>
        <table.body as |body|>
          {{#each @model as |role|}}
            <body.row as |row|>
              <row.headerCell>
                {{#if (can 'read model' role)}}
                  <LinkTo @route='scopes.scope.roles.role' @model={{role.id}}>
                    {{role.displayName}}
                  </LinkTo>
                {{else}}
                  {{role.displayName}}
                {{/if}}
                <p>{{role.description}}</p>
              </row.headerCell>
              <row.cell>
                <Copyable
                  @text={{role.id}}
                  @buttonText={{t 'actions.copy-to-clipboard'}}
                  @acknowledgeText={{t 'states.copied'}}
                >
                  <code>{{role.id}}</code>
                </Copyable>
              </row.cell>
            </body.row>
          {{/each}}
        </table.body>
      </Rose::Table>

    {{else}}

      <Rose::Layout::Centered>
        <Rose::Message
          @title={{t 'resources.role.messages.welcome.title'}}
          as |message|
        >
          <message.description>
            {{t 'resources.role.description'}}
          </message.description>
          <message.link @route='scopes.scope.roles.new'>
            <Rose::Icon @name='flight-icons/plus-circle-16' />
            {{t 'titles.new'}}
          </message.link>
        </Rose::Message>
      </Rose::Layout::Centered>

    {{/if}}

  </page.body>

</Rose::Layout::Page>