{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<Rose::Layout::Page as |page|>

  <page.breadcrumbs>
    <BreadCrumbs />
  </page.breadcrumbs>

  <page.header>
    <h2>
      {{t 'resources.role.title_plural'}}
      <DocLink @doc='role' @iconSize='large' />
    </h2>
    {{#if @model}}
      <p>{{t 'resources.role.description'}}</p>
    {{/if}}
  </page.header>

  <page.actions>
    {{#if (can 'create model' this.scope collection='roles')}}
      {{#if @model}}
        <Rose::LinkButton @route='scopes.scope.roles.new' @style='primary'>{{t
            'resources.role.titles.new'
          }}</Rose::LinkButton>
      {{/if}}
    {{/if}}
  </page.actions>

  <page.body>

    {{#if @model}}

      <Hds::Table
        @model={{@model}}
        @columns={{array
          (hash label=(t 'form.name.label'))
          (hash label=(t 'form.id.label'))
        }}
        @valign='middle'
      >
        <:body as |B|>
          <B.Tr>
            <B.Td>
              {{#if (can 'read role' B.data)}}
                <LinkTo @route='scopes.scope.roles.role' @model={{B.data.id}}>
                  {{B.data.displayName}}
                </LinkTo>
              {{else}}
                {{B.data.displayName}}
              {{/if}}
              <p>{{B.data.description}}</p>
            </B.Td>
            <B.Td>
              <Copyable
                @text={{B.data.id}}
                @buttonText={{t 'actions.copy-to-clipboard'}}
                @acknowledgeText={{t 'states.copied'}}
              >
                <code>{{B.data.id}}</code>
              </Copyable>
            </B.Td>
          </B.Tr>
        </:body>
      </Hds::Table>

    {{else}}

      <Rose::Layout::Centered>
        <Rose::Message
          @title={{t 'resources.role.messages.welcome.title'}}
          as |message|
        >
          <message.description>
            {{#if (can 'list model' this.scope collection='roles')}}
              {{! can list (at least):  show default welcome message}}
              {{t 'resources.role.description'}}
            {{else if (can 'create model' this.scope collection='roles')}}
              {{! can create (only):  show create-but-not-list welcome message}}
              {{t
                'descriptions.create-but-not-list'
                resource=(t 'resources.role.title_plural')
              }}
            {{else}}
              {{! can neither list nor create }}
              {{t
                'descriptions.neither-list-nor-create'
                resource=(t 'resources.role.title_plural')
              }}
            {{/if}}
          </message.description>
          {{#if (can 'create model' this.scope collection='roles')}}
            <message.link @route='scopes.scope.roles.new'>
              <Rose::Icon @name='flight-icons/svg/plus-circle-16' />
              {{t 'titles.new'}}
            </message.link>
          {{/if}}
        </Rose::Message>
      </Rose::Layout::Centered>

    {{/if}}

  </page.body>

</Rose::Layout::Page>