<details
  ...attributes
  class="rose-header-dropdown{{if @alignRight " dropdown-right"}} {{if  @style (concat "rose-header-dropdown-" @style) "rose-header-dropdown-light"}}"
  {{on-click-outside this.close}}
>

  <summary
    class="rose-header-dropdown-trigger{{if @iconOnly " icon-only"}}"
    title={{@text}}
  >

    {{#if @icon}}
      <Rose::Icon
        @name={{@icon}}
        @size="large"
      />
    {{/if}}

    <span class="rose-header-dropdown-trigger-text">
      {{@text}}
    </span>

  </summary>

  <div class="rose-header-dropdown-content">
    {{yield (hash
      link=(component "link-to" class="rose-header-dropdown-link")
      button=(component "rose/button" style="header-dropdown")
    )}}
  </div>

</details>
