<h2>
  {{t "resources.auth-method.title"}}
  {{#if @model.isPrimary}}
    &nbsp;
    <Rose::Badge @style="success-outline" @size="">
      {{t 'states.primary'}}
    </Rose::Badge>
    &nbsp;
  {{/if}}
  <DocLink @doc="auth-method" @iconSize="large" />
</h2>
<p>{{t "resources.auth-method.description"}}</p>
<Copyable
  @text={{@model.id}}
  @buttonText={{t "actions.copy-to-clipboard"}}
  @acknowledgeText={{t "states.copied"}}
>
  <code>{{@model.id}}</code>
</Copyable>
