<h2>{{@model.type}}</h2>
<Form::AuthMethod
  @model={{@model}}
  @submit={{route-action 'save' @model}}
  @cancel={{route-action 'cancel' @model}}
  @removeItemByIndex={{route-action 'removeItemByIndex' @model}}
  @addStringItem={{route-action 'addStringItem' @model}}
  @addAccountClaimMapItem={{route-action 'addAccountClaimMapItem' @model}}
/>
