<div class="rose-dialog-cover-modal-overlay"></div>

<section
  ...attributes
  role="dialog"
  class="rose-dialog-cover"
  id={{this.id}}
  aria-describedby={{concat "dialog-cover-header-" this.id}}
  tabindex="0"
  {{focus-trap}}
>
  <header
    class="rose-dialog-cover-header"
    id={{concat "dialog-cover-header-" this.id}}
  >
    {{yield to="header"}}
  </header>
  <div class="rose-dialog-cover-body">
    {{yield to="body"}}
  </div>
</section>
