{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<button
  ...attributes
  type={{if @onSubmit 'submit' 'button'}}
  disabled={{if @disabled 'disabled'}}
  class='{{if @style (concat "rose-button-" @style)}}
    {{if @iconLeft "has-icon-left"}}
    {{if @iconRight "has-icon-right"}}
    {{if @iconOnly "has-icon-only"}}'
>

  <span class='rose-button-wrapper'>
    {{#if @iconLeft}}
      <Hds::Icon @name={{@iconLeft}} @isInline={{true}} />
    {{/if}}

    <span class='rose-button-body'>
      {{yield}}
    </span>

    {{#if @iconOnly}}
      <Hds::Icon @name={{@iconOnly}} @isInline={{true}} />
    {{/if}}

    {{#if @iconRight}}
      <Hds::Icon @name={{@iconRight}} @isInline={{true}} />
    {{/if}}
  </span>
</button>