<div data-test-worker-diagram>
  {{#if (feature-flag 'target-worker-filters-v2-hcp')}}
    <WorkerDiagram::DualFilter::Hcp
      @egressFilter={{@egressFilter}}
      @ingressFilter={{@ingressFilter}}
    />
  {{else if (feature-flag 'target-worker-filters-v2-ingress')}}
    <WorkerDiagram::DualFilter
      @egressFilter={{@egressFilter}}
      @ingressFilter={{@ingressFilter}}
    />
  {{else}}
    <WorkerDiagram::SingleFilter @egressFilter={{@egressFilter}} />
  {{/if}}
</div>