{{!
  Copyright IBM Corp. 2021, 2025
  SPDX-License-Identifier: BUSL-1.1
}}

<div class='worker-diagram'>
  {{#if (feature-flag 'worker-filter')}}
    {{#if (feature-flag 'worker-filter-hcp')}}
      <WorkerDiagram::DualFilter::Hcp
        @egressWorkerFilterEnabled={{@egressWorkerFilterEnabled}}
        @ingressWorkerFilterEnabled={{@ingressWorkerFilterEnabled}}
      />
    {{else}}
      <WorkerDiagram::DualFilter
        @egressWorkerFilterEnabled={{@egressWorkerFilterEnabled}}
        @ingressWorkerFilterEnabled={{@ingressWorkerFilterEnabled}}
      />
    {{/if}}
  {{else}}
    <WorkerDiagram::SingleFilter
      @egressWorkerFilterEnabled={{@egressWorkerFilterEnabled}}
    />
  {{/if}}
</div>