<Rose::Layout::Page as |page|>
  <page.breadcrumbs>
    <BreadCrumbs />
  </page.breadcrumbs>

  <page.header>
    <h2>{{t 'resources.session-recording.session.title'}}</h2>
  </page.header>

  <page.body>
    <Layout::Sidebar as |sb|>
      <sb.Body>
        <p>
          {{t 'resources.session-recording.title'}}
          {{@model.id}}
        </p>

        {{#each @model.connection_recordings as |connection|}}
          <p>{{t 'resources.session-recording.connection.title'}}
            {{connection.id}}</p>
          {{#each connection.channel_recordings as |channel|}}
            <p>
              <LinkTo
                @route='scopes.scope.session-recordings.session-recording.channels-by-connection.channel'
                @model={{channel.id}}
              >
                {{channel.id}}
              </LinkTo>
            </p>
          {{/each}}
        {{/each}}
      </sb.Body>

      <sb.Sidebar>
        <p>{{t 'actions.help'}}</p>
      </sb.Sidebar>
    </Layout::Sidebar>
  </page.body>
</Rose::Layout::Page>