<Rose::Layout::Centered class='create-resources'>
  <Rose::Frame>
    <:header>
      <h2>{{t 'onboarding.add-target.titles.have-a-target'}}</h2>
    </:header>
    <:body>
      <p>{{t 'onboarding.add-target.descriptions.target-info'}}</p>
      <p>{{t 'onboarding.add-target.descriptions.setup-first-target'}}</p>
      <Form::Onboarding
        @submit={{route-action 'createTarget'}}
        @cancel={{route-action 'doLater'}}
      />
    </:body>
  </Rose::Frame>
</Rose::Layout::Centered>