{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

{{page-title (t 'titles.success')}}

<Rose::Layout::Centered>
  <Rose::Frame class='create-resources'>
    <:header>
      <Hds::Icon @name='boundary-color' @size='24' @isInline={{true}} />
      <Hds::Text::Display
        @tag='h2'
        @size='400'
        @weight='bold'
        class='header'
      >{{t 'onboarding.success.titles.connect'}}</Hds::Text::Display>
    </:header>
    <:body>
      {{! We have created }}
      <div class='create-resources-item'>
        <span class='create-resources-item-header'>
          <Hds::Icon
            @name='check-circle'
            @size='24'
            class='hds-foreground-success'
            @isInline={{true}}
          />
          <Hds::Text::Display
            @tag='h3'
            @size='300'
            @weight='bold'
            class='remove-header-margin'
          >{{t
              'onboarding.success.titles.creation-success'
            }}</Hds::Text::Display>
        </span>
        <Hds::Text::Body @tag='p'>
          {{t 'onboarding.success.descriptions.role'}}
        </Hds::Text::Body>
      </div>

      {{! Download Desktop client }}
      <div class='create-resources-item'>
        <span class='create-resources-item-header'>
          <Hds::Text::Display
            @tag='h3'
            @size='300'
            @weight='bold'
            class='remove-header-margin'
          >{{t 'onboarding.success.titles.desktop'}}</Hds::Text::Display>
        </span>
        <Hds::Text::Body @tag='p'>
          {{t 'onboarding.success.descriptions.download'}}
        </Hds::Text::Body>

        <Hds::Link::Standalone
          @icon='download'
          @text={{t 'onboarding.success.links.install'}}
          @href={{doc-url 'downloads'}}
          isHrefExternal={{true}}
        />

        <Hds::Link::Standalone
          @icon='docs-link'
          @text={{t 'onboarding.success.links.learn'}}
          @href={{doc-url 'getting-started.desktop'}}
          isHrefExternal={{true}}
        />

        {{! Controller }}
        <div class='create-resources-item-controller'>
          <Hds::Text::Display @tag='h4' class='remove-header-margin'>
            {{t 'onboarding.success.titles.controller'}}
          </Hds::Text::Display>
          <Hds::Text::Body @color='faint'>{{t
              'onboarding.success.descriptions.controller'
            }}</Hds::Text::Body>
          <div class='create-resources-item-controller-copyable'>
            <Hds::Copy::Snippet @textToCopy={{this.model.clusterUrl}} />
          </div>

          <Image @name='targets' />
        </div>
      </div>

      {{! Developers }}
      <div class='create-resources-item'>
        <Hds::Text::Display @tag='h4' class='remove-header-margin'>
          {{t 'onboarding.success.titles.developers'}}
        </Hds::Text::Display>
        <Hds::Text::Body @tag='p'>
          {{t 'onboarding.success.descriptions.developers'}}
        </Hds::Text::Body>

        <Hds::Link::Standalone
          @icon='docs-link'
          @text={{t 'onboarding.success.links.cli'}}
          @href={{doc-url 'api-client.cli'}}
          isHrefExternal={{true}}
        />

        <Hds::Link::Standalone
          @icon='docs-link'
          @text={{t 'onboarding.success.links.api'}}
          @href={{doc-url 'api-client.api'}}
          isHrefExternal={{true}}
        />
      </div>

      <Hds::Button
        @text={{t 'actions.done'}}
        data-test-onboarding-done-button
        {{on 'click' (fn this.showTargetList @model)}}
      />
    </:body>
  </Rose::Frame>
</Rose::Layout::Centered>