{{page-title (t 'titles.new')}}

<Rose::Layout::Page as |page|>
  <page.header>
    <h2>{{t 'titles.new'}}</h2>
  </page.header>

  <page.breadcrumbs>
    <BreadCrumbs />
  </page.breadcrumbs>

  <page.body>
    <Form::AuthMethod
      @model={{@model}}
      @submit={{route-action 'save' @model}}
      @cancel={{route-action 'cancel' @model}}
    />
  </page.body>
</Rose::Layout::Page>