{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

{{page-title (t 'titles.new')}}
<Breadcrumbs::Item
  @text={{t 'resources.auth-method.titles.new'}}
  @route='scopes.scope.auth-methods.new'
/>

<Rose::Layout::Page as |page|>
  <page.header>
    <Hds::Text::Display
      @tag='h2'
      @size='400'
      @weight='bold'
      class='header-spacing'
    >
      {{t 'resources.auth-method.titles.new'}}
      <DocLink @doc='auth-method' />
    </Hds::Text::Display>
    <p>{{t 'resources.auth-method.description'}}</p>
  </page.header>

  <page.breadcrumbs>
    <Breadcrumbs::Container />
  </page.breadcrumbs>

  <page.body>
    <Form::AuthMethod
      @model={{@model}}
      @submit={{fn this.authMethods.save @model}}
      @cancel={{fn this.authMethods.cancel @model}}
      @removeItemByIndex={{fn this.authMethods.removeItemByIndex @model}}
      @addStringItem={{fn this.authMethods.addStringItem @model}}
      @addAccountMapItem={{fn this.authMethods.addAccountMapItem @model}}
    />
  </page.body>
</Rose::Layout::Page>