{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title (t 'titles.new')}}

<Rose::Layout::Page as |page|>
  <page.header>
    <h2>
      {{t 'resources.auth-method.titles.new'}}
      <DocLink @doc='auth-method' @iconSize='large' />
    </h2>
    <p>{{t 'resources.auth-method.description'}}</p>
  </page.header>

  <page.breadcrumbs>
    <BreadCrumbs />
  </page.breadcrumbs>

  <page.body>
    <Form::AuthMethod
      @model={{@model}}
      @submit={{route-action 'save' @model}}
      @cancel={{route-action 'cancel' @model}}
      @removeItemByIndex={{route-action 'removeItemByIndex' @model}}
      @addStringItem={{route-action 'addStringItem' @model}}
      @addAccountClaimMapItem={{route-action 'addAccountClaimMapItem' @model}}
    />
  </page.body>
</Rose::Layout::Page>