<div class='secret-editor'>
  {{#if this.isDisabled}}
    <SecretEditorSkeleton>
      <Rose::Icon @name='flight-icons/svg/eye-off-16' @size='medium' />
      {{t 'form.secret-editor.details'}}
    </SecretEditorSkeleton>
  {{else if this.isActionable}}
    <SecretEditorSkeleton>
      <Rose::Button
        @iconLeft='flight-icons/svg/pencil-tool-16'
        @style='secret-editor-skeleton-button'
        {{on 'click' this.enableEditing}}
      >
        {{t 'form.secret-editor.edit'}}
      </Rose::Button>
    </SecretEditorSkeleton>
  {{else}}
    <Rose::CodeEditor as |c|>
      <c.fieldEditor
        class='secret-editor-json'
        @onInput={{@onInput}}
        @value={{@value}}
        @options={{hash
          mode='application/json'
          gutters=(array 'CodeMirror-lint-markers')
          lint='true'
        }}
      />
    </Rose::CodeEditor>
  {{/if}}
</div>