<div class='json-secret-editor'>
  {{#if this.canEdit}}
    <Rose::CodeEditor as |c|>
      <c.fieldEditor
        class='secret-editor'
        @onInput={{@onInput}}
        @value={{@value}}
        @options={{hash
          mode='application/json'
          gutters=(array 'CodeMirror-lint-markers')
          lint='true'
        }}
      />
    </Rose::CodeEditor>
  {{/if}}
  {{#unless this.canEdit}}
    <div class='skeleton-wrapper'>
      <div class='skeleton-gutter'></div>
      <div class='skeleton-body'>
        <div class='xl'></div>
        <div class='m'></div>
        <div class='l'></div>
        <div class='s'></div>
        <div class='xl'></div>
        <div class='l'></div>
        <div class='m'></div>
        <div class='xl'></div>
        <div class='m'></div>
        <div class='s'></div>
      </div>
      {{#if this.isDetailView}}
        <div class='skeleton-details-view'>
          <Rose::Icon @name='flight-icons/svg/eye-off-16' @size='medium' />
          {{t 'form.secret-editor.details'}}
        </div>
      {{/if}}
      {{#if this.isEditView}}
        <div class='skeleton-edit-view'>
          <Rose::Button
            @iconLeft='flight-icons/svg/pencil-tool-16'
            @style='skeleton-edit-view-button'
            {{on 'click' this.allowEdit}}
          >
            {{t 'form.secret-editor.edit'}}
          </Rose::Button>
        </div>
      {{/if}}
    </div>
  {{/unless}}
</div>