{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<div class='proxy-url-container'>
  <Hds::Dropdown @listPosition='bottom-left' as |dd|>
    <dd.ToggleButton @color='secondary' @text={{this.selectedValue}} />
    <dd.Interactive {{on
        'click'
        (fn
          this.updateContent
          (t 'resources.session.proxy-url.address-port')
          dd.close
        )
      }}>{{t 'resources.session.proxy-url.address-port'}}</dd.Interactive>
    <dd.Interactive data-test-ssh-option {{on
        'click'
        (fn this.updateContent (t 'resources.session.proxy-url.ssh') dd.close)
      }}>{{t 'resources.session.proxy-url.ssh'}}</dd.Interactive>
  </Hds::Dropdown>
  {{#if this.isAddressAndPort}}
    <Hds::Copy::Snippet
      class='copy-address'
      @textToCopy={{@proxyAddress}}
      @isTruncated={{true}}
    />
    <Hds::Copy::Snippet class='copy-port' @textToCopy={{@proxyPort}} />
  {{/if}}
  {{#unless this.isAddressAndPort}}
    <Hds::Copy::Snippet
      class='copy-ssh-command'
      @textToCopy={{this.sshCommand}}
      @isTruncated={{true}}
    />
  {{/unless}}
</div>