<h2>Condensed Table</h2>
<Rose::Table @style="condensed" as |table|>
  <table.header as |header|>
    <header.row  as |row|>
      <row.headerCell >Address</row.headerCell>
      <row.headerCell>Host Set</row.headerCell>
      <row.headerCell>Name</row.headerCell>
      <row.headerCell>Description</row.headerCell>
    </header.row>
  </table.header>
  <table.body as |body|>
    <body.row as |row|>
      <row.cell>1.1.1.1</row.cell>
      <row.cell>host-set-1, host-set-2</row.cell>
      <row.cell>optional name</row.cell>
      <row.cell>description</row.cell>
    </body.row>
  </table.body>
  <table.footer as |footer|>
    <footer.row as |row|>
      <row.cell>Footer</row.cell>
    </footer.row>
  </table.footer>
</Rose::Table>

<h2>Condensed Table with Shrink Cells</h2>
<Rose::Table @style="condensed" as |table|>
  <table.header as |header|>
    <header.row  as |row|>
      <row.headerCell>Address</row.headerCell>
      <row.headerCell @shrink={{true}}>Host Set</row.headerCell>
      <row.headerCell @shrink={{true}}>Name</row.headerCell>
      <row.headerCell>Description</row.headerCell>
    </header.row>
  </table.header>
  <table.body as |body|>
    <body.row as |row|>
      <row.cell>1.1.1.1</row.cell>
      <row.cell @shrink={{true}}>host-set-1, host-set-2</row.cell>
      <row.cell @shrink={{true}}>
        <Rose::Button @style="secondary" @iconOnly="trash" title="Remove">Remove</Rose::Button>
      </row.cell>
      <row.cell>description</row.cell>
    </body.row>
  </table.body>
  <table.footer @hidden={{true}} as |footer|>
    <footer.row as |row|>
      <row.cell>Footer</row.cell>
    </footer.row>
  </table.footer>
</Rose::Table>

<h2>Condensed Table with Right and Center aligned cells</h2>
<Rose::Table @style="condensed" as |table|>
  <table.header as |header|>
    <header.row  as |row|>
      <row.headerCell>Address</row.headerCell>
      <row.headerCell @alignCenter={{true}}>Host Set</row.headerCell>
      <row.headerCell>Name</row.headerCell>
      <row.headerCell>Description</row.headerCell>
    </header.row>
  </table.header>
  <table.body as |body|>
    <body.row as |row|>
      <row.cell>1.1.1.1</row.cell>
      <row.cell @alignCenter={{true}}>host-set-1, host-set-2</row.cell>
      <row.cell @alignRight={{true}}>optional name</row.cell>
      <row.cell @alignCenter={{true}}>description</row.cell>
    </body.row>
  </table.body>
  <table.footer as |footer|>
    <footer.row as |row|>
      <row.cell>Footer</row.cell>
    </footer.row>
  </table.footer>
</Rose::Table>

<h2>Condensed Table Key/Value Lookalike (edit mode)</h2>
<Rose::Table @style="condensed" as |table|>
  <table.header as |header|>
    <header.row  as |row|>
      <row.headerCell @shrink={{true}}>Key</row.headerCell>
      <row.headerCell colspan="2">Value</row.headerCell>
    </header.row>
  </table.header>
  <table.body as |body|>
    <body.row as |row|>
      <row.cell>Key</row.cell>
      <row.cell>
        <Rose::Form::Input @contextual={{true}} as |input|>
          <input.field />
        </Rose::Form::Input>
      </row.cell>
      <row.cell @shrink={{true}} @alignRight={{true}}>
        <Rose::Button @style="secondary" @iconOnly="trash" title="Remove">Remove</Rose::Button>
      </row.cell>
    </body.row>
    <body.row as |row|>
      <row.cell>Key</row.cell>
      <row.cell>
        <Rose::Form::Select
          @name="Test select"
          as |field|
        >
          <field.field as |select|>
            <select.option>Choose an option</select.option>
            <select.option @value="value-1">Value 1</select.option>
            <select.option @value="value-2">Value 2</select.option>
            <select.option @value="value-3">Value 3</select.option>
          </field.field>
        </Rose::Form::Select>
      </row.cell>
      <row.cell @shrink={{true}} @alignRight={{true}}>
        <Rose::Button @style="secondary">Add</Rose::Button>
      </row.cell>
    </body.row>
    <body.row as |row|>
      <row.cell>Key</row.cell>
      <row.cell>
        <Rose::Form::Input @contextual={{true}} as |input|>
          <input.field />
        </Rose::Form::Input>
      </row.cell>
      <row.cell @alignRight={{true}}>
        <Rose::Button @style="secondary">Add</Rose::Button>
      </row.cell>
    </body.row>
    <body.row as |row|>
      <row.cell>Key</row.cell>
      <row.cell>
        <Rose::Form::Textarea
          @name="field"
          readonly={{false}}
        />
      </row.cell>
      <row.cell @alignRight={{true}}>
        <Rose::Button @style="secondary">Add</Rose::Button>
      </row.cell>
    </body.row>
  </table.body>
  <table.footer @hidden={{true}} as |footer|>
    <footer.row as |row|>
      <row.cell colspan="3">Footer</row.cell>
    </footer.row>
  </table.footer>
</Rose::Table>

<h2>Condensed Table With Visually Hidden Header & Footer</h2>
<Rose::Table @style="condensed" as |table|>
  <table.header as |header|>
    <header.row @hidden={{true}} as |row|>
      <row.headerCell >Address</row.headerCell>
      <row.headerCell>Host Set</row.headerCell>
      <row.headerCell>Name</row.headerCell>
      <row.headerCell>Description</row.headerCell>
    </header.row>
  </table.header>
  <table.body as |body|>
    <body.row as |row|>
      <row.cell>1.1.1.1</row.cell>
      <row.cell>host-set-1, host-set-2</row.cell>
      <row.cell>optional name</row.cell>
      <row.cell>description</row.cell>
    </body.row>
  </table.body>
  <table.footer as |footer|>
    <footer.row @hidden={{true}} as |row|>
      <row.cell>Footer</row.cell>
    </footer.row>
  </table.footer>
</Rose::Table>

<h2>Table</h2>
<Rose::Table as |table|>
  <table.header as |header|>
    <header.row as |row|>
      <row.headerCell>Address</row.headerCell>
      <row.headerCell>Host Set</row.headerCell>
      <row.headerCell>Name</row.headerCell>
      <row.headerCell>Description</row.headerCell>
    </header.row>
  </table.header>
  <table.body as |body|>
    <body.row as |row|>
      <row.cell>1.1.1.1</row.cell>
      <row.cell>host-set-1, host-set-2</row.cell>
      <row.cell>optional name</row.cell>
      <row.cell>description</row.cell>
    </body.row>
  </table.body>
  <table.footer as |footer|>
    <footer.row as |row|>
      <row.cell>Footer</row.cell>
    </footer.row>
  </table.footer>
</Rose::Table>