<Rose::Layout::Page as |page|>

  <page.breadcrumbs>
    <BreadCrumbs />
  </page.breadcrumbs>

  <page.header>
    <h2>
      {{t 'resources.host-catalog.title_plural'}}
      <DocLink @doc='host-catalog' @iconSize='large' />
    </h2>
    {{#if @model}}
      <p>{{t 'resources.host-catalog.description'}}</p>
    {{/if}}
  </page.header>

  <page.actions>
    {{#if (can 'create model' this.scope collection='host-catalogs')}}
      {{#if @model}}
        <Rose::LinkButton
          @route='scopes.scope.host-catalogs.new'
          @style='primary'
        >
          {{t 'titles.new'}}
        </Rose::LinkButton>
      {{/if}}
    {{/if}}
  </page.actions>

  <page.body>

    {{#if @model}}

      <Rose::Table as |table|>
        <table.header as |header|>
          <header.row as |row|>
            <row.headerCell>{{t 'form.name.label'}}</row.headerCell>
            <row.headerCell>{{t 'form.type.label'}}</row.headerCell>
            <row.headerCell>{{t 'form.id.label'}}</row.headerCell>
          </header.row>
        </table.header>
        <table.body as |body|>
          {{#each @model as |hostCatalog|}}
            <body.row as |row|>
              <row.headerCell>
                {{#if (can 'read host-catalog' hostCatalog)}}
                  <LinkTo
                    @route='scopes.scope.host-catalogs.host-catalog'
                    @model={{hostCatalog.id}}
                  >
                    {{hostCatalog.displayName}}
                  </LinkTo>
                {{else}}
                  {{hostCatalog.displayName}}
                {{/if}}
                <p>{{hostCatalog.description}}</p>
              </row.headerCell>
              <row.cell>
                <HostCatalogTypeBadge @model={{hostCatalog}} />
              </row.cell>
              <row.cell>
                <Copyable
                  @text={{hostCatalog.id}}
                  @buttonText={{t 'actions.copy-to-clipboard'}}
                  @acknowledgeText={{t 'states.copied'}}
                >
                  <code>{{hostCatalog.id}}</code>
                </Copyable>
              </row.cell>
            </body.row>
          {{/each}}
        </table.body>
      </Rose::Table>

    {{else}}

      <Rose::Layout::Centered>
        <Rose::Message
          @title={{t 'resources.host-catalog.messages.welcome.title'}}
          as |message|
        >
          <message.description>
            {{#if (can 'list model' this.scope collection='host-catalogs')}}
              {{! can list (at least):  show default welcome message}}
              {{t 'resources.host-catalog.description'}}
            {{else if (can
              'create model' this.scope collection='host-catalogs'
            )}}
              {{! can create (only):  show create-but-not-list welcome message}}
              {{t
                'descriptions.create-but-not-list'
                resource=(t 'resources.host-catalog.title_plural')
              }}
            {{else}}
              {{! can neither list nor create }}
              {{t
                'descriptions.neither-list-nor-create'
                resource=(t 'resources.host-catalog.title_plural')
              }}
            {{/if}}
          </message.description>
          {{#if (can 'create model' this.scope collection='host-catalogs')}}
            <message.link @route='scopes.scope.host-catalogs.new'>
              <Rose::Icon @name='flight-icons/svg/plus-circle-16' />
              {{t 'titles.new'}}
            </message.link>
          {{/if}}
        </Rose::Message>
      </Rose::Layout::Centered>

    {{/if}}

  </page.body>

</Rose::Layout::Page>