{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

{{page-title (t 'resources.group.messages.add-members.title')}}
<Breadcrumbs::Item
  @text={{t 'resources.group.messages.add-members.title'}}
  @route='scopes.scope.groups.group.add-members'
/>

<Rose::Layout::Page as |page|>

  <page.breadcrumbs>
    <Breadcrumbs::Container />
  </page.breadcrumbs>

  <page.header>
    <Hds::Text::Display
      @tag='h2'
      @size='400'
      @weight='bold'
      class='header-spacing'
    >
      {{t 'resources.group.messages.add-members.title'}}
      <DocLink @doc='group.add-members' />
    </Hds::Text::Display>
    <p>{{t 'resources.group.messages.add-members.description'}}</p>
  </page.header>

  <page.body>

    {{#let
      (resource-filter 'scopes.scope.groups.group.add-members' 'scope')
      as |filter|
    }}
      <Rose::Toolbar as |toolbar|>
        <toolbar.primary>
          <Rose::Form as |form|>
            <Rose::Dropdown
              @text={{t (concat 'resources.' filter.name '.title')}}
              @count={{filter.selectedValue.length}}
              @ignoreClickInside={{true}}
              as |dropdown|
            >
              <ul>
                <form.checkboxGroup
                  @name={{filter.name}}
                  @items={{this.flatSortedScopes}}
                  @selectedItems={{filter.selectedValue}}
                  @onChange={{fn this.callFilterBy filter.name}}
                  as |group|
                >
                  <li
                    class={{if
                      group.item.isOrg
                      'indent-label-1'
                      (if group.item.isProject 'indent-label-2')
                    }}
                  >
                    <dropdown.item>
                      <group.checkbox
                        @label={{group.item.displayName}}
                        value={{group.item}}
                      />
                    </dropdown.item>
                  </li>
                </form.checkboxGroup>
              </ul>
            </Rose::Dropdown>

            {{#if
              (has-resource-filter-selections
                'scopes.scope.groups.group.add-members' 'scope'
              )
            }}
              <Hds::Button
                @size='small'
                @icon='x'
                @text={{t 'actions.clear-all-filters'}}
                {{on 'click' this.callClearAllFilters}}
              />
            {{/if}}
          </Rose::Form>
        </toolbar.primary>
      </Rose::Toolbar>
    {{/let}}

    <br />

    <Form::Group::AddMembers
      @model={{@model.group}}
      @users={{@model.users}}
      @submit={{fn this.addMembers @model.group}}
      @cancel={{this.cancel}}
    />
  </page.body>

</Rose::Layout::Page>