{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title (t 'resources.group.messages.add-members.title')}}

<Rose::Layout::Page as |page|>

  <page.breadcrumbs>
    <BreadCrumbs />
  </page.breadcrumbs>

  <page.header>
    <h2>
      {{t 'resources.group.messages.add-members.title'}}
      <DocLink @doc='group.add-members' @iconSize='large' />
    </h2>
    <p>{{t 'resources.group.messages.add-members.description'}}</p>
  </page.header>

  <page.body>

    {{#let
      (resource-filter 'scopes.scope.groups.group.add-members' 'scope')
      as |filter|
    }}
      <Rose::Toolbar as |toolbar|>
        <toolbar.primary>
          <Rose::Form as |form|>
            <Rose::Dropdown
              @text={{t (concat 'resources.' filter.name '.title')}}
              @count={{filter.selectedValue.length}}
              @ignoreClickInside={{true}}
              as |dropdown|
            >
              <ul>
                <form.checkboxGroup
                  @name={{filter.name}}
                  @items={{this.flatSortedScopes}}
                  @selectedItems={{filter.selectedValue}}
                  @onChange={{route-action 'filterBy' filter.name}}
                  as |group|
                >
                  <li
                    class={{if
                      group.item.isOrg
                      'indent-label-1'
                      (if group.item.isProject 'indent-label-2')
                    }}
                  >
                    <dropdown.item>
                      <group.checkbox
                        @label={{group.item.displayName}}
                        value={{group.item}}
                      />
                    </dropdown.item>
                  </li>
                </form.checkboxGroup>
              </ul>
            </Rose::Dropdown>

            {{#if
              (has-resource-filter-selections
                'scopes.scope.groups.group.add-members' 'scope'
              )
            }}
              <Rose::Button
                @style='inline-link-action'
                @iconLeft='flight-icons/svg/x-16'
                {{on 'click' (route-action 'clearAllFilters')}}
              >{{t 'actions.clear-all-filters'}}
              </Rose::Button>
            {{/if}}
          </Rose::Form>
        </toolbar.primary>
      </Rose::Toolbar>
    {{/let}}

    <br />

    <Form::Group::AddMembers
      @model={{@model.group}}
      @users={{@model.users}}
      @submit={{route-action 'addMembers' @model.group}}
      @cancel={{route-action 'cancel'}}
    />
  </page.body>

</Rose::Layout::Page>