{{!--
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
--}}

<main>
  <BrandedCard
    @title={{t 'titles.welcome-to-boundary'}}
    @description={{t 'descriptions.cluster-url-initialization'}}
  >
    <Rose::Form
      class='full-width'
      @onSubmit={{route-action 'setClusterUrl' this.clusterUrl}}
      @cancel={{false}}
      @disabled={{(is-loading)}}
      as |form|
    >
      <form.input
        @name='host'
        @type='text'
        @value={{this.clusterUrl}}
        @label={{t 'form.cluster-url.label'}}
        @helperText={{t 'form.cluster-url.description'}}
        {{autofocus}}
      />
      <form.actions @submitText={{t 'actions.submit'}} @showCancel={{false}} />
    </Rose::Form>
  </BrandedCard>
</main>