{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<main>
  <BrandedCard
    @title={{t 'titles.welcome-to-boundary'}}
    @description={{t 'descriptions.cluster-url-initialization'}}
  >
    <Rose::Form
      class='full-width'
      @onSubmit={{route-action 'setClusterUrl' this.clusterUrl}}
      @cancel={{false}}
      @disabled={{(is-loading)}}
      as |form|
    >
      <form.input
        @name='host'
        @type='text'
        @value={{this.clusterUrl}}
        @label={{t 'form.cluster-url.label'}}
        @helperText={{t 'form.cluster-url.description'}}
        {{autofocus}}
      />

      <form.actions>
        <:actions>
          <Hds::Button
            @text={{t 'actions.submit'}}
            @isFullWidth={{true}}
            disabled={{form.disabled}}
            type='submit'
          />
        </:actions>
      </form.actions>
    </Rose::Form>
  </BrandedCard>
</main>