<Rose::Form
  @onSubmit={{fn @submit this.generatedWorkerAuthToken}}
  @cancel={{@cancel}}
  @disabled={{@model.isSaving}}
  @showEditToggle={{false}}
  as |form|
>
  <h3>{{t 'resources.worker.form.steps.1.title'}}</h3>
  <div class='worker-create-section'>
    {{#if (feature-flag 'byow-pki-hcp-cluster-id')}}
      <form.input
        @name='cluster_id'
        @value={{this.clusterId}}
        @label={{t 'resources.worker.form.cluster_id.label'}}
        @helperText={{t 'resources.worker.form.cluster_id.help'}}
        @linkText={{t 'actions.learn-more'}}
        @link={{doc-url 'worker.manage-workers'}}
        placeholder='69b6ddb3-ffec-42ab-a994-f43a6519470a'
      />
    {{/if}}

    <form.input
      @name='ip_address'
      @value={{this.ipAddress}}
      @label={{t 'resources.worker.form.ip_address.label'}}
      @helperText={{t 'resources.worker.form.ip_address.help'}}
      placeholder='127.0.0.1:9202'
    />

    <form.input
      @name='config_file_path'
      @value={{this.configFilePath}}
      @label={{t 'resources.worker.form.config_file_path.label'}}
      @helperText={{t 'resources.worker.form.config_file_path.help'}}
      placeholder='/home/ubuntu/boundary'
    />

    {{#if (feature-flag 'byow-pki-upstream')}}
      <form.input
        @name='initial_upstreams'
        @value={{this.initialUpstreams}}
        @label={{t 'resources.worker.form.initial_upstreams.label'}}
        @helperText={{t 'resources.worker.form.initial_upstreams.help'}}
        placeholder='10.0.0.1, 10.0.0.2, 10.0.0.3'
      />
    {{/if}}

    <form.input
      @name='worker_tags'
      @value={{this.workerTags}}
      @label={{t 'resources.worker.form.worker_tags.label'}}
      @helperText={{t 'resources.worker.form.worker_tags.help'}}
      placeholder='dev-worker, ubuntu'
    />

    <Rose::CodeEditor @codeValue={{this.createConfigText}} as |c|>
      <c.toolbar>
        <:action>
          <span>{{t 'resources.worker.form.steps.1.create_directory'}}</span>
        </:action>
      </c.toolbar>
      <c.fieldEditor class='rose-autosize' @options={{this.shellCodeEditor}} />
    </Rose::CodeEditor>

    <Rose::CodeEditor @codeValue={{this.workerConfigText}} as |c|>
      <c.toolbar>
        <:action>
          <span>{{t 'resources.worker.form.steps.1.create_config'}}</span>
        </:action>
      </c.toolbar>
      <c.fieldEditor class='rose-autosize' @options={{this.hclCodeEditor}} />
    </Rose::CodeEditor>
    <p>{{t 'resources.worker.form.steps.1.save_config'}}</p>
  </div>

  <h3>{{t 'resources.worker.form.steps.2.title'}}</h3>
  <div class='worker-create-section'>
    <Rose::CodeEditor @codeValue={{this.installBoundaryText}} as |c|>
      <c.toolbar>
        <:action>
          <span>{{t 'resources.worker.form.steps.2.run_command'}}</span>
        </:action>
      </c.toolbar>
      <c.fieldEditor class='rose-autosize' @options={{this.shellCodeEditor}} />
    </Rose::CodeEditor>
    <span>{{t 'resources.worker.form.steps.2.copy_registration_request'}}</span>
    <code>{{t
        'resources.worker.form.steps.3.worker_auth_registration_request.label'
      }}
    </code>
  </div>

  <h3>{{t 'resources.worker.form.steps.3.title'}}</h3>
  <div class='worker-create-section'>
    <div class='worker-auth-token'>
      <form.input
        @name='worker_auth_registration_request'
        @value={{this.generatedWorkerAuthToken}}
        @disabled={{@model.cannotSave}}
        @label={{t
          'resources.worker.form.steps.3.worker_auth_registration_request.label'
        }}
        @helperText={{t
          'resources.worker.form.steps.3.worker_auth_registration_request.help'
        }}
      />
      {{#if (can 'save worker' @model)}}
        <Rose::Button
          @submit={{true}}
          @style='primary'
          class='nowrap'
          @disabled={{@model.cannotSave}}
        >
          {{t 'resources.worker.actions.register'}}
        </Rose::Button>
      {{/if}}
    </div>

    {{#unless @model.isNew}}
      <div class='worker-success'>
        <div>
          <Rose::Icon @name='flight-icons/svg/cpu-16' @size='medium' />
          <p>{{this.generatedWorkerAuthToken}}</p>
        </div>
        <div>
          <Rose::Icon
            @name='flight-icons/svg/check-circle-fill-16'
            @size='medium'
          />
          <p>{{t 'resources.worker.form.steps.3.registered'}}</p>
        </div>
      </div>
    {{/unless}}
  </div>

  <Rose::LinkButton
    @route='scopes.scope.workers'
    @style='secondary'
    {{on 'click' (route-action 'refresh')}}
  >
    {{t 'actions.done'}}
  </Rose::LinkButton>
</Rose::Form>
