<Rose::Layout::Page as |page|>

  <page.breadcrumbs>
    <BreadCrumbs />
  </page.breadcrumbs>

  <page.header>
    <h2>
      {{t 'resources.session.title_plural'}}
      <DocLink @doc='session' @iconSize='large' />
    </h2>
    <p>{{t 'resources.session.description'}}</p>
  </page.header>

  <page.body>

    {{#if @model}}
      {{#if (feature-flag 'filter')}}
        <Rose::Toolbar>
          <Rose::Form as |form|>
            <Rose::Dropdown
              @text={{t 'actions.filter.status'}}
              @ignoreClickInside={{true}}
              as |dropdown|
            >
              <form.checkboxGroup @name='status' as |checkboxGroup|>
                {{#each this.availableSessions as |session|}}
                  <dropdown.item>
                    <checkboxGroup.checkbox
                      @checked={{session.isCancelable}}
                      @label={{session.status}}
                    />
                  </dropdown.item>
                {{/each}}
              </form.checkboxGroup>
            </Rose::Dropdown>
          </Rose::Form>
        </Rose::Toolbar>
      {{/if}}
      <Rose::Table as |table|>
        <table.header as |header|>
          <header.row as |row|>
            <row.headerCell>{{t 'form.id.label'}}</row.headerCell>
            <row.headerCell>{{t 'resources.user.title'}}</row.headerCell>
            <row.headerCell>{{t 'resources.target.title'}}</row.headerCell>
            <row.headerCell>{{t 'form.started.label'}}</row.headerCell>
            <row.headerCell>{{t 'form.status.label'}}</row.headerCell>
            <row.headerCell>{{t 'titles.actions'}}</row.headerCell>
          </header.row>
        </table.header>
        <table.body as |body|>
          {{#each @model as |sessionAggregate|}}
            <body.row as |row|>
              <row.headerCell class='nowrap'>
                <Rose::Icon
                  class={{concat
                    'session-status-'
                    sessionAggregate.session.status
                  }}
                  @name='flight-icons/svg/entry-point-16'
                  @size='medium'
                />
                <Copyable
                  @text={{sessionAggregate.session.id}}
                  @buttonText={{t 'actions.copy-to-clipboard'}}
                  @acknowledgeText={{t 'states.copied'}}
                >
                  <code>{{sessionAggregate.session.id}}</code>
                </Copyable>
              </row.headerCell>
              <row.cell>
                <code>{{sessionAggregate.user.id}}</code>
                {{#if sessionAggregate.user.accountName}}
                  <br /><Rose::Badge
                  >{{sessionAggregate.user.accountName}}</Rose::Badge>
                {{/if}}
              </row.cell>
              <row.cell>{{sessionAggregate.target.displayName}}</row.cell>
              <row.cell>
                <time
                  datetime={{format-date-iso
                    sessionAggregate.session.created_time
                  }}
                >
                  {{format-date-iso-human
                    sessionAggregate.session.created_time
                  }}
                </time>
              </row.cell>
              <row.cell>
                <Rose::Badge>{{sessionAggregate.session.status}}</Rose::Badge>
              </row.cell>
              <row.cell>
                {{#if sessionAggregate.session.isCancelable}}
                  <Rose::Button
                    @style='secondary'
                    {{on
                      'click'
                      (route-action 'cancelSession' sessionAggregate.session)
                    }}
                  >
                    {{t 'actions.cancel'}}
                  </Rose::Button>
                {{/if}}
              </row.cell>
            </body.row>
          {{/each}}
        </table.body>
      </Rose::Table>

    {{else}}

      <Rose::Layout::Centered>
        <Rose::Message
          @title={{t 'resources.session.messages.none.title'}}
          as |message|
        >
          <message.description>
            {{t 'resources.session.messages.none.description'}}
          </message.description>
        </Rose::Message>
      </Rose::Layout::Centered>

    {{/if}}

  </page.body>

</Rose::Layout::Page>