<h2>
  {{t "resources.role.title"}}
  <DocLink @doc="topics.role" @iconSize="large" />
</h2>
<p>{{t "resources.role.principal.description"}}</p>
<Copyable
  @text={{@model.role.id}}
  @buttonText={{t "actions.copy-to-clipboard"}}
  @acknowledgeText={{t "states.copied"}}
>
  <code>{{@model.role.id}}</code>
</Copyable>
