{{outlet}}

{{#unless @model}}
  <Rose::Layout::Sidebar as |sidebarLayout|>

    <sidebarLayout.body>
      <main>
        <Rose::Layout::Centered>
          <Rose::Message
            @title={{t 'auth.titles.no-scopes'}}
            @icon='flight-icons/svg/alert-circle-16'
            as |message|
          >
            <message.description>
              {{t 'auth.descriptions.no-scopes'}}
            </message.description>
          </Rose::Message>
        </Rose::Layout::Centered>
      </main>
      <sidebarLayout.footer>
        <Rose::Footer as |footer|>
          <footer.text>{{company-copyright}}</footer.text>
          <footer.text>{{app-name}}</footer.text>
          <footer.nav as |nav|>
            <nav.link @href={{(doc-url)}}>
              {{t 'titles.documentation'}}
            </nav.link>
          </footer.nav>
          <footer.brand @logo='logo-company' @text={{(company-name)}} />
        </Rose::Footer>
      </sidebarLayout.footer>
    </sidebarLayout.body>
  </Rose::Layout::Sidebar>
{{/unless}}