{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<Rose::Layout::Page as |page|>
  <page.breadcrumbs>
    <Breadcrumbs::Container />
  </page.breadcrumbs>

  <page.header>
    <h2>{{t 'resources.target.enable-session-recording.messages.add.title'}}
      <DocLink @doc='target.enable-session-recording' @iconSize='large' />
    </h2>
  </page.header>

  <page.body>
    <Form::Target::EnableSessionRecording
      @model={{@model}}
      @storageBucketList={{this.storageBucketList}}
      @submit={{route-action 'save' @model}}
      @cancel={{route-action 'cancel' @model}}
    />
  </page.body>

</Rose::Layout::Page>