<Rose::Layout::Page as |page|>

  <page.breadcrumbs>
    <BreadCrumbs />
  </page.breadcrumbs>

  <page.header>
    <h2>{{t "resources.users"}}</h2>
  </page.header>

  <page.actions>
    {{#if @model}}
      <Rose::LinkButton @route="orgs.org.users.new" @style="primary">{{t 'titles.new'}}</Rose::LinkButton>
    {{/if}}
  </page.actions>

  <page.body>

    {{#if @model}}

      <Rose::Table as |table|>
        <table.header as |header|>
          <header.row as |row|>
            <row.cell>{{t 'form.label.name'}}</row.cell>
            <row.cell>{{t 'form.label.description'}}</row.cell>
          </header.row>
        </table.header>
        <table.body as |body|>
          {{#each @model as |user|}}
            <body.row as |row|>
              <row.cell>
                <LinkTo
                  @route="orgs.org.users.user"
                  @model={{user}}
                >
                  {{user.name}}
                </LinkTo>
              </row.cell>
              <row.cell>{{user.description}}</row.cell>
            </body.row>
          {{/each}}
        </table.body>
      </Rose::Table>

    {{else}}

      <Rose::Layout::Centered>
        <Rose::Message @title={{t 'titles.users-welcome'}} as |message|>
          <message.description>
            {{t 'descriptions.users-welcome'}}
          </message.description>
          <message.link @route="orgs.org.user.new">
            <Rose::Icon @name="plus-circle-outline" />
            {{t 'titles.new'}}
          </message.link>
        </Rose::Message>
      </Rose::Layout::Centered>

    {{/if}}

  </page.body>

</Rose::Layout::Page>
