{{#if @model}}

  <Rose::Table as |table|>
    <table.header as |header|>
      <header.row as |row|>
        <row.headerCell>{{t 'form.name.label'}}</row.headerCell>
        <row.headerCell>{{t 'form.type.label'}}</row.headerCell>
        <row.headerCell>{{t 'form.id.label'}}</row.headerCell>
        <row.headerCell>{{t 'form.address.label'}}</row.headerCell>
      </header.row>
    </table.header>
    <table.body as |body|>
      {{#each @model as |host|}}
        <body.row as |row|>
          <row.headerCell>
            {{#if (can 'read model' host)}}
              <LinkTo
                @route='scopes.scope.host-catalogs.host-catalog.hosts.host'
                @model={{host.id}}
              >

                {{host.displayName}}
              </LinkTo>
            {{else}}
              {{host.displayName}}
            {{/if}}
            <p>{{host.description}}</p>
          </row.headerCell>
          <row.cell>
            {{#if host.isStatic}}
              <Rose::Badge>
                {{t (concat 'resources.host.types.' host.compositeType)}}
              </Rose::Badge>
            {{else}}
              <Rose::Badge
                @icon={{concat
                  'flight-icons/svg/'
                  host.compositeType
                  '-color-16'
                }}
              >
                {{t (concat 'resources.host.types.' host.compositeType)}}
              </Rose::Badge>
            {{/if}}
          </row.cell>
          <row.cell>
            <Copyable
              @text={{host.id}}
              @buttonText={{t 'actions.copy-to-clipboard'}}
              @acknowledgeText={{t 'states.copied'}}
            >
              <code>{{host.id}}</code>
            </Copyable>
          </row.cell>
          <row.cell>
            <code>{{host.attributes.address}}</code>
          </row.cell>
        </body.row>
      {{/each}}
    </table.body>
  </Rose::Table>

{{else}}

  <Rose::Layout::Centered>
    <Rose::Message
      @title={{t 'resources.host.messages.welcome.title'}}
      as |message|
    >
      <message.description>

        {{#if (can 'list model' this.hostCatalog collection='hosts')}}
          {{! can list (at least):  show default welcome message}}
          {{t 'resources.host.description'}}

        {{else if (can 'create model' this.hostCatalog collection='hosts')}}
          {{! can create (only):  show create-but-not-list welcome message}}
          {{t
            'descriptions.create-but-not-list'
            resource=(t 'resources.host.title_plural')
          }}
        {{else}}
          {{! can neither list nor create }}
          {{t
            'descriptions.neither-list-nor-create'
            resource=(t 'resources.host.title_plural')
          }}
        {{/if}}
      </message.description>

      {{#if (can 'create model' this.hostCatalog collection='hosts')}}

        <message.link
          @route='scopes.scope.host-catalogs.host-catalog.hosts.new'
        >
          <Rose::Icon @name='flight-icons/svg/plus-circle-16' />
          {{t 'titles.new'}}
        </message.link>
      {{/if}}
    </Rose::Message>
  </Rose::Layout::Centered>

{{/if}}