{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<Rose::Layout::Page as |page|>

  <page.breadcrumbs>
    <Breadcrumbs::Container />
  </page.breadcrumbs>

  <page.header>
    {{#if @model.isOrg}}
      <h2>
        {{t 'resources.org.title'}}
        <DocLink @doc='org' @iconSize='large' />
      </h2>
      <p>{{t 'resources.org.description'}}</p>
    {{/if}}
    {{#if @model.isProject}}
      <h2>
        {{t 'resources.project.title'}}
        <DocLink @doc='project' @iconSize='large' />
      </h2>
      <p>{{t 'resources.project.description'}}</p>
    {{/if}}
    <Copyable
      @text={{@model.id}}
      @buttonText={{t 'actions.copy-to-clipboard'}}
      @acknowledgeText={{t 'states.copied'}}
    >
      <code>{{@model.id}}</code>
    </Copyable>
  </page.header>

  {{#if (can 'read model' @model)}}
    <page.navigation>
      <Rose::Nav::Tabs as |nav|>
        <nav.link @route='scopes.scope'>
          {{t 'titles.details'}}
        </nav.link>
      </Rose::Nav::Tabs>
    </page.navigation>
  {{/if}}

  {{#if (can 'delete model' @model)}}
    <page.actions>
      <Rose::Dropdown
        @text={{t 'actions.manage'}}
        @dropdownRight={{true}}
        as |dropdown|
      >
        <dropdown.button
          @style='danger'
          @disabled={{@model.canSave}}
          {{on 'click' (route-action 'delete' @model)}}
        >
          {{#if @model.isOrg}}
            {{t 'resources.org.actions.delete'}}
          {{else}}
            {{t 'resources.project.actions.delete'}}
          {{/if}}
        </dropdown.button>
      </Rose::Dropdown>
    </page.actions>
  {{/if}}

  <page.body>
    <Rose::Layout::BodyContent as |bc|>
      <bc.Body>
        {{#if (can 'read model' @model)}}
          <Form::Scope
            @model={{@model}}
            @submit={{route-action 'save' @model}}
            @cancel={{route-action 'cancel' @model}}
          />
        {{else}}
          <Rose::Layout::Centered>
            <Rose::Message as |message|>
              <message.description>
                {{t 'resources.scope.messages.cannot_read'}}
              </message.description>
            </Rose::Message>
          </Rose::Layout::Centered>
        {{/if}}
      </bc.Body>
      {{#if (can 'attachStoragePolicy scope' @model)}}
        <bc.Sidebar>
          <div class='policy-sidebar'>
            <Hds::Text::Display @tag='h3'>
              {{t 'resources.policy.title'}}
            </Hds::Text::Display>

            <Hds::Text::Body @tag='p' class='description'>
              {{t 'resources.policy.titles.description'}}
            </Hds::Text::Body>

            <Hds::Button
              @text={{t 'resources.policy.actions.add'}}
              @color='secondary'
              @route='scopes.scope.scopes.add-storage-policy'
            />
            {{!-- <LinkListPanel as |P|>
              <P.Item
                @icon='cloud-upload'
                @color='boundary'
                @text={{this.storage_bucket_name}}
                @route='scopes.scope.storage-buckets.storage-bucket'
                @model={{@model.storage_bucket_id}}
              >
                <Hds::Badge
                  @text={{t 'resources.storage-bucket.types.aws_s3'}}
                  @icon='aws'
                />
              </P.Item>
            </LinkListPanel> --}}
          </div>
        </bc.Sidebar>
      {{/if}}
    </Rose::Layout::BodyContent>
  </page.body>

</Rose::Layout::Page>