{{page-title (t 'titles.new')}}

<Rose::Layout::Page as |page|>

  <page.breadcrumbs>
    <BreadCrumbs />
  </page.breadcrumbs>

  <page.header>
    <h2>
      {{t "titles.new"}}
      <DocLink
        @doc={{if @model.isOrg "org.new" "project.new"}}
        @iconSize="large"
      />
    </h2>
  </page.header>

  <page.body>
    <Form::Scope
      @model={{@model}}
      @submit={{route-action "save" @model}}
      @cancel={{route-action "cancel" @model}}
    />
  </page.body>

</Rose::Layout::Page>
