{{!
  Copyright IBM Corp. 2021, 2026
  SPDX-License-Identifier: BUSL-1.1
}}

{{#if this.currentScope.isGlobal}}
  {{page-title (t 'resources.org.title_plural')}}
  <Breadcrumbs::Item
    @text={{t 'resources.org.title_plural'}}
    @icon='org'
    @route='scopes.scope.scopes'
    @model='global'
  />
{{/if}}

{{#if this.currentScope.isOrg}}
  {{page-title (t 'resources.project.title_plural')}}
  <Breadcrumbs::Item
    @text={{t 'resources.project.title_plural'}}
    @icon='grid'
    @route='scopes.scope.scopes'
    @model={{this.currentScope.id}}
  />
{{/if}}

<div class='projects-theming-test'>
  {{! template-lint-disable no-bare-strings }}
  <p
    class='hds-typography-body-200 hds-font-weight-semibold hds-foreground-primary hds-surface-faint'
  >Test CSS helper classes for "sans" font</p>
  <p class='projects-theming-test-normal-local-classes'>Test normal local CSS
    classes</p>
  <p class='projects-theming-test-aliased-local-classes'>Test normal aliased CSS
    classes</p>
  <p
    class='hds-typography-code-200 hds-font-weight-semibold hds-foreground-primary hds-surface-faint'
  >Test CSS helper classes for "mono" font</p>
  {{! template-lint-enable no-bare-strings }}
</div>

{{outlet}}