<Rose::Layout::Page as |page|>

  <page.breadcrumbs>
    <BreadCrumbs />
  </page.breadcrumbs>

  <page.header>
    <h2>
      {{t 'resources.target.title_plural'}}
      <DocLink @doc='target' @iconSize='large' />
    </h2>
    {{#if @model}}
      <p>{{t 'resources.target.description'}}</p>
    {{/if}}
  </page.header>

  <page.actions>
    {{#if (can 'create collection' this.scope collection='targets')}}
      {{#if @model}}
        <Rose::LinkButton @route='scopes.scope.targets.new' @style='primary'>{{t
            'titles.new'
          }}</Rose::LinkButton>
      {{/if}}
    {{/if}}
  </page.actions>
  <page.body>

    {{#if @model}}

      <Rose::Table as |table|>
        <table.header as |header|>
          <header.row as |row|>
            <row.headerCell>{{t 'form.name.label'}}</row.headerCell>
            <row.headerCell>{{t 'form.type.label'}}</row.headerCell>
            <row.headerCell>{{t 'form.id.label'}}</row.headerCell>
          </header.row>
        </table.header>
        <table.body as |body|>
          {{#each @model as |target|}}
            <body.row as |row|>
              <row.headerCell>
                {{#if (can 'read model' target)}}
                  <LinkTo
                    @route='scopes.scope.targets.target'
                    @model={{target.id}}
                  >
                    {{target.displayName}}
                  </LinkTo>
                {{else}}
                  {{target.displayName}}
                {{/if}}
                <p>{{target.description}}</p>
              </row.headerCell>
              <row.cell>
                {{#if target.type}}
                  <Rose::Badge>
                    {{t (concat 'resources.target.types.' target.type)}}
                  </Rose::Badge>
                {{/if}}
              </row.cell>
              <row.cell>
                <Copyable
                  @text={{target.id}}
                  @buttonText={{t 'actions.copy-to-clipboard'}}
                  @acknowledgeText={{t 'states.copied'}}
                >
                  <code>{{target.id}}</code>
                </Copyable>
              </row.cell>
            </body.row>
          {{/each}}
        </table.body>
      </Rose::Table>

    {{else}}

      <Rose::Layout::Centered>
        <Rose::Message
          @title={{t 'resources.target.messages.welcome.title'}}
          as |message|
        >
          <message.description>

            {{#if (can 'list collection' this.scope collection='targets')}}
              {{! can list (at least):  show default welcome message}}
              {{t 'resources.target.description'}}
            {{else if (can
              'create collection' this.scope collection='targets'
            )}}
              {{! can create (only):  show create-but-not-list welcome message}}
              {{t
                'descriptions.create-but-not-list'
                resource=(t 'resources.target.title_plural')
              }}
            {{else}}
              {{! can neither list nor create }}
              {{t
                'descriptions.neither-list-nor-create'
                resource=(t 'resources.target.title_plural')
              }}

            {{/if}}
          </message.description>

          {{#if (can 'create collection' this.scope collection='targets')}}
            <message.link @route='scopes.scope.targets.new'>
              <Rose::Icon @name='plus-circle-outline' />
              {{t 'titles.new'}}
            </message.link>
          {{/if}}
        </Rose::Message>
      </Rose::Layout::Centered>

    {{/if}}

  </page.body>

</Rose::Layout::Page>