{{!
  Copyright IBM Corp. 2021, 2026
  SPDX-License-Identifier: BUSL-1.1
}}

{{#if @model.isCacheDaemonRunning}}
  <div class='search-filtering-toolbar'>
    <Hds::SegmentedGroup as |S|>
      <S.TextInput
        @value={{this.search}}
        @type='search'
        placeholder={{t 'actions.search'}}
        aria-label={{t 'actions.search'}}
        {{on 'input' this.handleSearchInput}}
      />
      <S.Generic>
        <Dropdown
          name='active-sessions'
          @toggleText={{t 'resources.target.titles.active-sessions'}}
          @itemOptions={{this.availableSessionOptions}}
          @checkedItems={{this.availableSessions}}
          @applyFilter={{fn this.applyFilter 'availableSessions'}}
        />
      </S.Generic>
      <S.Generic>
        <Dropdown
          name='type'
          @toggleText={{t 'form.type.label'}}
          @itemOptions={{this.targetTypeOptions}}
          @checkedItems={{this.types}}
          @applyFilter={{fn this.applyFilter 'types'}}
        />
      </S.Generic>
      <S.Generic>
        <Dropdown
          name='scope'
          @toggleText={{t 'resources.scope.title'}}
          @itemOptions={{this.availableScopes}}
          @checkedItems={{this.scopes}}
          @applyFilter={{fn this.applyFilter 'scopes'}}
          @isSearchable={{true}}
          as |FD selectItem itemOptions|
        >
          {{#let (group-by itemOptions 'scopeModel') as |orgs|}}
            {{#each orgs as |org|}}
              <FD.Generic>
                <Hds::Icon @name='org' @isInline={{true}} />
                {{org.key.displayName}}
              </FD.Generic>
              {{#each org.items as |project|}}
                <FD.Checkbox
                  @value={{project.id}}
                  data-test-checkbox={{project.name}}
                  checked={{includes project.id this.scopes}}
                  {{on 'change' selectItem}}
                >
                  {{project.displayName}}
                </FD.Checkbox>
              {{/each}}
            {{/each}}
          {{/let}}
        </Dropdown>
      </S.Generic>
    </Hds::SegmentedGroup>
    {{#if @model.isCacheRefreshing}}
      <ToolbarRefresher @onClick={{this.refresh}}>
        <Hds::TooltipButton
          @text={{t 'states.incomplete-loading.refreshing.tooltip'}}
        >
          <Hds::Text::Body @tag='p' @color='faint'>
            {{t 'states.incomplete-loading.refreshing.description'}}
          </Hds::Text::Body>
        </Hds::TooltipButton>
      </ToolbarRefresher>
    {{else}}
      <ToolbarRefresher @onClick={{this.refresh}} />
    {{/if}}
  </div>
  <FilterTags @filters={{this.filters}} />
{{/if}}

{{#if @model.targets}}
  <Hds::Table
    @model={{@model.targets}}
    @columns={{array
      (hash label=(t 'form.name.label'))
      (hash label=(t 'resources.alias.title_plural'))
      (hash label=(t 'resources.target.titles.active-sessions'))
      (hash label=(t 'form.type.label'))
      (hash label=(t 'resources.project.title'))
      (hash label=(t 'titles.actions') isVisuallyHidden=true align='right')
    }}
    @valign='middle'
  >
    <:body as |B|>
      <B.Tr>
        <B.Td>
          <Hds::Text::Body @weight='semibold'>
            {{#if (can 'read model' B.data)}}
              <LinkTo
                data-test-visit-target={{B.data.id}}
                @route='scopes.scope.projects.targets.target'
                @model={{B.data.id}}
                @query={{hash isConnecting=false}}
              >
                {{B.data.displayName}}
              </LinkTo>
            {{else}}
              {{B.data.displayName}}
            {{/if}}
            {{#if B.data.description}}
              <Hds::Text::Body @tag='p'>
                {{B.data.description}}
              </Hds::Text::Body>
            {{/if}}
          </Hds::Text::Body>
        </B.Td>
        <B.Td data-test-target-aliases={{B.data.id}}>
          {{truncate-list 'actions.more' B.data.associatedAliases}}
        </B.Td>
        <B.Td>
          {{#if B.data.isActive}}
            <Hds::Button
              data-test-targets-sessions-flyout-button={{B.data.id}}
              @text={{t 'actions.yes'}}
              @color='tertiary'
              @icon='info'
              {{on 'click' (fn this.selectTarget B.data)}}
            />
          {{/if}}
        </B.Td>
        <B.Td>
          {{#if B.data.type}}
            <Hds::Badge
              @text={{t (concat 'resources.target.types.' B.data.type)}}
            />
          {{/if}}
        </B.Td>
        <B.Td>
          <div>
            <Hds::Copy::Snippet
              @textToCopy={{B.data.project.id}}
              @color='secondary'
              data-test-target-project-id={{B.data.project.id}}
            />
          </div>
          {{#if B.data.project.name}}
            <Hds::Badge @color='neutral' @text={{B.data.project.name}} />
          {{/if}}
        </B.Td>
        <B.Td @align='right'>
          <div {{style display='inline-block'}}>
            {{#if (can 'connect target' B.data)}}
              {{#if (can 'read target' B.data)}}
                {{#if (and B.data.isRDP this.rdp.isPreferredRdpClientSet)}}
                  <Hds::Button
                    data-test-targets-open-button={{B.data.id}}
                    @text={{t 'actions.open'}}
                    @icon='external-link'
                    @iconPosition='trailing'
                    @color='secondary'
                    {{on 'click' (fn this.quickConnectAndLaunchRdp B.data)}}
                  />
                {{else}}
                  <Hds::Button
                    data-test-targets-connect-button={{B.data.id}}
                    @text={{t 'resources.session.actions.connect'}}
                    @color='secondary'
                    @route='scopes.scope.projects.targets.target'
                    @model={{B.data.id}}
                    @query={{hash isConnecting=true}}
                  />
                {{/if}}
              {{else}}
                <Hds::Button
                  data-test-targets-connect-button={{B.data.id}}
                  @text={{t 'resources.session.actions.connect'}}
                  @color='secondary'
                  {{on 'click' (fn this.quickConnect B.data)}}
                />
              {{/if}}
            {{/if}}
          </div>
        </B.Td>
      </B.Tr>
    </:body>
  </Hds::Table>
  {{#if @model.isLoadIncomplete}}
    <Hds::Alert @type='compact' as |A|>
      <A.Description>{{t
          'states.incomplete-loading.limit'
          resultCount=@model.totalItems
        }}</A.Description>
    </Hds::Alert>
  {{/if}}
  <Rose::Pagination
    @totalItems={{@model.totalItems}}
    @currentPage={{this.page}}
    @currentPageSize={{this.pageSize}}
  />
{{/if}}
{{#if this.noResults}}
  <Hds::ApplicationState data-test-no-target-results as |A|>
    <A.Header @title={{t 'titles.no-results-found'}} />
    <A.Body
      @text={{t
        (if
          this.search
          'descriptions.no-search-results'
          'descriptions.no-filter-results'
        )
        query=this.search
        resource=(t 'resources.target.title_plural')
      }}
    />
  </Hds::ApplicationState>
{{else if this.noTargets}}
  <Hds::ApplicationState data-test-no-targets as |A|>
    <A.Header @title={{t 'resources.target.messages.none.title'}} />
    <A.Body @text={{t 'resources.target.messages.none.description'}} />
  </Hds::ApplicationState>
{{/if}}
{{#if (and this.selectedTarget this.selectedTarget.isActive)}}
  <Hds::Flyout
    @onClose={{fn this.selectTarget null}}
    @size='large'
    class='flyout-with-table'
    data-test-targets-sessions-flyout
    as |M|
  >
    <M.Header>
      {{t
        'resources.target.titles.sessions-flyout'
        targetDisplayName=this.selectedTarget.displayName
      }}
    </M.Header>
    <M.Body>
      <Hds::Table
        @model={{this.sortedTargetSessions}}
        @columns={{array
          (hash label=(t 'form.started.label'))
          (hash label=(t 'form.session_id.label'))
          (hash label=(t 'form.proxy_url.label'))
          (hash
            label=(t 'titles.actions')
            isVisuallyHidden=true
            align='right'
            width='60px'
          )
        }}
        @valign='middle'
      >
        <:body as |B|>
          <B.Tr>
            <B.Td>
              <Hds::Time
                @date={{B.data.created_time}}
                @display='friendly-local'
              />
            </B.Td>
            <B.Td>
              <div class='link-copy-button-container'>
                <Hds::Link::Inline
                  @route='scopes.scope.projects.sessions.session.index'
                  @model={{B.data.id}}
                  data-test-targets-session-detail-link={{B.data.id}}
                >
                  {{B.data.id}}
                </Hds::Link::Inline>

                <Hds::Copy::Button
                  @text={{B.data.id}}
                  @isIconOnly={{true}}
                  @textToCopy={{B.data.id}}
                />
              </div>
            </B.Td>
            <B.Td>
              {{B.data.proxy}}
            </B.Td>
            <B.Td @align='right' width='60px'>
              {{#if (can 'cancel session' B.data)}}
                <Hds::Button
                  data-test-session-flyout-cancel-button={{B.data.id}}
                  @text={{t 'resources.session.actions.end'}}
                  @icon='x'
                  @isIconOnly={{true}}
                  @color='secondary'
                  {{on 'click' (fn this.cancelSession B.data)}}
                />
              {{/if}}
            </B.Td>
          </B.Tr>
        </:body>
      </Hds::Table>
      {{#if this.showFlyoutViewMoreLink}}
        <Hds::Link::Standalone
          @text={{t 'resources.target.actions.view-more-sessions'}}
          @route='scopes.scope.projects.sessions'
          @query={{this.viewMoreLinkQueryParams}}
          @icon='arrow-right'
          @iconPosition='trailing'
        />
      {{/if}}
    </M.Body>
  </Hds::Flyout>
{{/if}}