{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<Rose::Layout::Page as |page|>

  <page.header>
    <h2>
      {{t 'resources.target.title_plural'}}
      <DocLink @doc='targets' @iconSize='large' />
    </h2>
    <p>{{t 'resources.target.description'}}</p>
  </page.header>

  <page.body>
    {{#if
      (or
        @model
        (has-resource-filter-selections
          'scopes.scope.projects.targets' 'project'
        )
      )
    }}
      <Rose::Toolbar as |toolbar|>
        <toolbar.primary>
          <Rose::Form as |form|>
            {{#let
              (resource-filter 'scopes.scope.projects.targets' 'project')
              as |filter|
            }}
              <Rose::Dropdown
                @text={{t (concat 'resources.' filter.name '.title')}}
                @count={{filter.selectedValue.length}}
                @ignoreClickInside={{true}}
                as |dropdown|
              >
                <ul>
                  {{#let
                    (group-by filter.allowedValues 'scopeModel')
                    as |groups|
                  }}
                    {{#each groups as |groupedItems|}}
                      <li>
                        <dropdown.item>
                          <Rose::Icon
                            @name='flight-icons/svg/org-16'
                            @size='medium'
                          />
                          {{groupedItems.key.displayName}}
                        </dropdown.item>
                        <ul class='indent-label-2'>
                          <form.checkboxGroup
                            @name={{filter.name}}
                            @items={{groupedItems.items}}
                            @selectedItems={{filter.selectedValue}}
                            @onChange={{route-action 'filterBy' filter.name}}
                            as |group|
                          >
                            <li>
                              <dropdown.item>
                                <group.checkbox
                                  @label={{group.item.displayName}}
                                  value={{group.item}}
                                />
                              </dropdown.item>
                            </li>
                          </form.checkboxGroup>
                        </ul>
                      </li>
                    {{/each}}
                  {{/let}}
                </ul>
              </Rose::Dropdown>
            {{/let}}

            {{#if
              (has-resource-filter-selections
                'scopes.scope.projects.targets' 'project'
              )
            }}
              <Rose::Button
                @style='inline-link-action'
                @iconLeft='flight-icons/svg/x-16'
                {{on 'click' (route-action 'clearAllFilters')}}
              >{{t 'actions.clear-all-filters'}}
              </Rose::Button>
            {{/if}}
          </Rose::Form>
        </toolbar.primary>

        <toolbar.secondary>
          <ToolbarRefresher @onClick={{route-action 'refreshTargets'}} />
        </toolbar.secondary>

      </Rose::Toolbar>
    {{/if}}

    {{#if @model}}

      <Hds::Table
        @model={{@model}}
        @columns={{array
          (hash label=(t 'form.name.label'))
          (hash label=(t 'form.id.label'))
          (hash label=(t 'form.type.label'))
          (hash label=(t 'resources.project.title'))
          (hash label='')
        }}
        @valign='middle'
      >
        <:body as |B|>
          <B.Tr>
            <B.Td>
              <span class='hds-font-weight-semibold'>{{#if
                  (can 'read model' B.data)
                }}
                  <LinkTo
                    @route='scopes.scope.projects.targets.target'
                    @model={{B.data.id}}
                  >
                    {{B.data.displayName}}
                  </LinkTo>
                {{else}}
                  {{B.data.displayName}}
                {{/if}}
                {{#if B.data.description}}
                  <p>{{B.data.description}}</p>
                {{/if}}
              </span>
            </B.Td>
            <B.Td>
              <Copyable
                @text={{B.data.id}}
                @buttonText={{t 'actions.copy-to-clipboard'}}
                @acknowledgeText={{t 'states.copied'}}
              >
                <code>{{B.data.id}}</code>
              </Copyable>
            </B.Td>
            <B.Td>
              {{#if B.data.type}}
                <Hds::Badge
                  @text={{t (concat 'resources.target.types.' B.data.type)}}
                />
              {{/if}}
            </B.Td>
            <B.Td>
              <div>
                <Copyable
                  @text={{B.data.project.id}}
                  @buttonText={{t 'actions.copy-to-clipboard'}}
                  @acknowledgeText={{t 'states.copied'}}
                >
                  <code>{{B.data.project.id}}</code>
                </Copyable>
              </div>
              <Hds::Badge @color='neutral' @text={{B.data.project.name}} />
            </B.Td>
            <B.Td>
              {{#if (can 'connect target' B.data)}}
                <Hds::Button
                  @text={{t 'resources.session.actions.connect'}}
                  @color='secondary'
                  {{on 'click' (route-action 'connect' B.data)}}
                />
              {{/if}}
            </B.Td>
          </B.Tr>
        </:body>
      </Hds::Table>

    {{else}}

      <Rose::Layout::Centered>
        <Rose::Message
          @title={{t 'resources.target.messages.none.title'}}
          as |message|
        >
          <message.description>
            {{t 'resources.target.messages.none.description'}}
          </message.description>
        </Rose::Message>
      </Rose::Layout::Centered>

    {{/if}}
  </page.body>

</Rose::Layout::Page>