{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title @model.target.displayName}}

<Rose::Layout::Page as |page|>

  <page.header>
    <h2>
      {{@model.displayName}}
    </h2>
    <p>{{@model.description}}</p>
    <p>
      <Copyable
        @text={{@model.id}}
        @buttonText={{t 'actions.copy-to-clipboard'}}
        @acknowledgeText={{t 'states.copied'}}
      >
        <code>{{@model.id}}</code>
      </Copyable>
    </p>
  </page.header>

  <page.actions>
    <Rose::Button
      @style='primary'
      {{on 'click' (route-action 'connect' @model)}}
    >
      {{t 'resources.session.actions.connect'}}
    </Rose::Button>
  </page.actions>

  <page.body>
    <div class='copy-url-container'>{{t 'actions.copy-to-clipboard'}}</div>
    <Rose::Layout::BodyContent as |bc|>
      <bc.Body class='target-details-body'>
        <Hds::ApplicationState as |A|>
          <A.Header
            @title={{t 'resources.target.messages.connect-more-info.title'}}
          />
          <A.Body
            @text={{t
              'resources.target.messages.connect-more-info.description'
            }}
          />
        </Hds::ApplicationState>
      </bc.Body>
      <bc.Sidebar class='target-details-sidebar'>{{@model.id}}</bc.Sidebar>
    </Rose::Layout::BodyContent>
  </page.body>

</Rose::Layout::Page>