{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title @model.displayName}}

<Rose::Layout::Page as |page|>

  <page.header>
    <h1 class='target-details-header'>
      <Hds::IconTile @color='boundary' @icon='target' />
      {{@model.displayName}}
    </h1>
  </page.header>

  <page.actions>
    <Hds::Button
      @text={{t 'resources.session.actions.connect'}}
      @icon='entry-point'
      @iconPosition='trailing'
      {{on 'click' (route-action 'connect' @model)}}
    />
  </page.actions>

  <page.body>
    <Rose::Layout::BodyContent as |bc|>
      <bc.Body class='target-details-body'>
        <Hds::ApplicationState as |A|>
          <A.Header
            @title={{t 'resources.target.messages.connect-more-info.title'}}
          />
          <A.Body
            @text={{t
              'resources.target.messages.connect-more-info.description'
            }}
          />
        </Hds::ApplicationState>
      </bc.Body>
      <bc.Sidebar>
        <div class='target-details-sidebar'>
          <div
            class='title hds-typography-display-200 hds-font-weight-semibold'
          >
            {{t 'resources.target.details'}}
          </div>
          <Rose::MetadataList @orientation='vertical' as |list|>
            {{! Target name }}
            <list.Item @icon='target' @color='faint'>
              {{@model.name}}
            </list.Item>
            {{! Project name }}
            <list.Item @icon='grid' @color='faint'>
              {{@model.project.displayName}}
            </list.Item>
            {{! Target description }}
            {{#if @model.description}}
              <list.Item @icon='message-circle-fill' @color='faint'>
                {{@model.description}}
              </list.Item>
            {{/if}}
            {{! Target type }}
            <list.Item class='resource-type' @icon='terminal' @color='faint'>
              {{#if @model.isSSH}}
                {{t 'resources.target.types.ssh'}}
              {{else}}
                {{t 'resources.target.types.tcp'}}
              {{/if}}
            </list.Item>
            {{! Target ID }}
            <list.Item @icon='hash' @color='faint'>
              <Copyable
                @text={{@model.id}}
                @buttonText={{t 'actions.copy-to-clipboard'}}
                @acknowledgeText={{t 'states.copied'}}
              >
                {{@model.id}}
              </Copyable>
            </list.Item>
          </Rose::MetadataList>
        </div>
      </bc.Sidebar>
    </Rose::Layout::BodyContent>
  </page.body>

</Rose::Layout::Page>