{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title @model.target.displayName}}

<Rose::Layout::Page as |page|>

  <page.header>
    <h1 class='target-details-header'>
      <Hds::IconTile @color='boundary' @icon='target' />
      {{@model.displayName}}
    </h1>
  </page.header>

  <page.actions>
    <Hds::Button
      @text={{t 'resources.session.actions.connect'}}
      @icon='entry-point'
      @iconPosition='trailing'
      {{on 'click' (route-action 'connect' @model)}}
    />
  </page.actions>

  <page.body>
    <div class='copy-url-container'>{{t 'actions.copy-to-clipboard'}}</div>
    <Rose::Layout::BodyContent as |bc|>
      <bc.Body class='target-details-body'>
        <Hds::ApplicationState as |A|>
          <A.Header
            @title={{t 'resources.target.messages.connect-more-info.title'}}
          />
          <A.Body
            @text={{t
              'resources.target.messages.connect-more-info.description'
            }}
          />
        </Hds::ApplicationState>
      </bc.Body>
      <bc.Sidebar class='target-details-sidebar'>{{@model.id}}</bc.Sidebar>
    </Rose::Layout::BodyContent>
  </page.body>

</Rose::Layout::Page>