{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<Rose::Layout::Page as |page|>

  <page.header>
    <h2>
      {{t 'resources.session.title_plural'}}
      <DocLink @doc='sessions' @iconSize='large' />
    </h2>
    <p>{{t 'resources.session.description'}}</p>
  </page.header>

  <page.body>
    <Rose::Toolbar as |toolbar|>
      <toolbar.primary>
        <Rose::Form as |form|>
          {{#let
            (resource-filter 'scopes.scope.projects.sessions' 'status')
            as |filter|
          }}
            <Rose::Dropdown
              @text={{t (concat 'form.' filter.name '.label')}}
              @count={{filter.selectedValue.length}}
              @ignoreClickInside={{true}}
              as |dropdown|
            >
              <form.checkboxGroup
                @name={{filter.name}}
                @items={{filter.allowedValues}}
                @selectedItems={{filter.selectedValue}}
                @onChange={{route-action 'filterBy' filter.name}}
                as |group|
              >
                <dropdown.item>
                  <group.checkbox
                    @label={{t (concat 'resources.session.status.' group.item)}}
                    value={{group.item}}
                  />
                </dropdown.item>
              </form.checkboxGroup>
            </Rose::Dropdown>
          {{/let}}

          {{#let
            (resource-filter 'scopes.scope.projects.sessions' 'project')
            as |filter|
          }}
            <Rose::Dropdown
              @text={{t (concat 'resources.' filter.name '.title')}}
              @count={{filter.selectedValue.length}}
              @ignoreClickInside={{true}}
              as |dropdown|
            >
              <ul>
                {{#let
                  (group-by filter.allowedValues 'scopeModel')
                  as |groups|
                }}
                  {{#each groups as |groupedItems|}}
                    <li>
                      <dropdown.item>
                        <Rose::Icon
                          @name='flight-icons/svg/org-16'
                          @size='medium'
                        />
                        {{groupedItems.key.displayName}}
                      </dropdown.item>
                      <ul class='indent-label-2'>
                        <form.checkboxGroup
                          @name={{filter.name}}
                          @items={{groupedItems.items}}
                          @selectedItems={{filter.selectedValue}}
                          @onChange={{route-action 'filterBy' filter.name}}
                          as |group|
                        >
                          <li>
                            <dropdown.item>
                              <group.checkbox
                                @label={{group.item.displayName}}
                                value={{group.item}}
                              />
                            </dropdown.item>
                          </li>
                        </form.checkboxGroup>
                      </ul>
                    </li>
                  {{/each}}
                {{/let}}
              </ul>
            </Rose::Dropdown>
          {{/let}}

          {{#if
            (has-resource-filter-selections
              'scopes.scope.projects.sessions' 'status' 'project'
            )
          }}
            <Rose::Button
              @style='inline-link-action'
              @iconLeft='flight-icons/svg/x-16'
              {{on 'click' (route-action 'clearAllFilters')}}
            >{{t 'actions.clear-all-filters'}}
            </Rose::Button>
          {{/if}}
        </Rose::Form>
      </toolbar.primary>

      <toolbar.secondary>
        <ToolbarRefresher @onClick={{route-action 'refreshSessions'}} />
      </toolbar.secondary>

    </Rose::Toolbar>

    {{#if this.sorted}}
      <Hds::Table
        @model={{this.sorted}}
        @columns={{array
          (hash label=(t 'form.id.label'))
          (hash label=(t 'resources.target.title'))
          (hash label=(t 'form.proxy.label'))
          (hash label=(t 'form.started.label'))
          (hash label=(t 'form.status.label'))
          (hash label='')
        }}
        @valign='middle'
      >
        <:body as |B|>
          <B.Tr>
            <B.Td>
              {{#if (can 'read model' B.data)}}
                {{#if B.data.isActive}}
                  <Hds::Badge
                    @text={{t 'resources.session.title'}}
                    @icon='entry-point'
                    @isIconOnly={{true}}
                    @color='success'
                    class='session-status-active'
                  />
                {{else}}
                  <Hds::Badge
                    @text={{t 'resources.session.title'}}
                    @icon='entry-point'
                    @isIconOnly={{true}}
                  />
                {{/if}}
                <Copyable
                  @text={{B.data.id}}
                  @buttonText={{t 'actions.copy-to-clipboard'}}
                  @acknowledgeText={{t 'states.copied'}}
                >
                  <code>{{B.data.id}}</code>
                </Copyable>
              {{/if}}
            </B.Td>
            <B.Td>
              {{B.data.target.displayName}}
            </B.Td>
            {{!
                  Two if's here because:
                  1) Local proxy info is only relevant if the session is
                     active or pending (aka isCancelable).  Once the session
                     is canceled or in the process thereof, the local proxy
                     may no longer be used.
                  2) The session actually has proxy information associated
                     with it.  It's possible for the user to start sessions
                     from other devices (or even another tab), in which case we
                     won't have the local proxy info available here.
                }}
            <B.Td>
              {{#if B.data.isCancelable}}
                {{#if B.data.proxy}}
                  <Copyable
                    @text={{B.data.proxy}}
                    @buttonText={{t 'actions.copy-to-clipboard'}}
                    @acknowledgeText={{t 'states.copied'}}
                  >
                    <code>{{B.data.proxy}}</code>
                  </Copyable>
                {{/if}}
              {{/if}}
            </B.Td>
            <B.Td>
              <time datetime={{format-date-iso B.data.created_time}}>
                {{format-date-iso-human B.data.created_time}}
              </time>
            </B.Td>
            <B.Td>
              <SessionStatus @model={{B.data}} />
            </B.Td>
            <B.Td>
              {{#if B.data.isCancelable}}
                <Hds::Button
                  @text={{t 'actions.cancel'}}
                  @color='secondary'
                  {{on 'click' (route-action 'cancelSession' B.data)}}
                />
              {{/if}}
            </B.Td>
          </B.Tr>
        </:body>
      </Hds::Table>

    {{else if (has-resource-filter-selections
      'scopes.scope.projects.sessions' 'status' 'project'
    )}}
      <Rose::Layout::Centered>
        <Rose::Message @title={{t 'titles.no-results'}} as |message|>
          <message.description>
            {{t 'descriptions.no-results'}}
          </message.description>
        </Rose::Message>
      </Rose::Layout::Centered>
    {{else}}
      <Rose::Layout::Centered>
        <Rose::Message
          @title={{t 'resources.session.messages.none-friendly.title'}}
          as |message|
        >
          <message.description>
            {{t 'resources.session.messages.none-friendly.description'}}
          </message.description>
        </Rose::Message>
      </Rose::Layout::Centered>
    {{/if}}
  </page.body>

</Rose::Layout::Page>