{{!
  Copyright IBM Corp. 2021, 2026
  SPDX-License-Identifier: BUSL-1.1
}}

{{#if @model.isCacheDaemonRunning}}
  <div class='search-filtering-toolbar'>
    <Hds::SegmentedGroup as |S|>
      <S.Generic>
        <Dropdown
          name='target'
          @toggleText={{t 'resources.target.title'}}
          @itemOptions={{this.model.associatedTargets}}
          @checkedItems={{this.targets}}
          @applyFilter={{fn this.applyFilter 'targets'}}
          @isSearchable={{true}}
          @listPosition='bottom-left'
        />
      </S.Generic>
      <S.Generic>
        <Dropdown
          name='status'
          @toggleText={{t 'form.status.label'}}
          @itemOptions={{this.sessionStatusOptions}}
          @checkedItems={{this.status}}
          @applyFilter={{fn this.applyFilter 'status'}}
        />
      </S.Generic>
      <S.Generic>
        <Dropdown
          name='scope'
          @toggleText={{t 'resources.scope.title'}}
          @itemOptions={{this.availableScopes}}
          @checkedItems={{this.scopes}}
          @applyFilter={{fn this.applyFilter 'scopes'}}
          @isSearchable={{true}}
          as |FD selectItem itemOptions|
        >
          {{#let (group-by itemOptions 'scopeModel') as |orgs|}}
            {{#each orgs as |org|}}
              <FD.Generic>
                <Hds::Icon @name='org' @isInline={{true}} />
                {{org.key.displayName}}
              </FD.Generic>
              {{#each org.items as |project|}}
                <FD.Checkbox
                  @value={{project.id}}
                  checked={{includes project.id this.scopes}}
                  {{on 'change' selectItem}}
                >
                  {{project.displayName}}
                </FD.Checkbox>
              {{/each}}
            {{/each}}
          {{/let}}
        </Dropdown>
      </S.Generic>
    </Hds::SegmentedGroup>
    <ToolbarRefresher @onClick={{this.refresh}} />
  </div>

  <FilterTags @filters={{this.filters}} />
{{/if}}
{{#if @model.sessions}}
  <Hds::Table
    @onSort={{this.onSort}}
    @sortBy={{this.sortAttribute}}
    @sortOrder={{this.sortDirection}}
    @model={{this.sortedSessions}}
    @valign='middle'
  >
    <:head as |H|>
      <H.Tr>
        <H.ThSort
          @onClickSort={{fn H.setSortBy 'created_time'}}
          @sortOrder={{if (eq 'created_time' H.sortBy) H.sortOrder}}
        >{{t 'form.started.label'}}</H.ThSort>
        <H.Th>{{t 'form.session_id.label'}}</H.Th>
        <H.Th>{{t 'resources.target.title'}}</H.Th>
        <H.Th>{{t 'form.proxy_url.label'}}</H.Th>
        <H.Th>{{t 'form.status.label'}}</H.Th>
        <H.Th @isVisuallyHidden={{true}} @align='right' @width='60px'>{{t
            'titles.actions'
          }}</H.Th>
      </H.Tr>
    </:head>
    <:body as |B|>
      {{#each this.sortedSessions as |session|}}
        <B.Tr>
          <B.Td>
            <Hds::Time
              @date={{session.created_time}}
              @display='friendly-local'
            />
          </B.Td>
          <B.Td>
            <div class='link-copy-button-container'>
              {{#if session.isAvailable}}
                <Hds::Link::Inline
                  @route='scopes.scope.projects.sessions.session.index'
                  @model={{session.id}}
                  data-test-session-detail-link={{session.id}}
                >
                  {{session.id}}
                </Hds::Link::Inline>
              {{else}}
                <Hds::Text::Body data-test-session-id-copy={{session.id}}>
                  {{session.id}}
                </Hds::Text::Body>
              {{/if}}
              <Hds::Copy::Button
                @text={{session.id}}
                @isIconOnly={{true}}
                @textToCopy={{session.id}}
                data-test-session-id-copy={{session.id}}
              />
            </div>
          </B.Td>
          <B.Td>
            {{session.target.displayName}}
          </B.Td>
          {{!
              Two if's here because:
              1) Local proxy info is only relevant if the session is
                active or pending (aka isAvailable).  Once the session
                is canceled or in the process thereof, the local proxy
                may no longer be used.
              2) The session actually has proxy information associated
                with it.  It's possible for the user to start sessions
                from other devices (or even another tab), in which case we
                won't have the local proxy info available here.
            }}
          <B.Td>
            {{#if session.isAvailable}}
              {{#if session.proxy}}
                <Hds::Copy::Snippet
                  @textToCopy={{session.proxy}}
                  @color='secondary'
                />
              {{/if}}
            {{/if}}
          </B.Td>
          <B.Td>
            <SessionStatus @model={{session}} />
          </B.Td>
          <B.Td @align='right' width='60px'>
            {{#if (can 'cancel session' session)}}
              <Hds::Button
                @text={{t 'actions.cancel'}}
                @icon='x'
                @isIconOnly={{true}}
                @color='secondary'
                {{on 'click' (fn this.cancelSession session)}}
                data-test-session-cancel-button={{session.id}}
              />
            {{/if}}
          </B.Td>
        </B.Tr>
      {{/each}}
    </:body>
  </Hds::Table>
  <Rose::Pagination
    @totalItems={{@model.totalItems}}
    @currentPage={{this.page}}
    @currentPageSize={{this.pageSize}}
  />
{{else if @model.allSessions}}
  <Hds::ApplicationState data-test-no-session-results as |A|>
    <A.Header @title={{t 'titles.no-results-found'}} />
    <A.Body
      @text={{t
        'descriptions.no-filter-results'
        resource=(t 'resources.session.title_plural')
      }}
    />
  </Hds::ApplicationState>
{{else}}
  <Hds::ApplicationState data-test-no-sessions as |A|>
    <A.Header @title={{t 'resources.session.messages.none-friendly.title'}} />
    <A.Body
      @text={{t 'resources.session.messages.none-friendly.description'}}
    />
  </Hds::ApplicationState>
{{/if}}