{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<Rose::Layout::Page as |page|>

  <page.header>
    <h2>
      {{t 'resources.session.title_plural'}}
      <DocLink @doc='sessions' @iconSize='large' />
    </h2>
    <p>{{t 'resources.session.description'}}</p>
  </page.header>

  <page.body class='sessions'>
    {{#if (or @model this.search)}}
      <Hds::SegmentedGroup class='session-search-filtering' as |S|>
        <S.TextInput
          @type='search'
          placeholder={{t 'actions.search'}}
          aria-label={{t 'actions.search'}}
          {{on 'input' this.handleSearchInput}}
        />
        <S.Dropdown as |DD|>
          <DD.ToggleButton
            @color='secondary'
            @text={{t 'resources.target.title'}}
          />
          <DD.Header @hasDivider={{true}}>
            <Hds::Form::TextInput::Base
              @type='search'
              placeholder={{t 'actions.narrow-results'}}
              aria-label={{t 'actions.narrow-results'}}
            />
          </DD.Header>
        </S.Dropdown>
        <S.Dropdown as |DD|>
          <DD.ToggleButton @color='secondary' @text='Status' @count='4' />
        </S.Dropdown>
        <S.Dropdown as |DD|>
          <DD.ToggleButton
            @color='secondary'
            @text={{t 'resources.scope.title'}}
          />
          <DD.Header @hasDivider={{true}}>
            <Hds::Form::TextInput::Base
              @type='search'
              placeholder={{t 'actions.narrow-results'}}
              aria-label={{t 'actions.narrow-results'}}
            />
          </DD.Header>
        </S.Dropdown>
      </Hds::SegmentedGroup>
    {{/if}}

    {{#if this.sorted}}
      <Hds::Table
        @model={{this.sorted}}
        @columns={{array
          (hash label=(t 'form.id.label'))
          (hash label=(t 'resources.target.title'))
          (hash label=(t 'form.proxy.label'))
          (hash label=(t 'form.started.label'))
          (hash label=(t 'form.status.label'))
          (hash label='')
        }}
        @valign='middle'
      >
        <:body as |B|>
          <B.Tr>
            <B.Td>
              {{#if B.data.isAvailable}}
                <Hds::Badge
                  @text={{t 'resources.session.title'}}
                  @icon='entry-point'
                  @isIconOnly={{true}}
                  @color='success'
                />
                <Copyable
                  @text={{B.data.id}}
                  @buttonText={{t 'actions.copy-to-clipboard'}}
                  @acknowledgeText={{t 'states.copied'}}
                >
                  <LinkTo
                    @route='scopes.scope.projects.sessions.session.index'
                    @model={{B.data.id}}
                    data-test-session-detail-link
                  >
                    <code>{{B.data.id}}</code>
                  </LinkTo>
                </Copyable>
              {{else}}
                <Hds::Badge
                  @text={{t 'resources.session.title'}}
                  @icon='entry-point'
                  @isIconOnly={{true}}
                />
                <Copyable
                  @text={{B.data.id}}
                  @buttonText={{t 'actions.copy-to-clipboard'}}
                  @acknowledgeText={{t 'states.copied'}}
                >
                  <code data-test-session-id-copy>{{B.data.id}}</code>
                </Copyable>
              {{/if}}
            </B.Td>
            <B.Td>
              {{B.data.target.displayName}}
            </B.Td>
            {{!
              Two if's here because:
              1) Local proxy info is only relevant if the session is
                  active or pending (aka isAvailable).  Once the session
                  is canceled or in the process thereof, the local proxy
                  may no longer be used.
              2) The session actually has proxy information associated
                  with it.  It's possible for the user to start sessions
                  from other devices (or even another tab), in which case we
                  won't have the local proxy info available here.
            }}
            <B.Td>
              {{#if B.data.isAvailable}}
                {{#if B.data.proxy}}
                  <Copyable
                    @text={{B.data.proxy}}
                    @buttonText={{t 'actions.copy-to-clipboard'}}
                    @acknowledgeText={{t 'states.copied'}}
                  >
                    <code>{{B.data.proxy}}</code>
                  </Copyable>
                {{/if}}
              {{/if}}
            </B.Td>
            <B.Td>
              <time datetime={{format-date-iso B.data.created_time}}>
                {{format-date-iso-human B.data.created_time}}
              </time>
            </B.Td>
            <B.Td>
              <SessionStatus @model={{B.data}} />
            </B.Td>
            <B.Td>
              {{#if (can 'cancel session' B.data)}}
                <Hds::Button
                  @text={{t 'actions.cancel'}}
                  @color='secondary'
                  {{on 'click' (route-action 'cancelSession' B.data)}}
                  data-test-session-cancel-button
                />
              {{/if}}
            </B.Td>
          </B.Tr>
        </:body>
      </Hds::Table>
    {{/if}}

    {{#if this.noResults}}
      <Hds::ApplicationState data-test-no-session-results as |A|>
        <A.Header @title={{t 'titles.no-search-results'}} />
        <A.Body
          @text={{t
            'descriptions.no-search-results'
            query=this.search
            resource='sessions'
          }}
        />
      </Hds::ApplicationState>
    {{/if}}

    {{#if this.noSessions}}
      <Hds::ApplicationState data-test-no-sessions as |A|>
        <A.Header
          @title={{t 'resources.session.messages.none-friendly.title'}}
        />
        <A.Body
          @text={{t 'resources.session.messages.none-friendly.description'}}
        />
      </Hds::ApplicationState>
    {{/if}}
  </page.body>

</Rose::Layout::Page>