{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}
{{page-title @model.displayName}}

<Rose::Layout::Page as |page|>

  <page.header>
    <h1 class='session-details-header'>
      <Hds::IconTile @color='boundary' @icon='terminal' />
      {{@model.displayName}}
    </h1>
  </page.header>

  <page.actions>
    <Hds::Button
      data-test-session-detail-cancel-button
      @text={{t 'resources.session.actions.end'}}
      @icon='x'
      @color='secondary'
      {{on 'click' (route-action 'cancelSession' @model)}}
    />

  </page.actions>

  <page.body class='details-screen-body'>

    <Rose::Layout::BodyContent as |bc|>
      <bc.Body>
        <Session::Tabs @model={{@model}} />
      </bc.Body>
      <bc.Sidebar>
        <div class='details-sidebar'>
          {{#if @model.host}}
            <div class='detail-group'>
              <div
                class='title hds-typography-display-200 hds-font-weight-semibold'
              >
                {{t 'resources.host.details'}}
              </div>
              <Rose::MetadataList @orientation='vertical' as |list|>
                {{! Host name }}
                {{#if @model.host.name}}
                  <list.Item @icon='network-alt' @color='faint'>
                    {{@model.host.name}}
                  </list.Item>
                {{/if}}
                {{! Host description }}
                {{#if @model.host.description}}
                  <list.Item @icon='message-circle-fill' @color='faint'>
                    {{@model.host.description}}
                  </list.Item>
                {{/if}}
                {{! Host ID }}
                <list.Item @icon='hash' @color='faint'>
                  <Copyable
                    @text={{@model.host.id}}
                    @buttonText={{t 'actions.copy-to-clipboard'}}
                    @acknowledgeText={{t 'states.copied'}}
                  >
                    {{@model.host.id}}
                  </Copyable>
                </list.Item>
              </Rose::MetadataList>
            </div>
          {{/if}}
          <div class='detail-group'>
            <div
              class='title hds-typography-display-200 hds-font-weight-semibold'
            >
              {{t 'resources.target.details'}}
            </div>
            <Rose::MetadataList @orientation='vertical' as |list|>
              {{! Target name }}
              <list.Item @icon='target' @color='faint'>
                {{@model.target.name}}
              </list.Item>
              {{! Project name }}
              <list.Item @icon='grid' @color='faint'>
                {{@model.target.project.displayName}}
              </list.Item>
              {{! Target description }}
              {{#if @model.target.description}}
                <list.Item @icon='message-circle-fill' @color='faint'>
                  {{@model.target.description}}
                </list.Item>
              {{/if}}
              {{! Target type }}
              <list.Item class='resource-type' @icon='terminal' @color='faint'>
                {{#if @model.target.isSSH}}
                  {{t 'resources.target.types.ssh'}}
                {{else}}
                  {{t 'resources.target.types.tcp'}}
                {{/if}}
              </list.Item>
              {{! Target ID }}
              <list.Item @icon='hash' @color='faint'>
                <Copyable
                  @text={{@model.target.id}}
                  @buttonText={{t 'actions.copy-to-clipboard'}}
                  @acknowledgeText={{t 'states.copied'}}
                >
                  {{@model.target.id}}
                </Copyable>
              </list.Item>
            </Rose::MetadataList>
          </div>
        </div>
      </bc.Sidebar>
    </Rose::Layout::BodyContent>
  </page.body>

</Rose::Layout::Page>