{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title @model.displayName}}

<Rose::Layout::Page as |page|>

  <page.header>
    <h1 class='session-details-header'>
      <Hds::IconTile @color='boundary' @icon='terminal' />
      {{@model.displayName}}
    </h1>
  </page.header>

  <page.actions>
    <Hds::Button
      data-test-session-detail-cancel-button
      @text={{t 'resources.session.actions.end'}}
      @icon='x'
      @color='secondary'
      {{on 'click' (route-action 'cancelSession' @model)}}
    />

  </page.actions>

  <page.body class='details-screen-body'>
    <Session::Tabs @model={{@model}} />
  </page.body>

</Rose::Layout::Page>