{{page-title (t 'resources.user.actions.add-accounts')}}

<Rose::Layout::Page as |page|>

  <page.breadcrumbs>
    <BreadCrumbs />
  </page.breadcrumbs>

  <page.header>
    <h2>{{t 'resources.user.messages.add-accounts.title'}}</h2>
    <p>{{t 'resources.user.messages.add-accounts.description'}}</p>
  </page.header>

  <page.body>
    {{#if @model.accounts}}
      <Form::User::AddAccounts
        @model={{@model.user}}
        @authMethods={{@model.authMethods}}
        @accounts={{@model.accounts}}
        @submit={{route-action 'addAccounts' @model.user}}
        @cancel={{route-action 'cancel'}}
      />
    {{/if}}

    {{#unless @model.accounts}}
      <Rose::Layout::Centered>
        <Rose::Message
          @title={{t 'resources.user.messages.no-accounts.title'}}
          as |message|
        >
          <message.description>
            {{t 'resources.user.messages.no-accounts.description'}}
          </message.description>
          <message.link @route='scopes.scope.users.user.accounts'>
            <Rose::Icon @name='flight-icons/svg/chevron-left-16' />
            {{t 'actions.back'}}
          </message.link>
        </Rose::Message>
      </Rose::Layout::Centered>
    {{/unless}}
  </page.body>

</Rose::Layout::Page>