{{page-title (t 'resources.session-recording.channel.title')}}

<Rose::Layout::Page as |page|>
  <page.breadcrumbs>
    <BreadCrumbs />
  </page.breadcrumbs>

  <page.header>
    <h2>{{t 'resources.session-recording.channel.title'}}
      {{@model.channelRecording.id}}</h2>
  </page.header>

  <page.body>
    <Layout::Sidebar as |sb|>
      <sb.Body>
        <SessionRecording::Player
          @asciiCast={{@model.asciicast}}
          @route='scopes.scope.session-recordings.session-recording'
          @model={{@model.sessionRecording.id}}
        />
      </sb.Body>

      <sb.Sidebar>
        {{! Channel details information }}
        <div>
          <h3>{{t 'resources.session-recording.channel.details'}}</h3>
          <MetadataList @orientation='vertical' as |list|>
            {{! Start time }}
            <list.Item @icon='calendar' @color='faint'>
              {{@model.channelRecording.start_time}}
            </list.Item>
            {{! Duration }}
            <list.Item @icon='clock' @color='faint'>
              {{format-time-duration @model.channelRecording.duration}}
            </list.Item>
            {{! Bytes up }}
            <list.Item @icon='arrow-up' @color='success'>
              {{format-bytes-size @model.channelRecording.bytes_up}}
            </list.Item>
            {{! Bytes down }}
            <list.Item @icon='arrow-down' @color='action'>
              {{format-bytes-size @model.channelRecording.bytes_down}}
            </list.Item>
          </MetadataList>
        </div>

        {{! Related information }}
        <div>
          <h3>{{t 'resources.session-recording.related'}}</h3>
          <LinkListPanel as |list|>
            {{! User name }}
            {{#if @model.sessionRecording.user}}
              <list.Item
                @icon='user'
                @color='boundary'
                @route='scopes.scope.users.user'
                @model={{array
                  @model.sessionRecording.user.scopeId
                  @model.sessionRecording.user.id
                }}
                @text={{@model.sessionRecording.userDisplayName}}
              />
            {{/if}}
            {{! Target name }}
            {{#if @model.sessionRecording.target}}
              <list.Item
                @icon='target'
                @color='boundary'
                @route='scopes.scope.targets.target'
                @model={{array
                  @model.sessionRecording.target.scopeId
                  @model.sessionRecording.target.id
                }}
                @text={{@model.sessionRecording.target.name}}
              >
                {{#if @model.sessionRecording.target.type}}
                  <Hds::Badge @text={{@model.sessionRecording.target.type}} />
                {{/if}}
              </list.Item>
            {{/if}}
            {{! Bucket name }}
            {{#if @model.storageBucket}}
              <list.Item
                @icon='cloud-check'
                @color='boundary'
                @route='scopes.scope.storage-buckets.storage-bucket'
                @model={{array
                  @model.storageBucket.scope.id
                  @model.storageBucket.id
                }}
                @text={{@model.storageBucket.name}}
              />
            {{/if}}
          </LinkListPanel>
        </div>
      </sb.Sidebar>
    </Layout::Sidebar>
  </page.body>
</Rose::Layout::Page>