{{page-title (t 'resources.session-recording.channel.title')}}

<Rose::Layout::Page as |page|>
  <page.breadcrumbs>
    <BreadCrumbs />
  </page.breadcrumbs>

  <page.header>
    <h2>{{t 'resources.session-recording.channel.title'}}
      {{@model.channelRecording.id}}</h2>
  </page.header>

  <page.body>
    <Layout::Sidebar as |sb|>
      <sb.Body>
        {{#if @model.asciicast}}
          <SessionRecording::Player
            @asciiCast={{@model.asciicast}}
            @route='scopes.scope.session-recordings.session-recording'
            @model={{@model.sessionRecording.id}}
          />
        {{else}}
          <Hds::ApplicationState as |A|>
            {{#if
              (can 'getAsciicast channel-recording' @model.channelRecording)
            }}
              {{! Was not able to downlaod asciicast }}
              <A.Header
                @title={{t
                  'resources.session-recording.channel.messages.missing.title'
                }}
              />
              <A.Body
                @text={{t
                  'resources.session-recording.channel.messages.missing.description'
                }}
              />
              <A.Footer as |F|>
                <F.Link::Standalone
                  @icon='learn-link'
                  @text={{t
                    'resources.session-recording.channel.messages.missing.link'
                  }}
                  @href='/'
                />
              </A.Footer>
            {{else}}
              {{! Not authorized to downlaod asciicast }}
              <A.Header
                @title={{t
                  'resources.session-recording.channel.messages.none.title'
                }}
              />
              <A.Body
                @text={{t
                  'descriptions.cannot-download'
                  resource=(t
                    'resources.session-recording.channel.title_plural'
                  )
                }}
              />
            {{/if}}
          </Hds::ApplicationState>
        {{/if}}
      </sb.Body>

      <sb.Sidebar>
        {{! Channel details information }}
        <div>
          <h3>{{t 'resources.session-recording.channel.details'}}</h3>
          <MetadataList @orientation='vertical' as |list|>
            {{! Start time }}
            <list.Item @icon='calendar' @color='faint'>
              {{t 'form.started.label'}}
              <time
                datetime={{format-date-iso @model.channelRecording.start_time}}
              >
                {{format-date-iso-human @model.channelRecording.start_time}}
              </time>
            </list.Item>
            {{! Duration }}
            <list.Item @icon='clock' @color='faint'>
              {{format-time-duration @model.channelRecording.duration}}
            </list.Item>
            {{! Bytes up }}
            <list.Item @icon='arrow-up' @color='success'>
              {{format-bytes-size @model.channelRecording.bytes_up}}
            </list.Item>
            {{! Bytes down }}
            <list.Item @icon='arrow-down' @color='action'>
              {{format-bytes-size @model.channelRecording.bytes_down}}
            </list.Item>
          </MetadataList>
        </div>

        {{! Related information }}
        <div>
          <h3>{{t 'resources.session-recording.related'}}</h3>
          <LinkListPanel as |list|>
            {{! User name }}
            {{#if @model.sessionRecording.user}}
              <list.Item
                @icon='user'
                @color='boundary'
                @route='scopes.scope.users.user'
                @model={{array
                  @model.sessionRecording.user.scopeId
                  @model.sessionRecording.user.id
                }}
                @text={{@model.sessionRecording.userDisplayName}}
              />
            {{/if}}
            {{! Target name }}
            {{#if @model.sessionRecording.target}}
              <list.Item
                @icon='target'
                @color='boundary'
                @route='scopes.scope.targets.target'
                @model={{array
                  @model.sessionRecording.target.scopeId
                  @model.sessionRecording.target.id
                }}
                @text={{@model.sessionRecording.target.name}}
              >
                {{#if @model.sessionRecording.target.type}}
                  <Hds::Badge @text={{@model.sessionRecording.target.type}} />
                {{/if}}
              </list.Item>
            {{/if}}
            {{! Bucket name }}
            {{#if @model.storageBucket}}
              <list.Item
                @icon='cloud-check'
                @color='boundary'
                @route='scopes.scope.storage-buckets.storage-bucket'
                @model={{array
                  @model.storageBucket.scope.id
                  @model.storageBucket.id
                }}
                @text={{@model.storageBucket.name}}
              />
            {{/if}}
          </LinkListPanel>
        </div>
      </sb.Sidebar>
    </Layout::Sidebar>
  </page.body>
</Rose::Layout::Page>