{{page-title (t 'resources.session-recording.channel.title')}}

<Rose::Layout::Page as |page|>
  <page.breadcrumbs>
    <BreadCrumbs />
  </page.breadcrumbs>

  <page.header>
    <h2>{{t 'resources.session-recording.channel.title'}}
      {{@model.channelRecording.id}}</h2>
  </page.header>

  <page.body>
    <Layout::Sidebar as |sb|>
      <sb.Body>
        <SessionRecording::Player @asciiCast={{@model.asciicast}} />
      </sb.Body>

      <sb.Sidebar>
        {{! Channel details information }}
        <div>
          <h3>{{t 'resources.session-recording.channel.details'}}</h3>
          {{! Start time }}
          <p>
            <FlightIcon @name='calendar' />
            {{@model.channelRecording.start_time}}
          </p>

          {{! Type }}
          <p>
            <FlightIcon @name='terminal-screen' />
            {{@model.sessionRecording.type}}
          </p>

          {{! Duration }}
          <p>
            <FlightIcon @name='clock' />
            {{@model.channelRecording.duration}}
          </p>

          {{! Bytes up }}
          <p>
            <FlightIcon @name='arrow-up' />
            {{format-bytes-size @model.channelRecording.bytes_up}}
          </p>

          {{! Bytes down }}
          <p>
            <FlightIcon @name='arrow-down' />
            {{format-bytes-size @model.channelRecording.bytes_down}}
          </p>
        </div>

        {{! Channel related information }}
        <div>
          <h3>{{t 'resources.session-recording.related'}}</h3>
          {{! User name }}
          <p>
            <FlightIcon @name='user' />
            {{#if @model.sessionRecording.user}}
              {{@model.sessionRecording.userDisplayName}}
            {{/if}}
          </p>
          {{! Target name }}
          <p>
            <FlightIcon @name='target' />
            {{@model.sessionRecording.target.name}}
          </p>
          {{! Bucket name }}
          <p>
            <FlightIcon @name='cloud-check' />
            {{@model.storageBucket.name}}
          </p>
        </div>
      </sb.Sidebar>
    </Layout::Sidebar>
  </page.body>
</Rose::Layout::Page>