{{page-title (t 'resources.session-recording.channel.title')}}

<Rose::Layout::Page as |page|>
  <page.breadcrumbs>
    <BreadCrumbs />
  </page.breadcrumbs>

  <page.header>
    <h2>{{t 'resources.session-recording.channel.title'}}
      {{@model.channelRecording.id}}</h2>
  </page.header>

  <page.body>
    <Layout::Sidebar as |sb|>
      <sb.Body>
        <SessionRecording::Player
          @asciiCast={{@model.asciicast}}
          @route='scopes.scope.session-recordings.session-recording'
          @model={{@model.sessionRecording.id}}
        />
      </sb.Body>

      <sb.Sidebar>
        {{! Channel details information }}
        <div>
          <h3>{{t 'resources.session-recording.channel.details'}}</h3>
          <MetadataList @orientation='vertical' as |list|>
            {{! Start time }}
            <list.Item @icon='calendar' @color='faint'>
              {{@model.sessionRecording.start_time}}
            </list.Item>
            {{! Duration }}
            <list.Item @icon='clock' @color='faint'>
              {{format-time-duration @model.sessionRecording.duration}}
            </list.Item>
            {{! Bytes up }}
            <list.Item @icon='arrow-up' @color='success'>
              {{format-bytes-size @model.sessionRecording.bytes_up}}
            </list.Item>
            {{! Bytes down }}
            <list.Item @icon='arrow-down' @color='action'>
              {{format-bytes-size @model.sessionRecording.bytes_down}}
            </list.Item>
          </MetadataList>
        </div>

        {{! Channel related information }}
        <div>
          <h3>{{t 'resources.session-recording.related'}}</h3>
          {{! User name }}
          <p>
            <FlightIcon @name='user' />
            {{#if @model.sessionRecording.user}}
              {{@model.sessionRecording.userDisplayName}}
            {{/if}}
          </p>
          {{! Target name }}
          <p>
            <FlightIcon @name='target' />
            {{@model.sessionRecording.target.name}}
          </p>
          {{! Bucket name }}
          <p>
            <FlightIcon @name='cloud-check' />
            {{@model.storageBucket.name}}
          </p>
        </div>
      </sb.Sidebar>
    </Layout::Sidebar>
  </page.body>
</Rose::Layout::Page>