{{!
  Copyright IBM Corp. 2021, 2026
  SPDX-License-Identifier: BUSL-1.1
}}

<Rose::Layout::Page as |page|>

  <page.header>
    <Hds::PageHeader as |PH|>
      <PH.Breadcrumb>
        <Breadcrumbs::Container />
      </PH.Breadcrumb>
      <PH.Title>
        {{t 'resources.session-recording.session.title'}}
      </PH.Title>
      <PH.Actions>
        {{#if
          (can 'reapplyStoragePolicy session-recording' @model.sessionRecording)
        }}
          <Hds::Dropdown data-test-manage-channels-dropdown as |dd|>
            <dd.ToggleButton @text={{t 'actions.manage'}} @color='secondary' />

            <dd.Interactive
              {{on
                'click'
                (fn this.reapplyStoragePolicy @model.sessionRecording)
              }}
            >{{t 'resources.policy.actions.update'}}</dd.Interactive>
            {{#if (can 'delete session-recording' @model.sessionRecording)}}
              <dd.Separator />
              <dd.Interactive
                @color='critical'
                {{on 'click' (fn this.delete @model.sessionRecording)}}
              >
                {{t 'resources.policy.actions.delete_recording'}}
              </dd.Interactive>
            {{/if}}
          </Hds::Dropdown>
        {{/if}}
      </PH.Actions>
    </Hds::PageHeader>

  </page.header>

  <page.body>
    <div class='channels-by-connection'>
      <Rose::Layout::BodyContent as |bc|>
        <bc.Body>
          {{#if this.isSessionInprogressWithNoConnections}}
            <Hds::ApplicationState as |A|>
              {{! Session recording in progress with no connections }}
              <A.Header
                @title={{t
                  'resources.session-recording.channels-by-connection.messages.started-no-connections.title'
                }}
              />
              <A.Body
                @text={{t
                  'resources.session-recording.channels-by-connection.messages.started-no-connections.description'
                }}
              />
            </Hds::ApplicationState>
          {{else if this.isSessionUnknownWithNoConnections}}
            <Hds::ApplicationState as |A|>
              {{! Session recording unknown with no connections }}
              <A.Header
                @title={{t
                  'resources.session-recording.channels-by-connection.messages.unknown-no-connections.title'
                }}
              />
              <A.Body
                @text={{t
                  'resources.session-recording.channels-by-connection.messages.unknown-no-connections.description'
                }}
              />
            </Hds::ApplicationState>
          {{else}}
            {{#each
              @model.sessionRecording.connection_recordings
              as |connection|
            }}
              <div class='channels-by-connection-connection-header'>
                <Hds::Text::Display @size='300' @weight='semibold'>
                  {{reverse-indexed-display-name
                    'resources.session-recording.connection.title_index'
                    @model.sessionRecording.connection_recordings
                    connection
                  }}
                </Hds::Text::Display>
                <Hds::Copy::Snippet
                  @textToCopy={{connection.id}}
                  @color='secondary'
                />
              </div>
              {{#if connection.channel_recordings}}
                <Hds::Table
                  @model={{connection.channel_recordings}}
                  @columns={{array
                    (hash
                      label=(t
                        'resources.session-recording.connection.form.channel.label'
                      )
                    )
                    (hash
                      label=(t
                        'resources.session-recording.connection.form.summary.label'
                      )
                    )
                    (hash label=(t 'form.id.label'))
                    (hash
                      label=(t 'titles.actions')
                      isVisuallyHidden=true
                      align='right'
                    )
                  }}
                  @valign='middle'
                >
                  <:body as |B|>
                    <B.Tr>
                      <B.Td>
                        <span>
                          {{reverse-indexed-display-name
                            'resources.session-recording.channel.title_index'
                            connection.channel_recordings
                            B.data
                          }}
                        </span>
                      </B.Td>
                      <B.Td>
                        <Rose::MetadataList as |list|>
                          {{! Bytes up }}
                          {{#if B.data.bytes_up}}
                            <list.Item @icon='arrow-up' @color='success'>
                              {{t
                                'resources.session-recording.up'
                                bytes=(format-bytes-size B.data.bytes_up)
                              }}
                            </list.Item>
                          {{/if}}
                          {{! Bytes down }}
                          {{#if B.data.bytes_down}}
                            <list.Item @icon='arrow-down' @color='action'>
                              {{t
                                'resources.session-recording.down'
                                bytes=(format-bytes-size B.data.bytes_down)
                              }}
                            </list.Item>
                          {{/if}}
                          {{! Duration }}
                          {{#if B.data.duration}}
                            <list.Item @icon='clock' @color='faint'>
                              {{format-time-duration B.data.duration}}
                            </list.Item>
                          {{/if}}
                        </Rose::MetadataList>
                      </B.Td>
                      <B.Td>
                        <Hds::Copy::Snippet
                          @textToCopy={{B.data.id}}
                          @color='secondary'
                        />
                      </B.Td>
                      <B.Td align='right'>
                        {{#if (can 'play channel-recording' B.data)}}
                          <Hds::Button
                            @icon='play'
                            @color='secondary'
                            @text={{t 'actions.play'}}
                            @route='scopes.scope.session-recordings.session-recording.channels-by-connection.channel'
                            @model={{B.data.id}}
                          />
                        {{else if (can 'viewOnly channel-recording' B.data)}}
                          <Hds::Button
                            @icon='arrow-right'
                            @iconPosition='trailing'
                            @color='secondary'
                            @text={{t 'actions.view'}}
                            @route='scopes.scope.session-recordings.session-recording.channels-by-connection.channel'
                            @model={{B.data.id}}
                          />
                        {{/if}}
                      </B.Td>
                    </B.Tr>
                  </:body>
                </Hds::Table>
              {{else}}
                <div class='no-channels-message'>
                  <Hds::Alert @type='compact' as |A|>
                    <A.Description>
                      {{t
                        'resources.session-recording.channels-by-connection.messages.no-channels'
                      }}
                    </A.Description>
                  </Hds::Alert>
                </div>
              {{/if}}
            {{/each}}
          {{/if}}
        </bc.Body>
        <bc.Sidebar>
          <div class='section-details'>
            <Hds::Text::Display @tag='h2' @size='400' @weight='bold'>{{t
                'resources.session-recording.details'
              }}</Hds::Text::Display>

            <Rose::MetadataList @orientation='vertical' as |list|>
              {{! Session Recording Status }}
              {{#if @model.sessionRecording.state}}
                <list.Item>
                  <SessionRecording::Status
                    @status={{@model.sessionRecording.state}}
                  />
                </list.Item>
              {{/if}}
              {{! Created time }}
              {{#if @model.sessionRecording.created_time}}
                <list.Item @icon='calendar' @color='faint'>
                  {{t 'form.created.label'}}
                  <Hds::Time
                    @date={{@model.sessionRecording.created_time}}
                    @display='friendly-local'
                  />
                </list.Item>
              {{/if}}
              {{! Duration }}
              {{#if @model.sessionRecording.duration}}
                <list.Item @icon='clock' @color='faint'>
                  {{t
                    'resources.session-recording.duration'
                    time=(format-time-duration @model.sessionRecording.duration)
                  }}
                </list.Item>
              {{/if}}
              {{! Bytes up }}
              {{#if @model.sessionRecording.bytes_up}}
                <list.Item @icon='arrow-up' @color='success'>
                  {{t
                    'resources.session-recording.up'
                    bytes=(format-bytes-size @model.sessionRecording.bytes_up)
                  }}
                </list.Item>
              {{/if}}
              {{! Bytes down }}
              {{#if @model.sessionRecording.bytes_down}}
                <list.Item @icon='arrow-down' @color='action'>
                  {{t
                    'resources.session-recording.down'
                    bytes=(format-bytes-size @model.sessionRecording.bytes_down)
                  }}
                </list.Item>
              {{/if}}
              {{! Policy info}}

              {{#if @model.sessionRecording.retain_until}}
                <list.Item @icon='hourglass' @color='faint'>
                  {{t 'resources.policy.titles.retain_until'}}
                  <div data-test-retain-until>
                    {{#if @model.sessionRecording.retainForever}}
                      {{t 'resources.policy.titles.forever'}}
                    {{else}}
                      <Hds::Time
                        @date={{@model.sessionRecording.retain_until}}
                        @display='friendly-local'
                      />
                    {{/if}}
                  </div>
                </list.Item>
              {{/if}}

              {{#if @model.sessionRecording.delete_after}}
                <list.Item @icon='hourglass' @color='faint'>
                  {{t 'resources.policy.titles.delete_after'}}
                  <Hds::Time
                    data-test-delete-after
                    @date={{@model.sessionRecording.delete_after}}
                    @display='friendly-local'
                  />
                </list.Item>
              {{/if}}
            </Rose::MetadataList>
          </div>

          {{! Related information }}
          <div>
            <Hds::Text::Display @tag='h2' @size='400' @weight='bold'>{{t
                'resources.session-recording.related'
              }}</Hds::Text::Display>
            <LinkListPanel as |list|>
              {{! User name }}
              {{#if @model.sessionRecording.create_time_values.user}}
                <list.Item
                  @icon='user'
                  @color='boundary'
                  @route='scopes.scope.users.user'
                  @model={{array
                    @model.sessionRecording.create_time_values.user.scope.id
                    @model.sessionRecording.create_time_values.user.id
                  }}
                  @text={{@model.sessionRecording.userDisplayName}}
                />
              {{/if}}
              {{! Target name }}
              {{#if @model.sessionRecording.create_time_values.target}}
                <list.Item
                  @icon='target'
                  @color='boundary'
                  @route='scopes.scope.targets.target'
                  @model={{array
                    @model.sessionRecording.create_time_values.target.scope.id
                    @model.sessionRecording.create_time_values.target.id
                  }}
                  @text={{@model.sessionRecording.create_time_values.target.name}}
                >
                  {{#if @model.sessionRecording.create_time_values.target.type}}
                    <Hds::Badge
                      @text={{@model.sessionRecording.create_time_values.target.type}}
                    />
                  {{/if}}
                </list.Item>
              {{/if}}
              {{! Bucket name or ID}}
              {{#if @model.storageBucket}}
                <list.Item
                  @icon='cloud-check'
                  @color='boundary'
                  @route='scopes.scope.storage-buckets.storage-bucket'
                  @model={{array
                    @model.storageBucket.scope.id
                    @model.storageBucket.id
                  }}
                  @text={{@model.storageBucket.displayName}}
                />
              {{/if}}
              {{! Session Recording ID }}
              <list.Item
                @icon='film'
                @color='boundary'
                @text={{t 'resources.session-recording.title'}}
              >
                <Hds::Copy::Snippet
                  @textToCopy={{@model.sessionRecording.id}}
                  @color='secondary'
                />
              </list.Item>
            </LinkListPanel>
          </div>
        </bc.Sidebar>
      </Rose::Layout::BodyContent>
    </div>
  </page.body>
</Rose::Layout::Page>