<Rose::Layout::Page as |page|>

  <page.breadcrumbs>
    <BreadCrumbs />
  </page.breadcrumbs>

  <page.header>
    <h2>{{t "resources.project.title"}}</h2>
    <p>{{t "resources.project.description"}}</p>
    <Copyable
      @text={{@model.id}}
      @buttonText={{t "actions.copy-to-clipboard"}}
      @acknowledgeText={{t "states.copied"}}
    >
      <code>{{@model.id}}</code>
    </Copyable>
  </page.header>

  <page.navigation>
    <Rose::Nav::Tabs as |nav|>
      <nav.link @route='scopes.scope.projects.project'>
        {{t 'titles.details'}}
      </nav.link>
    </Rose::Nav::Tabs>
  </page.navigation>

  <page.actions>
    <Rose::Dropdown @text="{{t 'actions.manage'}}" @dropdownRight={{true}} as |dropdown|>
      <dropdown.button
        @style="danger"
        @disabled={{@model.canSave}}
        {{on "click" (route-action "delete" @model)}}
      >
        {{t 'actions.delete-project'}}
      </dropdown.button>
    </Rose::Dropdown>
  </page.actions>

  <page.body>
    <Form::Project
      @model={{@model}}
      @submit={{route-action "save" @model}}
      @cancel={{route-action "cancel" @model}}
    />
  </page.body>

</Rose::Layout::Page>
