{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<Hds::Form::Field as |F|>
  <F.Control>
    <Rose::CodeEditor as |c|>
      {{#unless @hideToolbar}}
        <c.toolbar @copyText={{get @model @name}} />
      {{/unless}}
      <c.fieldEditor
        @onInput={{fn this.setWorkerFilter @model @name}}
        @value={{or (get @model @name) ''}}
        @options={{hash
          mode='text/x-sh'
          gutters=(array 'CodeMirror-lint-markers')
          lint='true'
        }}
      />
    </Rose::CodeEditor>
  </F.Control>
  {{#if (get @model.errors @name)}}
    <F.Error data-test-worker-filter-error as |E|>
      {{#each (get @model.errors @name) as |error|}}
        <E.Message>{{error.message}}</E.Message>
      {{/each}}
    </F.Error>
  {{/if}}
</Hds::Form::Field>

<Hds::Separator />

<Hds::Form::Toggle::Field
  name='show_filter_generator'
  {{on 'change' this.toggleFilterGenerator}}
  as |F|
>
  <F.Label>{{t 'worker-filter-generator.toggle.title'}}</F.Label>
  <F.HelperText>{{t
      'worker-filter-generator.toggle.description'
    }}</F.HelperText>
</Hds::Form::Toggle::Field>

<Hds::Separator />

{{#if this.showFilterGenerator}}
  <Hds::Form::Radio::Group
    class='filter-generator-selection'
    @name='filter_generator'
    {{on 'change' this.setGeneratorType}}
    as |G|
  >
    <G.Legend>{{t 'worker-filter-generator.filter-generator.title'}}</G.Legend>
    <G.HelperText>
      {{t 'worker-filter-generator.filter-generator.description'}}
      <br />
      <Hds::Link::Inline
        @href={{doc-url 'worker-filters-format'}}
        @color='secondary'
      >
        {{t 'worker-filter-generator.filter-generator.link'}}
      </Hds::Link::Inline>
    </G.HelperText>
    <G.RadioField
      @value={{this.generatorTagType}}
      checked={{eq this.selectedGeneratorType this.generatorTagType}}
      as |F|
    >
      <F.Label>{{t
          'worker-filter-generator.filter-generator.tag.label'
        }}</F.Label>
      <F.HelperText>{{t
          'worker-filter-generator.filter-generator.tag.helper'
        }}</F.HelperText>
    </G.RadioField>
    <G.RadioField
      @value={{this.generatorNameType}}
      checked={{eq this.selectedGeneratorType this.generatorNameType}}
      as |F|
    >
      <F.Label>{{t
          'worker-filter-generator.filter-generator.name.label'
        }}</F.Label>
      <F.HelperText>{{t
          'worker-filter-generator.filter-generator.name.helper'
        }}</F.HelperText>
    </G.RadioField>
  </Hds::Form::Radio::Group>

  <Hds::Form::Fieldset
    aria-labelledby={{this.inputValuesLabelId}}
    aria-describedby={{this.inputValuesHelpId}}
    class='input-values'
    as |F|
  >
    <F.Legend id={{this.inputValuesLabelId}}>{{t
        'worker-filter-generator.filter-generator.input-values.title'
      }}</F.Legend>
    <F.HelperText id={{this.inputValuesHelpId}}>{{t
        'worker-filter-generator.filter-generator.input-values.description'
      }}</F.HelperText>
    <F.Control>
      {{#if (eq this.selectedGeneratorType this.generatorTagType)}}
        <Hds::Form::TextInput::Field
          @value={{this.key}}
          name='tag_key'
          @width='320px'
          {{on 'input' (set-from-event this 'key')}}
          as |F|
        >
          <F.Label>{{t 'form.key.label'}}</F.Label>
        </Hds::Form::TextInput::Field>
      {{else}}
        <Hds::Form::Select::Field
          name='name_operator'
          @value={{this.operator}}
          @width='320px'
          {{on 'change' (set-from-event this 'operator')}}
          as |F|
        >
          <F.Label>{{t 'form.operator.label'}}</F.Label>
          <F.Options>
            <option value=''>
              {{t 'worker-filter-generator.filter-generator.operator.default'}}
            </option>
            {{#each this.operatorOptions as |operator|}}
              <option value={{operator}} selected={{eq operator this.operator}}>
                {{#if (eq operator '==')}}
                  {{operator}}
                {{else}}
                  {{t
                    (concat
                      'worker-filter-generator.filter-generator.operator.'
                      operator
                    )
                  }}
                {{/if}}
              </option>
            {{/each}}
          </F.Options>
        </Hds::Form::Select::Field>
      {{/if}}
    </F.Control>
    <F.Control>
      <Hds::Form::TextInput::Field
        @value={{this.value}}
        name='tag_value'
        @width='320px'
        {{on 'input' (set-from-event this 'value')}}
        as |F|
      >
        <F.Label>{{t 'form.value.label'}}</F.Label>
      </Hds::Form::TextInput::Field>
    </F.Control>
  </Hds::Form::Fieldset>

  <Hds::Form::Fieldset
    aria-labelledby={{this.formattedResultLabelId}}
    aria-describedby={{this.formattedResultHelpId}}
    class='formatted-results'
    @layout='vertical'
    as |F|
  >
    <F.Legend id={{this.formattedResultLabelId}}>{{t
        'worker-filter-generator.filter-generator.formatted-result.title'
      }}</F.Legend>
    <F.HelperText id={{this.formattedResultHelpId}}>{{t
        'worker-filter-generator.filter-generator.formatted-result.description'
      }}</F.HelperText>
    <F.Control>
      <Hds::Text::Body @tag='p' @weight='semibold'>{{t
          'worker-filter-generator.filter-generator.formatted-result.label'
        }}</Hds::Text::Body>
      <div class='generated-results-container'>
        <Hds::Form::TextInput::Base
          readonly
          id='generated-value'
          name='generated_value'
          @value={{this.generatedResult}}
          @width='320px'
        />
        <Hds::Copy::Button @text='Copy' @targetToCopy='#generated-value' />
      </div>
    </F.Control>
  </Hds::Form::Fieldset>
{{/if}}