<div>
<input
  ...attributes
  type={{"checkbox"}}
  disabled={{if @disabled "disabled"}}
  class="rose-dropdown-button {{if  @style (concat "rose-dropdown-button-" @style)}} {{if @iconOnly "has-icon-only"}}"
  />
  <span class="rose-dropdown-button-wrapper">
    <span class="rose-dropdown-button-body">
      {{yield}}
    </span>
  </span>
</div>