{{#if this.isClipboardLibrarySupported}}
  <span
    {{did-insert this.register}}
    {{will-destroy this.destroy}}
  >
    <span id={{this.targetId}} class="copy-target">
      {{yield}}
    </span>

    <Rose::Button
      class="copy-button"
      @iconRight={{this.icon}}
      aria-label={{t "resources.actions.copy"}}
      data-clipboard-target={{concat "#" this.targetId}}
    />
  </span>
{{else}}
  {{yield}}
{{/if}}
