{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<Rose::Layout::Page class='hds-migration-overrides' as |page|>
  <page.header>
    <Hds::PageHeader as |PH|>
      <PH.Breadcrumb>
        <Breadcrumbs::Container />
      </PH.Breadcrumb>
      <PH.Title>
        {{t 'resources.credential.title'}}
        <DocLink @doc='credential' />
      </PH.Title>
      <PH.Description>
        {{t 'resources.credential.description'}}
      </PH.Description>
      {{#if (can 'delete model' @model)}}
        <PH.Actions>
          <Hds::Dropdown data-test-manage-credentials-dropdown as |dd|>
            <dd.ToggleButton @text={{t 'actions.manage'}} @color='secondary' />
            <dd.Interactive
              @color='critical'
              {{on 'click' (fn this.credentials.delete @model)}}
            >{{t 'resources.credential.actions.delete'}}</dd.Interactive>
          </Hds::Dropdown>
        </PH.Actions>
      {{/if}}
      <PH.Generic>
        <div class='copy-snippet-container'>
          <Hds::Copy::Snippet @textToCopy={{@model.id}} @color='secondary' />
        </div>
      </PH.Generic>
    </Hds::PageHeader>
  </page.header>

  <page.navigation>
    <Rose::Nav::Tabs as |nav|>
      <nav.link
        @route='scopes.scope.credential-stores.credential-store.credentials.credential.index'
      >
        {{t 'titles.details'}}
      </nav.link>
    </Rose::Nav::Tabs>
  </page.navigation>

  <page.body>
    <Form::Credential
      @model={{@model}}
      @submit={{fn this.credentials.save @model}}
      @cancel={{fn this.credentials.cancel @model}}
    />
  </page.body>
</Rose::Layout::Page>