{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title (t 'titles.new')}}

<Rose::Layout::Page as |page|>

  <page.breadcrumbs>
    <BreadCrumbs />
  </page.breadcrumbs>

  <page.header>
    <h2>
      {{t 'resources.credential.titles.new'}}
      <DocLink @doc='credential' @iconSize='large' />
    </h2>
    <p>{{t 'resources.credential.description'}}</p>
  </page.header>

  <page.body>
    <Form::Credential
      @model={{@model}}
      @submit={{route-action 'save' @model}}
      @cancel={{route-action 'cancel' @model}}
      @changeType={{route-action 'changeType'}}
    />
  </page.body>
</Rose::Layout::Page>