<Rose::Layout::Page class="projects-overview" as |page|>
  <page.header>
    <Rose::PageHeader::Title @text={{t "resources.projects"}} />
  </page.header>

  <page.actions>
    <Rose::PageHeader::Utilities as |utility|>
      <utility.action
        @style="primary"
        @iconLeft="plus-plain"
        {{on "click" (route-action "new")}}
      >
        {{t 'titles.new'}}
      </utility.action>
    </Rose::PageHeader::Utilities>
  </page.actions>

  <page.body>
    <ul class="projects">
      {{#each @model as |project|}}
        <li class="project">
          <Rose::Card::Link @title={{project.name}}
            @subtitle={{project.id}}
            @description={{project.description}}
            @route="orgs.org.projects.project"
            @model={{project}}
          />
        </li>
      {{/each}}
    </ul>
  </page.body>
</Rose::Layout::Page>
