<div class="projects-overview">

  <h2>{{t "resources.projects"}}</h2>

  <LinkTo @route="orgs.org.projects.new">
    <Rose::Icon @name="plus-circle-outline" @size="medium" />
    {{t "titles.new"}}
  </LinkTo>

  <ul class="projects">
    {{#each @model as |project|}}
      <li class="project">
        <Rose::Card::Link @title={{project.name}}
          @subtitle={{project.id}}
          @description={{project.description}}
          @route="orgs.org.projects.project"
          @model={{project}}
        />
      </li>
    {{/each}}
  </ul>
</div>
