<Rose::Layout::Page class="projects-overview" as |page|>
  <page.header>
    <h1>{{t "resources.projects"}}</h1>
  </page.header>

  <page.actions>
    <Rose::Button
      @style="primary"
      @iconLeft="plus-plain"
      {{on "click" (route-action "new")}}
    >
      {{t 'titles.new'}}
    </Rose::Button>
  </page.actions>

  <page.body>
    <ul class="projects">
      {{#each @model as |project|}}
        <li class="project">
          <Rose::Card::Link @title={{project.name}}
            @subtitle={{project.id}}
            @description={{project.description}}
            @route="orgs.org.projects.project"
            @model={{project}}
          />
        </li>
      {{/each}}
    </ul>
  </page.body>
</Rose::Layout::Page>
