<div class="projects-overview">
  <h2>{{t "resources.projects"}}</h2>
  <Rose::Button
    class="project-new-link"
    @style="primary"
    @iconLeft="plus-plain"
    {{on "click" (route-action "new")}}
  >
    {{t 'titles.new'}}
  </Rose::Button>

  <ul class="projects">
    {{#each @model as |project|}}
      <li class="project">
        <Rose::Card::Link @title={{project.name}}
          @description={{project.description}}
          @route="orgs.org.projects.project"
          @model={{project}}
        />
      </li>
    {{/each}}
  </ul>
</div>
