<Rose::Layout::Page as |page|>

  <page.breadcrumbs>
    <BreadCrumbs />
  </page.breadcrumbs>

  <page.header>
    <h2>{{t "resources.projects"}}</h2>
  </page.header>

  <page.actions>
    <LinkTo @route="orgs.org.projects.new">{{t 'titles.new'}}</LinkTo>
  </page.actions>

  <page.body>
    <Rose::Cards as |cards|>
      {{#each @model as |project|}}
        <cards.link
          @title={{project.name}}
          @subtitle={{project.id}}
          @description={{project.description}}
          @route="orgs.org.projects.project"
          @model={{project}}
        />
      {{/each}}
    </Rose::Cards>
  </page.body>

</Rose::Layout::Page>
