<Rose::Layout::Page class="project-new" as |page|>
  <page.breadcrumbs>
    <div class="breadcrumbs">
      <LinkTo @route='orgs.org.projects'>{{t "resources.projects"}}</LinkTo>
      >
      <LinkTo @route='orgs.org.projects.new'>{{t "titles.new"}}</LinkTo>
    </div>
  </page.breadcrumbs>

  <page.header>
    <Rose::PageHeader::Title @text={{t "titles.new"}} />
  </page.header>

  <page.body>
    <Form::Project
      @model={{@model}}
      @submit={{route-action "save" @model}}
      @cancel={{route-action "cancel" @model}}
      class="project-new-form"
    />
  </page.body>
</Rose::Layout::Page>
