<LinkTo @route='orgs.org.projects'>{{t "resources.projects"}}</LinkTo>
>
<LinkTo @route='orgs.org.projects.new'>{{t "titles.new"}}</LinkTo>

<h2>{{t "titles.new"}}</h2>

<Form::Project
  @model={{@model}}
  @submit={{route-action "save" @model}}
  @cancel={{route-action "cancel" @model}}
/>
