{{title (t "titles.new")}}

<div class="project-new">
  <div class="breadcrumbs">
    <LinkTo @route='orgs.org.projects'>{{t "resources.projects"}}</LinkTo>
    >
    <LinkTo @route='orgs.org.projects.new'>{{t "titles.new"}}</LinkTo>
  </div>

  <Rose::Layout::PageHeader>
    <Rose::PageHeader::Title @text={{t "titles.new"}} />
  </Rose::Layout::PageHeader>

  <Form::Project
    @model={{@model}}
    @submit={{route-action "save" @model}}
    @cancel={{route-action "cancel" @model}}
    class="project-new-form"
  />
</div>
