{{title @model.name}}

<div class="project-overview">
  <div class="breadcrumbs">
    <LinkTo @route='orgs.org.projects'>{{t "resources.projects"}}</LinkTo>
    >
    <LinkTo @route='orgs.org.projects.project'>{{@model.name}}</LinkTo>
  </div>

  <Rose::Layout::PageHeader>
    <Rose::PageHeader::Title @text={{t "resources.project.settings"}} />
  </Rose::Layout::PageHeader>

  <Rose::Nav::Tabs as |nav|>
    <nav.link @route='orgs.org.projects.project'>
      {{t "nav.overview"}}
    </nav.link>
    <nav.link @route='index'>
      {{t 'dev.item-name'}}
    </nav.link>
  </Rose::Nav::Tabs>

  <Form::Project
    @model={{@model}}
    @submit={{route-action "save" @model}}
    @cancel={{route-action "cancel" @model}}
    class="project-new-form"
  />

  <Rose::Button
    @style="warning"
    @disabled={{@model.canSave}}
    {{on "click" (route-action "delete" @model)}}
  >
    {{t 'actions.delete'}}
  </Rose::Button>
</div>
