{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

{{#if @showModal}}
  <Hds::Modal data-test-host-modal @onClose={{fn @toggleModal false}} as |M|>
    <M.Header @tagline={{@target.displayName}}>
      {{t 'resources.session.actions.host'}}
    </M.Header>
    <M.Body>
      <ul class='host-list-container'>
        {{#each @hosts as |host|}}
          <li class='host-container'>
            <button
              data-test-host-connect
              type='button'
              {{on 'click' (fn @connect @target host)}}
            >
              <div class='host-info-container'>
                <Hds::IconTile
                  @color='boundary'
                  @icon='network-alt'
                  @size='small'
                />
                <div class='host-info'>
                  <Hds::Text::Body @tag='p' @weight='semibold' @color='primary'>
                    {{host.displayName}}
                  </Hds::Text::Body>
                  {{#if host.isStatic}}
                    <Hds::Text::Body @tag='p' @size='100' @color='faint'>
                      {{host.address}}
                    </Hds::Text::Body>
                  {{/if}}
                  {{#if host.isPlugin}}
                    {{#if host.isUnknown}}
                      <Hds::Badge
                        @text={{t 'resources.host-catalog.types.unknown'}}
                      />
                    {{else}}
                      <Hds::Badge
                        @text={{t 'resources.host-catalog.types.plugin'}}
                        @icon={{host.plugin.name}}
                      />
                    {{/if}}
                  {{/if}}
                  {{#if host.description}}
                    <Hds::Text::Body @tag='p' @size='100' @color='faint'>
                      {{host.description}}
                    </Hds::Text::Body>
                  {{/if}}
                </div>
              </div>
              <Hds::Icon
                class='host-arrow'
                @name='arrow-right'
                @isInline={{true}}
              />
            </button>
          </li>
        {{/each}}
      </ul>
    </M.Body>
    <M.Footer>
      <Hds::Button
        data-test-host-quick-connect
        type='button'
        @icon='entry-point'
        @iconPosition='trailing'
        @text={{t 'resources.session.actions.quick-connect'}}
        {{on 'click' (fn @connect @target)}}
      />
    </M.Footer>
  </Hds::Modal>
{{/if}}