<Rose::Layout::Page as |page|>
  <page.header>
    <h2>{{t "resources.auth-methods"}}</h2>
  </page.header>

  <page.breadcrumbs>
    <BreadCrumbs />
  </page.breadcrumbs>

  <page.actions>
    {{#if @model}}
      <Rose::LinkButton @route="scopes.scope.auth-methods.new" @style="primary">
        {{t "titles.new"}}
      </Rose::LinkButton>
    {{/if}}
  </page.actions>

  <page.body>
    {{#if @model}}

      <Rose::Table as |table|>
        <table.header as |header|>
          <header.row as |row|>
            <row.cell>{{t 'form.label.name'}}</row.cell>
            <row.cell>{{t 'form.label.type'}}</row.cell>
            <row.cell>{{t 'form.label.id'}}</row.cell>
          </header.row>
        </table.header>

        <table.body as |body|>
          {{#each @model as |authMethod|}}
            <body.row as |row|>
              <row.cell>
                <p>
                  <LinkTo
                    @route="scopes.scope.auth-methods.auth-method"
                    @model={{authMethod}}
                  >
                    {{authMethod.name}}
                  </LinkTo>
                </p>
                {{authMethod.description}}
              </row.cell>
              <row.cell>
                <Rose::Badge @style="outline">
                  {{t (concat 'auth.method-types.' authMethod.type)}}
                </Rose::Badge>
              </row.cell>
              <row.cell>{{authMethod.id}}</row.cell>
            </body.row>
          {{/each}}
        </table.body>
      </Rose::Table>

    {{else}}

      <Rose::Layout::Centered>
        <Rose::Message @title={{t 'titles.auth-methods-welcome'}} as |message|>
          <message.description>
            {{t 'descriptions.auth-methods-welcome'}}
          </message.description>
          <message.link @route="scopes.scope.auth-methods.new">
            <Rose::Icon @name="plus-circle-outline" />
            {{t 'titles.new'}}
          </message.link>
        </Rose::Message>
      </Rose::Layout::Centered>

    {{/if}}
  </page.body>
</Rose::Layout::Page>