{{page-title (t "auth.titles.flow-error")}}

<main>
  <Rose::Layout::Centered>
    <Rose::Notification
      @style="error"
      @heading={{t "auth.titles.flow-error"}}
    >
      {{t "auth.descriptions.flow-error"}}
      <br>
      <Copyable
        @text={{@model}}
        @buttonText={{t "actions.copy-error-detail-to-clipboard"}}
        @acknowledgeText={{t "states.copied"}}
      >
        {{t "actions.copy-error-detail-to-clipboard"}}
      </Copyable>
    </Rose::Notification>
  </Rose::Layout::Centered>
</main>
