<section class='card'>
  <header class='card-header'>
    {{#if @heading}}
      <div>
        {{#if @icon}}
          <Rose::Icon @name={{@icon}} @size='medium' />
        {{/if}}
        {{@heading}}
      </div>
    {{/if}}
    {{yield to='header'}}
  </header>
  <div class='card-body'>{{yield to='body'}}</div>
  <footer class='card-footer'>{{yield to='footer'}}</footer>
</section>