{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<section class='card'>
  {{#if (if (has-block 'header') true @heading)}}
    <header class='card-header'>
      {{#if @heading}}
        <Hds::Text::Display
          @tag='h2'
          @size='400'
          @weight='bold'
          class='header-spacing'
        >
          {{#if @icon}}
            <Hds::Icon @name={{@icon}} />
          {{/if}}
          {{@heading}}
        </Hds::Text::Display>
      {{/if}}

      {{yield to='header'}}

    </header>
  {{/if}}

  <div class='card-body'>
    {{yield to='body'}}
  </div>

  {{#if (has-block 'footer')}}
    <footer class='card-footer'>
      {{yield to='footer'}}
    </footer>
  {{/if}}
</section>