{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<section class='card'>
  {{#if (if (has-block 'header') true @heading)}}
    <header class='card-header'>
      {{#if @heading}}
        <h2>
          {{#if @icon}}
            <Hds::Icon @name={{@icon}} />
          {{/if}}
          {{@heading}}
        </h2>
      {{/if}}

      {{yield to='header'}}

    </header>
  {{/if}}

  <div class='card-body'>
    {{yield to='body'}}
  </div>

  {{#if (has-block 'footer')}}
    <footer class='card-footer'>
      {{yield to='footer'}}
    </footer>
  {{/if}}
</section>