{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<Rose::Dialog::Cover>
  <:header>
    <Hds::Text::Display @tag='h1' @size='400' class='header-spacing'>{{t
        'resources.auth-method.messages.pending.title'
      }}</Hds::Text::Display>
  </:header>
  <:body>
    <p>{{t 'resources.auth-method.messages.pending.description'}}</p>
    <p>
      {{t 'resources.auth-method.questions.no-see-window'}}
      <a href='#' {{on 'click' this.retryAuthentication}}>
        {{t 'actions.retry'}}
      </a>
    </p>
    <p>
      <LinkTo @route='scopes.scope.authenticate.method'>
        {{t 'actions.cancel'}}
      </LinkTo>
    </p>
  </:body>
</Rose::Dialog::Cover>