{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

{{page-title (t 'actions.change-password')}}

<Rose::Layout::Sidebar as |sidebarLayout|>
  <sidebarLayout.body>
    <main>
      <Rose::Layout::Centered>
        <Rose::Layout::Page as |page|>

          <page.header>
            <Hds::Text::Display
              @tag='h2'
              @size='400'
              @weight='bold'
              class='header-spacing'
            >{{t 'actions.change-password'}}</Hds::Text::Display>
          </page.header>

          <page.body>
            <Form::Account::Password::ChangePassword
              @model={{@model}}
              @submit={{fn this.changePassword @model}}
              @cancel={{fn this.cancel @model}}
            />
          </page.body>

        </Rose::Layout::Page>
      </Rose::Layout::Centered>
    </main>
  </sidebarLayout.body>
  <sidebarLayout.footer>
    <Hds::AppFooter @theme={{this.session.data.theme}} as |AF|>
      <AF.Link @href={{(doc-url)}}>{{t 'titles.documentation'}}</AF.Link>
      <AF.LegalLinks />
    </Hds::AppFooter>
  </sidebarLayout.footer>
</Rose::Layout::Sidebar>