{{page-title (t 'actions.change-password')}}

<Rose::Layout::Sidebar as |sidebarLayout|>
  <sidebarLayout.body>
    <main>
      <Rose::Layout::Centered>
        <Rose::Layout::Page as |page|>

          <page.header>
            <h2>{{t 'actions.change-password'}}</h2>
          </page.header>

          <page.body>
            <Form::Account::Password::ChangePassword
              @model={{@model}}
              @submit={{route-action 'changePassword' @model}}
              @cancel={{route-action 'cancel' @model}}
            />
          </page.body>

        </Rose::Layout::Page>
      </Rose::Layout::Centered>
    </main>
  </sidebarLayout.body>
</Rose::Layout::Sidebar>