<Rose::Layout::Page as |page|>

  <page.breadcrumbs>
    <BreadCrumbs />
  </page.breadcrumbs>

  <page.header>
    <h2>
      {{t 'resources.group.title_plural'}}
      <DocLink @doc='group' @iconSize='large' />
    </h2>
    <p>{{t 'resources.group.description'}}</p>
  </page.header>

  <page.actions>
    {{#if @model}}
      <Rose::LinkButton @route='scopes.scope.groups.new' @style='primary'>{{t
          'titles.new'
        }}</Rose::LinkButton>
    {{/if}}
  </page.actions>

  <page.body>

    {{#if @model}}

      <Rose::Table as |table|>
        <table.header as |header|>
          <header.row as |row|>
            <row.headerCell>{{t 'form.name.label'}}</row.headerCell>
            <row.headerCell>{{t 'form.id.label'}}</row.headerCell>
          </header.row>
        </table.header>
        <table.body as |body|>
          {{#each @model as |group|}}
            <body.row as |row|>
              <row.headerCell>
                <LinkTo @route='scopes.scope.groups.group' @model={{group.id}}>
                  {{group.displayName}}
                </LinkTo>
                <p>{{group.description}}</p>
              </row.headerCell>
              <row.cell>
                <Copyable
                  @text={{group.id}}
                  @buttonText={{t 'actions.copy-to-clipboard'}}
                  @acknowledgeText={{t 'states.copied'}}
                >
                  <code>{{group.id}}</code>
                </Copyable>
              </row.cell>
            </body.row>
          {{/each}}
        </table.body>
      </Rose::Table>

    {{else}}

      <Rose::Layout::Centered>
        <Rose::Message
          @title={{t 'resources.group.messages.welcome.title'}}
          as |message|
        >
          <message.description>
            {{t 'resources.group.description'}}
          </message.description>
          <message.link @route='scopes.scope.groups.new'>
            <Rose::Icon @name='plus-circle-outline' />
            {{t 'titles.new'}}
          </message.link>
        </Rose::Message>
      </Rose::Layout::Centered>

    {{/if}}

  </page.body>

</Rose::Layout::Page>