<Rose::Layout::Page as |page|>

  <page.breadcrumbs>
    <BreadCrumbs />
  </page.breadcrumbs>

  <page.header>
    <h2>
      {{t "resources.project.title_plural"}}
      <DocLink @doc="topics.project" @iconSize="large" />
    </h2>
    {{#if @model}}
      <p>{{t "resources.project.description"}}</p>
    {{/if}}
  </page.header>

  <page.actions>
    {{#if @model}}
      <Rose::LinkButton
        @route="scopes.scope.projects.new"
        @style="primary"
      >
        {{t 'titles.new'}}
      </Rose::LinkButton>
    {{/if}}
  </page.actions>

  <page.body>

    {{#if @model}}

      <Rose::Cards as |cards|>
        {{#each @model as |project|}}
          <cards.link
            @title={{project.name}}
            @description={{project.description}}
            @id={{project.id}}
            @icon="boundary-icons/project"
            @route="scopes.scope.projects.project"
            @model={{project.id}}
          />
        {{/each}}
      </Rose::Cards>

    {{else}}

      <Rose::Layout::Centered>
        <Rose::Message @title={{t 'resources.project.messages.welcome.title'}} as |message|>
          <message.description>
            {{t 'resources.project.description'}}
          </message.description>
          <message.link @route="scopes.scope.projects.new">
            <Rose::Icon @name="plus-circle-outline" />
            {{t 'titles.new'}}
          </message.link>
        </Rose::Message>
      </Rose::Layout::Centered>

    {{/if}}

  </page.body>

</Rose::Layout::Page>
