{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

{{! TODO Consolidate overlapping translations once roles manage scopes gets refactored. }}

<div class='scope-options search-filtering'>
  <Hds::Form::Toggle::Field
    @value={{this.keywords.keyThis}}
    name={{this.keywords.keyThis}}
    checked={{includes this.keywords.keyThis this.grantScopeIds}}
    disabled={{@disabled}}
    {{on 'change' this.toggleField}}
    data-test-scope-this
    as |F|
  >
    <F.Label>{{t 'form.this.label'}}</F.Label>
    <F.HelperText>{{t
        'form.this.help'
        scope=this.scopeDisplayName
      }}</F.HelperText>
  </Hds::Form::Toggle::Field>

  <Hds::Form::Toggle::Field
    @value={{this.keywords.keyChildren}}
    name={{this.keywords.keyChildren}}
    checked={{includes this.keywords.keyChildren this.grantScopeIds}}
    disabled={{@disabled}}
    {{on 'change' this.toggleField}}
    data-test-scope-children
    as |F|
  >
    <F.Label>{{t 'form.children.label'}}</F.Label>
    <F.HelperText>{{t
        'form.children.help'
        scopes=(if @model.scope.isGlobal 'orgs' 'projects')
      }}</F.HelperText>
  </Hds::Form::Toggle::Field>

  {{#if @model.scope.isGlobal}}
    <Hds::Form::Toggle::Field
      @value={{this.keywords.keyDescendants}}
      name={{this.keywords.keyDescendants}}
      checked={{includes this.keywords.keyDescendants this.grantScopeIds}}
      disabled={{@disabled}}
      {{on 'change' this.toggleField}}
      data-test-scope-descendants
      as |F|
    >
      <F.Label>{{t 'form.descendants.label'}}</F.Label>
      <F.HelperText>{{t 'form.descendants.help'}}</F.HelperText>
    </Hds::Form::Toggle::Field>
  {{/if}}

  {{#if
    (and
      @model.scope.isGlobal
      (includes this.keywords.keyChildren this.grantScopeIds)
    )
  }}
    <Hds::Alert @type='compact' class='margin-bottom-l' as |A|>
      <A.Description>
        {{t
          'resources.role.scope.messages.keywords-selected.description'
          htmlSafe=true
        }}
        <Hds::Link::Inline
          @color='secondary'
          @href={{doc-url 'role.add-grant-scopes'}}
        >
          {{t 'resources.role.scope.messages.keywords-selected.link'}}
        </Hds::Link::Inline>
      </A.Description>
    </Hds::Alert>
  {{/if}}

  {{#if (includes this.keywords.keyDescendants this.grantScopeIds)}}
    <Hds::Alert @type='inline' class='margin-bottom-l' as |A|>
      <A.Title>{{t 'form.descendants-selected.title'}}</A.Title>
      <A.Description>
        <ul class='grant-scope-selection-alert-list'>
          <li class='margin-bottom-xs'>
            {{t
              'resources.role.scope.messages.keywords-selected.description'
              htmlSafe=true
            }}
            {{!TODO: Update with correct doc url for app-tokens.}}
            <Hds::Link::Inline
              @color='secondary'
              @href={{doc-url 'role.add-grant-scopes'}}
            >
              {{t 'resources.role.scope.messages.keywords-selected.link'}}
            </Hds::Link::Inline>
          </li>
          <li>
            {{t 'form.descendants-selected.description' htmlSafe=true}}
          </li>
        </ul>
      </A.Description>
    </Hds::Alert>
  {{/if}}

  {{#if this.allowCustomScopesSelection}}
    <Hds::Accordion @size='large' as |A|>
      <A.Item>
        <:toggle>
          <Hds::Layout::Flex @gap='8' @align='center'>
            {{t 'form.custom-scopes.label'}}
            {{#if this.customScopesSelectionTotal}}
              <Hds::Text::Body @tag='p' @color='faint'>{{t
                  'form.custom-scopes.help'
                  itemCount=this.customScopesSelectionTotal
                }}</Hds::Text::Body>
            {{/if}}
          </Hds::Layout::Flex>
        </:toggle>
        <:content>
          <Hds::Layout::Flex
            @justify='space-between'
            @align='end'
            class='margin-bottom-m'
          >
            <Hds::SegmentedGroup as |S|>
              <S.TextInput
                @value={{this.search}}
                @type='search'
                placeholder={{t 'actions.search'}}
                aria-label={{t 'actions.search'}}
                {{on 'input' this.handleSearchInput}}
              />
              {{#if @model.scope.isGlobal}}
                <Dropdown
                  name='parent-scopes'
                  @toggleText={{t 'form.parent-scope.label'}}
                  @itemOptions={{this.parentScopeFilters.options}}
                  @checkedItems={{this.parentScopes}}
                  @applyFilter={{fn this.applyFilter 'parentScopes'}}
                  @isSearchable={{true}}
                  @searchTerm={{this.parentScopeFilters.search}}
                  @updateSearchTerm={{fn
                    this.onFilterSearch.perform
                    'parentScopeFilters'
                  }}
                  @isLoading={{or
                    this.onFilterSearch.isRunning
                    this.loadItems.isRunning
                  }}
                  as |FD selectItem itemOptions|
                >
                  {{#each itemOptions as |itemOption|}}
                    <FD.Checkbox
                      @value={{itemOption.id}}
                      checked={{includes itemOption.id @parentScopes}}
                      {{on 'change' selectItem}}
                    >
                      {{~or itemOption.name itemOption.id}}
                    </FD.Checkbox>
                  {{/each}}
                </Dropdown>
              {{/if}}
            </Hds::SegmentedGroup>

            {{#if this.customScopesSelectionTotal}}
              <div class='scope_options__show_selected_toggle'>
                <Hds::Form::Toggle::Field
                  checked={{this.showSelectedOnly}}
                  {{on 'change' this.toggleShowSelectedOnly}}
                  as |F|
                >
                  <F.Label>
                    {{t
                      'form.selected-only-toggle.label'
                      itemCount=this.customScopesSelectionTotal
                    }}
                  </F.Label>
                </Hds::Form::Toggle::Field>
              </div>
            {{/if}}
          </Hds::Layout::Flex>

          <FilterTags
            @filters={{this.filters}}
            @removeFilter={{this.removeFilter}}
            @clearAllFilters={{this.clearAllFilters}}
            class='margin-bottom-m'
          />

          {{#if this.retrieveData.isRunning}}
            <Hds::ApplicationState class='loading-indicator' as |A|>
              <A.Header @title={{t 'states.loading.title'}} @icon='loading' />
              <A.Body @text={{t 'states.loading.generic-description'}} />
            </Hds::ApplicationState>
          {{else}}
            {{#if this.scopes.length}}
              <Hds::Table
                @columns={{array
                  (hash label=(t 'resources.role.scope.title'))
                  (hash label=(t 'form.id.label'))
                  (hash label=(t 'form.parent-scope.label'))
                }}
                @model={{this.scopes}}
                @isSelectable={{true}}
                @onSelectionChange={{this.selectionChange}}
                @valign='middle'
                class='margin-bottom-m'
              >
                <:body as |B|>
                  <B.Tr
                    @selectionKey={{B.data.id}}
                    @isSelected={{includes B.data.id this.grantScopeIds}}
                    @selectionAriaLabelSuffix='row {{B.data.id}}'
                  >
                    <B.Td>
                      <Hds::Text::Body @tag='p'>
                        {{B.data.displayName}}
                      </Hds::Text::Body>
                    </B.Td>
                    <B.Td>
                      <Hds::Copy::Snippet
                        @textToCopy={{B.data.id}}
                        @color='secondary'
                      />
                    </B.Td>
                    <B.Td>
                      <Hds::Text::Body @tag='p'>
                        {{if
                          B.data.scope.isGlobal
                          'Global'
                          (or B.data.scope.name B.data.scope.id)
                        }}
                      </Hds::Text::Body>
                    </B.Td>
                  </B.Tr>
                </:body>
              </Hds::Table>

              <Hds::Pagination::Numbered
                data-test-pagination
                @totalItems={{this.totalItems}}
                @currentPage={{this.page}}
                @currentPageSize={{this.pageSize}}
                @onPageChange={{this.handlePageChange}}
                @onPageSizeChange={{this.handlePageSizeChange}}
              />
            {{else}}
              <Hds::ApplicationState data-test-no-scope-results as |A|>
                <A.Header @title={{t 'titles.no-results-found'}} />
                <A.Body
                  @text={{t
                    (if
                      this.search
                      'descriptions.no-search-results'
                      'descriptions.no-filter-results'
                    )
                    query=this.search
                    resource=(t 'resources.scope.title_plural')
                  }}
                />
              </Hds::ApplicationState>
            {{/if}}
          {{/if}}
        </:content>
      </A.Item>
    </Hds::Accordion>
  {{/if}}
</div>