{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<Hds::Card::Container @level='mid' @hasBorder={{true}}>

  <div class='header-and-icon'>
    <Hds::IconTile @icon={{@icon}} @size='small' />
    <Hds::Text::Display @tag='h4'>
      {{@header}}
    </Hds::Text::Display>

    {{#if @action}}
      <div class='action'>
        {{yield}}
      </div>
    {{/if}}

    {{#if @state}}
      <div class='state'>
        <Hds::Badge @text={{@state}} @icon='loading' />
      </div>
    {{/if}}
  </div>
  {{#if @description}}
    <Hds::Text::Body @tag='p'>
      {{@description}}
    </Hds::Text::Body>
  {{/if}}

  {{! this yields the body from consumer }}
  {{yield}}
</Hds::Card::Container>