{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<button
  ...attributes
  type={{if @onSubmit 'submit' 'button'}}
  disabled={{if @disabled 'disabled'}}
  class='rose-dropdown-button
    {{if @style (concat "rose-dropdown-button-" @style)}}
    {{if @iconOnly "has-icon-only"}}'
>
  <span class='rose-dropdown-button-wrapper'>
    <Hds::Text::Body>
      {{yield}}
    </Hds::Text::Body>

    {{#if @iconOnly}}
      <Hds::Icon @name={{@iconOnly}} @isInline={{true}} />
    {{/if}}
  </span>
</button>