{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<Hds::Text::Display @tag='h2' id='title'>Welcome to Ember</Hds::Text::Display>
<Hds::Text::Body @tag='p'>{{relative-datetime-live this.now}}</Hds::Text::Body>

<ul>
  <li>{{truncate-list 'actions.more' this.list}}</li>
  <li>{{truncate-list 'actions.more' this.listTwo 4}}</li>
  <li>{{truncate-list 'actions.more' this.listThree 2}}</li>
  <li>{{truncate-list 'actions.more' this.listFour 3}}</li>
</ul>