{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<h2 id='title'>Welcome to Ember</h2>
<p>{{relative-datetime-live this.now}}</p>

<ul>
  <li>{{truncate-list this.list}}</li>
  <li>{{truncate-list this.listTwo}}</li>
  <li>{{truncate-list this.listThree}}</li>
  <li>{{truncate-list this.listFour}}</li>
  <li>{{truncate-list this.empty}}</li>
</ul>