<Rose::Layout::Page as |page|>

  <page.breadcrumbs>
    <BreadCrumbs />
  </page.breadcrumbs>

  <page.header>
    <h2>{{t "resources.role"}}</h2>
  </page.header>

  <page.actions>
    <Rose::Dropdown @text="{{t 'form.label.manage'}}" @alignRight={{true}} as |dropdown|>
      <dropdown.button
        @style="warning"
        @disabled={{@model.canSave}}
        {{on "click" (route-action "delete" @model)}}
      >
        {{t 'actions.delete-role'}}
      </dropdown.button>
    </Rose::Dropdown>
  </page.actions>

  <page.body>
    <Form::Role
      @model={{@model}}
      @submit={{route-action "save" @model}}
      @cancel={{route-action "cancel" @model}}
    />
  </page.body>

</Rose::Layout::Page>
