{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<Rose::Form
  @edit={{@edit}}
  @onSubmit={{@submit}}
  @cancel={{@cancel}}
  @disabled={{@model.isSaving}}
  @showEditToggle={{if @model.isNew false true}}
  as |form|
>

  <form.input
    @value={{@model.type}}
    @label={{t 'form.type.label'}}
    readonly={{true}}
    @disabled={{true}}
  />

  <form.input
    @name='name'
    @type='text'
    @value={{@model.name}}
    @label={{t 'form.name.label'}}
    @helperText={{t 'form.name.help'}}
    @error={{@model.errors.name}}
    readonly={{false}}
    as |field|
  >
    {{#if @model.errors.name}}
      <field.errors as |errors|>
        {{#each @model.errors.name as |error|}}
          <errors.message>{{error.message}}</errors.message>
        {{/each}}
      </field.errors>
    {{/if}}
  </form.input>

  <Hds::Form::Textarea::Field
    @isOptional={{true}}
    @value={{@model.description}}
    @isInvalid={{@model.errors.description}}
    name='description'
    disabled={{form.disabled}}
    as |F|
  >
    <F.Label>{{t 'form.description.label'}}</F.Label>
    <F.HelperText>{{t 'form.description.help'}}</F.HelperText>
    {{#if @model.errors.description}}
      <F.Error as |E|>
        {{#each @model.errors.description as |error|}}
          <E.Message>{{error.message}}</E.Message>
        {{/each}}
      </F.Error>
    {{/if}}
  </Hds::Form::Textarea::Field>

  <form.input
    @name='issuer'
    @type='text'
    @value={{@model.issuer}}
    @label={{t 'form.issuer.label'}}
    @helperText={{t 'form.issuer.help'}}
    @error={{@model.errors.issuer}}
    readonly={{false}}
    as |field|
  >
    {{#if @model.errors.issuer}}
      <field.errors as |errors|>
        {{#each @model.errors.issuer as |error|}}
          <errors.message>{{error.message}}</errors.message>
        {{/each}}
      </field.errors>
    {{/if}}
  </form.input>

  <Hds::Form::Checkbox::Field
    name='disable_discovered_config_validation'
    checked={{@model.disable_discovered_config_validation}}
    disabled={{form.disabled}}
    {{on
      'change'
      (fn
        (mut @model.disable_discovered_config_validation)
        (if @model.disable_discovered_config_validation false true)
      )
    }}
    as |F|
  >
    <F.Label>{{t 'form.disable_discovered_config_validation.label'}}</F.Label>
    <F.HelperText>
      {{t 'form.disable_discovered_config_validation.help'}}
    </F.HelperText>
  </Hds::Form::Checkbox::Field>

  <form.input
    @name='client_id'
    @type='text'
    @value={{@model.client_id}}
    @label={{t 'form.client_id.label'}}
    @helperText={{t 'form.client_id.help'}}
    @error={{@model.errors.client_id}}
    readonly={{false}}
    as |field|
  >
    {{#if @model.errors.client_id}}
      <field.errors as |errors|>
        {{#each @model.errors.client_id as |error|}}
          <errors.message>{{error.message}}</errors.message>
        {{/each}}
      </field.errors>
    {{/if}}
  </form.input>

  <form.input
    @name='client_secret'
    @type='password'
    @value={{@model.client_secret}}
    @label={{t 'form.client_secret.label'}}
    @helperText={{t 'form.client_secret.help'}}
    @error={{@model.errors.client_secret}}
    readonly={{false}}
    @hasVisibilityToggle={{false}}
    as |field|
  >
    {{#if @model.errors.client_secret}}
      <field.errors as |errors|>
        {{#each @model.errors.client_secret as |error|}}
          <errors.message>{{error.message}}</errors.message>
        {{/each}}
      </field.errors>
    {{/if}}
  </form.input>

  {{#unless @model.isNew}}
    <form.input
      @value={{@model.client_secret_hmac}}
      @label={{t 'form.client_secret_hmac.label'}}
      readonly={{true}}
      @disabled={{true}}
    />
  {{/unless}}

  {{! Signing Algorithms }}
  <Form::Field::ListWrapper @layout='horizontal' @disabled={{form.disabled}}>
    <:fieldset as |F|>
      <F.Legend>
        {{t 'form.signing_algorithms.label'}}
      </F.Legend>
      <F.HelperText>
        {{t 'form.signing_algorithms.help'}}
      </F.HelperText>

      {{#if @model.errors.signing_algorithms}}
        <F.Error as |E|>
          {{#each @model.errors.signing_algorithms as |error|}}
            <E.Message>{{error.message}}</E.Message>
          {{/each}}
        </F.Error>
      {{/if}}
    </:fieldset>

    <:field as |F|>
      <F.Select
        @name='signing_algorithms'
        @model={{@model}}
        @selectOptions={{this.signingAlgorithms}}
        @width='100%'
      />
    </:field>
  </Form::Field::ListWrapper>

  {{! Allowed Audiences }}
  <Form::Field::ListWrapper
    @layout='horizontal'
    @isOptional={{true}}
    @disabled={{form.disabled}}
  >
    <:fieldset as |F|>
      <F.Legend>
        {{t 'form.allowed_audiences.label'}}
      </F.Legend>
      <F.HelperText>
        {{t 'form.allowed_audiences.help'}}
      </F.HelperText>

      {{#if @model.errors.allowed_audiences}}
        <F.Error as |E|>
          {{#each @model.errors.allowed_audiences as |error|}}
            <E.Message>{{error.message}}</E.Message>
          {{/each}}
        </F.Error>
      {{/if}}
    </:fieldset>

    <:field as |F|>
      <F.TextInput
        @name='allowed_audiences'
        @options={{@model.allowed_audiences}}
        @model={{@model}}
      />
    </:field>

  </Form::Field::ListWrapper>

  {{! Claims Scopes }}

  <Form::Field::ListWrapper
    @layout='horizontal'
    @isOptional={{true}}
    @disabled={{form.disabled}}
  >
    <:fieldset as |F|>
      <F.Legend>
        {{t 'form.claims_scopes.label'}}
      </F.Legend>
      <F.HelperText>
        {{t 'form.claims_scopes.help'}}
      </F.HelperText>

      {{#if @model.errors.claims_scopes}}
        <F.Error as |E|>
          {{#each @model.errors.claims_scopes as |error|}}
            <E.Message>{{error.message}}</E.Message>
          {{/each}}
        </F.Error>
      {{/if}}
    </:fieldset>

    <:field as |F|>
      <F.TextInput
        @name='claims_scopes'
        @options={{@model.claims_scopes}}
        @model={{@model}}
      />
    </:field>

  </Form::Field::ListWrapper>

  {{! Account Claim Maps }}
  <Hds::Form::Fieldset @isOptional={{true}} as |F|>
    <F.Legend>{{t 'form.account_claim_maps.label'}}</F.Legend>
    <F.HelperText>{{t 'form.account_claim_maps.help'}}</F.HelperText>
    {{#let (unique-id) (unique-id) as |fromHeaderID toHeaderID|}}
      <F.Control>
        <Hds::Table class='list-wrapper-field' name='account_claim_maps'>
          <:head as |H|>
            <H.Tr>
              <H.Th id={{fromHeaderID}}>{{t 'form.from_claim.label'}}</H.Th>
              <H.Th id={{toHeaderID}}>{{t 'form.to_claim.label'}}</H.Th>
              <H.Th>{{t 'titles.actions'}}</H.Th>
            </H.Tr>
          </:head>
          <:body as |B|>
            {{#each @model.account_claim_maps as |claimMap i|}}
              <B.Tr>
                <B.Td>
                  <Hds::Form::TextInput::Field
                    @value={{claimMap.from}}
                    @type='text'
                    disabled={{form.disabled}}
                    aria-labelledby={{fromHeaderID}}
                    {{on 'input' (set-from-event claimMap 'from')}}
                  />
                </B.Td>
                <B.Td>
                  <Hds::Form::Select::Field
                    @value={{claimMap.to}}
                    @width='100%'
                    disabled={{form.disabled}}
                    aria-labelledby={{toHeaderID}}
                    {{on 'change' (set-from-event claimMap 'to')}}
                    as |F|
                  >
                    <F.Options>
                      <option disabled={{@disabled}} hidden selected value=''>
                        {{t 'titles.choose-an-option'}}
                      </option>
                      {{#each this.toClaims as |toClaimOption|}}
                        <option
                          value={{toClaimOption}}
                          selected={{eq toClaimOption claimMap.to}}
                        >
                          {{toClaimOption}}
                        </option>
                      {{/each}}
                    </F.Options>
                  </Hds::Form::Select::Field>
                </B.Td>
                <B.Td>
                  <Hds::Button
                    @text={{t 'actions.remove'}}
                    @color='critical'
                    @icon='trash'
                    @isIconOnly={{true}}
                    disabled={{form.disabled}}
                    {{on
                      'click'
                      (fn @removeItemByIndex 'account_claim_maps' i)
                    }}
                    data-test-remove-claim-map={{claimMap.from}}
                  />
                </B.Td>
              </B.Tr>
            {{/each}}
            <B.Tr>
              <B.Td>
                <Hds::Form::TextInput::Field
                  @value={{this.newFromClaim}}
                  @type='text'
                  disabled={{form.disabled}}
                  aria-labelledby={{fromHeaderID}}
                  {{on 'input' (set-from-event this 'newFromClaim')}}
                  data-test-from-claim-input
                />
              </B.Td>
              <B.Td>
                <Hds::Form::Select::Field
                  @value={{this.newToClaim}}
                  @width='100%'
                  disabled={{form.disabled}}
                  aria-labelledby={{toHeaderID}}
                  {{on 'change' (set-from-event this 'newToClaim')}}
                  data-test-to-claim-select
                  as |F|
                >
                  <F.Options>
                    <option disabled={{@disabled}} hidden selected value=''>
                      {{t 'titles.choose-an-option'}}
                    </option>
                    {{#each this.toClaims as |toClaimOption|}}
                      <option
                        value={{toClaimOption}}
                        selected={{eq toClaimOption this.newToClaim}}
                      >
                        {{toClaimOption}}
                      </option>
                    {{/each}}
                  </F.Options>
                </Hds::Form::Select::Field>
              </B.Td>
              <B.Td>
                <Hds::Button
                  @text={{t 'actions.add'}}
                  @color='secondary'
                  disabled={{or form.disabled (not this.newToClaim)}}
                  {{on
                    'click'
                    (fn
                      @addAccountMapItem
                      'account_claim_maps'
                      this.newFromClaim
                      this.newToClaim
                    )
                  }}
                  data-test-add-claim-map
                />
              </B.Td>
            </B.Tr>
          </:body>
        </Hds::Table>
      </F.Control>
      {{#if @model.errors.account_attribute_maps}}
        <F.Error as |E|>
          {{#each @model.errors.account_claim_maps as |error|}}
            <E.Message>{{error.message}}</E.Message>
          {{/each}}
        </F.Error>
      {{/if}}
    {{/let}}
  </Hds::Form::Fieldset>

  {{! Certificates }}
  <Form::Field::ListWrapper
    @layout='horizontal'
    @isOptional={{true}}
    @disabled={{form.disabled}}
  >
    <:fieldset as |F|>
      <F.Legend>
        {{t 'form.idp_ca_certs.label'}}
      </F.Legend>
      <F.HelperText>
        {{t 'form.idp_ca_certs.help'}}
      </F.HelperText>

      {{#if @model.errors.idp_ca_certs}}
        <F.Error as |E|>
          {{#each @model.errors.idp_ca_certs as |error|}}
            <E.Message>{{error.message}}</E.Message>
          {{/each}}
        </F.Error>
      {{/if}}
    </:fieldset>

    <:field as |F|>
      <F.Textarea
        @name='idp_ca_certs'
        @options={{@model.idp_ca_certs}}
        @model={{@model}}
      />
    </:field>

  </Form::Field::ListWrapper>

  <form.input
    @name='max_age'
    @type='number'
    @value={{@model.max_age}}
    @label={{t 'form.max_age.label'}}
    @helperText={{t 'form.max_age.help'}}
    @error={{@model.errors.max_age}}
    readonly={{false}}
    step='1'
    min='0'
    as |field|
  >
    {{#if @model.errors.max_age}}
      <field.errors as |errors|>
        {{#each @model.errors.max_age as |error|}}
          <errors.message>{{error.message}}</errors.message>
        {{/each}}
      </field.errors>
    {{/if}}
  </form.input>

  <form.input
    @name='api_url_prefix'
    @type='test'
    @value={{@model.api_url_prefix}}
    @label={{t 'form.api_url_prefix.label'}}
    @helperText={{t 'form.api_url_prefix.help'}}
    @error={{@model.errors.api_url_prefix}}
    readonly={{false}}
    as |field|
  >
    {{#if @model.errors.api_url_prefix}}
      <field.errors as |errors|>
        {{#each @model.errors.api_url_prefix as |error|}}
          <errors.message>{{error.message}}</errors.message>
        {{/each}}
      </field.errors>
    {{/if}}
  </form.input>

  <Hds::Form::Fieldset @isOptional={{true}} as |F|>
    <F.Legend>{{t 'form.prompts.label'}}</F.Legend>
    <F.HelperText>{{t 'form.prompts.help'}}</F.HelperText>
    <F.Control>
      <Hds::Form::Toggle::Field
        name='prompts'
        checked={{this.skipPromptsList}}
        disabled={{form.disabled}}
        {{on 'change' (fn this.toggleField 'none')}}
        as |F|
      >
        <F.Label>
          {{t 'resources.auth-method.form.none.label'}}
        </F.Label>
        <F.HelperText>
          {{t 'resources.auth-method.form.none.help'}}
        </F.HelperText>
      </Hds::Form::Toggle::Field>
      {{#unless this.skipPromptsList}}
        <Hds::Form::Checkbox::Group
          class='oidc-prompts'
          @name='prompts'
          disabled={{form.disabled}}
          as |G|
        >
          {{#each this.prompts as |prompt|}}
            <G.Checkbox::Field
              @id={{prompt}}
              checked={{includes prompt this.selectedPrompts}}
              {{on 'change' (fn this.updatePrompt prompt)}}
              as |F|
            >
              <F.Label>
                {{t (concat 'resources.auth-method.form.' prompt '.label')}}
              </F.Label>
              <F.HelperText>
                {{t (concat 'resources.auth-method.form.' prompt '.help')}}
              </F.HelperText>
            </G.Checkbox::Field>
          {{/each}}
        </Hds::Form::Checkbox::Group>
      {{/unless}}
    </F.Control>
    {{#if @model.errors.prompts}}
      <F.Error as |E|>
        {{#each @model.errors.prompts as |error|}}
          <E.Message>{{error.message}}</E.Message>
        {{/each}}
      </F.Error>
    {{/if}}
  </Hds::Form::Fieldset>

  {{#unless @model.isNew}}
    <form.input
      @value={{@model.callback_url}}
      @label={{t 'form.callback_url.label'}}
      @helperText={{t 'form.callback_url.help'}}
      readonly={{true}}
      @disabled={{true}}
    />
  {{/unless}}

  {{#if (can 'save model' @model)}}
    <form.actions
      @enableEditText={{t 'actions.edit-form'}}
      @submitText={{t 'actions.save'}}
      @cancelText={{t 'actions.cancel'}}
    />
  {{/if}}
</Rose::Form>