<h2>
  {{@model.displayName}}
  {{#if @model.isActive}}
    &nbsp;
    <Rose::Badge @style='success'>
      {{t 'states.active'}}
    </Rose::Badge>
  {{/if}}
</h2>
<p>{{@model.description}}</p>
<p>
  <Copyable
    @text={{@model.id}}
    @buttonText={{t 'actions.copy-to-clipboard'}}
    @acknowledgeText={{t 'states.copied'}}
  >
    <code>{{@model.id}}</code>
  </Copyable>
</p>