{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<Rose::Layout::BodyContent as |bc|>
  <bc.Body class='search-filtering'>
    {{#if (gt @model.hosts.length 1)}}
      <Hds::SegmentedGroup as |S|>
        <S.TextInput
          @value={{this.search}}
          @type='search'
          placeholder={{t 'actions.search'}}
          aria-label={{t 'actions.search'}}
          {{on 'input' this.handleSearchInput}}
        />
      </Hds::SegmentedGroup>
      {{#if this.paginatedHosts.length}}
        <Hds::Table
          @model={{this.paginatedHosts}}
          @columns={{array
            (hash label=(t 'resources.target.host-source.title_plural'))
            (hash label=(t 'form.address.label'))
            (hash
              label=(t 'titles.actions') isVisuallyHidden=true align='right'
            )
          }}
          @valign='middle'
        >
          <:body as |B|>
            <B.Tr>
              <B.Td>
                <Hds::Text::Body @weight='semibold' @tag='p'>
                  {{B.data.displayName}}
                </Hds::Text::Body>
                <Hds::Text::Body @tag='p'>
                  {{B.data.description}}
                </Hds::Text::Body>
              </B.Td>
              <B.Td>
                <Hds::Text::Body @tag='p'>
                  {{#if B.data.address}}
                    {{B.data.address}}
                  {{else}}
                    —
                  {{/if}}
                </Hds::Text::Body>
              </B.Td>
              <B.Td>
                <Hds::Button
                  data-test-target-connect-button={{B.data.id}}
                  @text={{t 'resources.session.actions.connect'}}
                  @color='secondary'
                  {{on
                    'click'
                    (fn this.targetController.connect @model.target B.data)
                  }}
                />
              </B.Td>
            </B.Tr>
          </:body>
        </Hds::Table>
        <Rose::Pagination
          @totalItems={{this.hosts.length}}
          @currentPage={{this.page}}
          @currentPageSize={{this.pageSize}}
        />
      {{/if}}
      {{#if this.noResults}}
        <Hds::ApplicationState data-test-no-host-source-results as |A|>
          <A.Header @title={{t 'titles.no-results-found'}} />
          <A.Body
            @text={{t
              (if
                this.search
                'descriptions.no-search-results'
                'descriptions.no-filter-results'
              )
              query=this.search
              resource=(t 'resources.target.host-source.title_plural')
            }}
          />
        </Hds::ApplicationState>
      {{/if}}
    {{else}}
      <Hds::Alert @type='compact' as |A|>
        <A.Description>{{t
            'resources.target.messages.connect-more-info.cert-warning'
          }}</A.Description>
      </Hds::Alert>
      <Hds::ApplicationState as |A|>
        <A.Header
          @title={{t 'resources.target.messages.connect-more-info.title'}}
        />
        <A.Body
          @text={{t 'resources.target.messages.connect-more-info.description'}}
        />
      </Hds::ApplicationState>
    {{/if}}
  </bc.Body>
  <bc.Sidebar>
    {{#if @model.target.aliases}}
      <div class='details-sidebar aliases'>
        <div class='title hds-typography-display-200 hds-font-weight-semibold'>
          {{t 'resources.alias.details'}}
        </div>
        <Rose::MetadataList @orientation='vertical' as |list|>
          {{#each @model.target.aliases as |alias|}}
            <list.Item @color='faint'>
              <Hds::Copy::Snippet
                @textToCopy={{alias.value}}
                @color='secondary'
              />
            </list.Item>

          {{/each}}

        </Rose::MetadataList>
      </div>
    {{/if}}
    <div class='details-sidebar'>
      <div>
        <div class='title hds-typography-display-200 hds-font-weight-semibold'>
          {{t 'resources.target.details'}}
        </div>
        <Rose::MetadataList @orientation='vertical' as |list|>
          {{! Target name }}
          <list.Item @icon='target' @color='faint'>
            {{@model.target.name}}
          </list.Item>
          {{! Project name }}
          <list.Item @icon='grid' @color='faint'>
            {{@model.target.project.displayName}}
          </list.Item>
          {{! Target description }}
          {{#if @model.target.description}}
            <list.Item @icon='message-circle-fill' @color='faint'>
              {{@model.target.description}}
            </list.Item>
          {{/if}}
          {{! Target type }}
          <list.Item
            class='resource-type'
            @icon={{if @model.target.isRDP 'microsoft' 'terminal'}}
            @color='faint'
          >
            {{t (concat 'resources.target.types.' @model.target.type)}}
          </list.Item>
          {{! Target address }}
          {{#if @model.target.address}}
            <list.Item class='resource-type' @icon='network-alt' @color='faint'>
              {{@model.target.address}}
            </list.Item>
          {{/if}}
          {{! Target ID }}
          <list.Item @icon='hash' @color='faint'>
            <Hds::Copy::Snippet
              @textToCopy={{@model.target.id}}
              @color='secondary'
            />
          </list.Item>
        </Rose::MetadataList>
      </div>
    </div>
  </bc.Sidebar>
</Rose::Layout::BodyContent>