{{#if this.show}}
  <Hds::Modal @isDismissDisabled='true' as |M|>
    <M.Header>
      {{#if this.previousFrame}}
        <button {{on 'click' this.popFrame}}>
          🔙
          {{this.previousFrame.name}}
        </button>
      {{/if}}
      {{this.currentFrame.name}}
    </M.Header>
    <M.Body>

      <Hds::Form::TextInput::Field
        @value={{this.currentFrame.searchText}}
        autofocus='true'
        {{on 'input' this.onInput}}
      />

      {{#each this.currentFrame.options as |option i|}}
        <ul>
          <li
            id='{{this.currentFrame.name}}-{{option.name}}'
            class='frame-option
              {{if
                (eq i this.currentFrame.selectedOptionIndex)
                "highlighted-index"
              }}'
            {{on 'click' (fn this.clickOption i)}}
          >
            {{option.name}}
          </li>
        </ul>
      {{/each}}
    </M.Body>
  </Hds::Modal>
{{/if}}