{{!
  Copyright IBM Corp. 2021, 2026
  SPDX-License-Identifier: BUSL-1.1
}}

<span
  class='rose-form-helper-text{{if @error " error"}}'
  id={{@id}}
  ...attributes
>
  {{yield}}
  {{#if @link}}
    {{#if @linkText}}
      <a href={{@link}} target='_blank' rel='noreferrer noopener'>
        {{@linkText}}
      </a>
    {{/if}}
  {{/if}}
</span>