{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

{{#if @contextual}}
  {{yield
    (hash
      label=(component 'rose/form/label' for=this.id error=@error)
      helperText=(component
        'rose/form/helper-text' id=(concat 'helper-text-' this.id) error=@error
      )
      field=(component
        'rose/form/input/input'
        id=this.id
        name=@name
        value=@value
        type=@type
        disabled=@disabled
        error=@error
        aria-describedby=(concat
          (if @helperText (concat 'helper-text-' this.id))
          (if @error (concat ' errors-' this.id))
        )
      )
      errors=(component 'rose/form/errors' id=(concat 'errors-' this.id))
    )
  }}
{{else}}
  <div class='rose-form-input'>

    <Rose::Form::Label @for={{this.id}} @error={{@error}}>
      {{@label}}
    </Rose::Form::Label>

    {{#if @helperText}}
      <Rose::Form::HelperText
        @id='helper-text-{{this.id}}'
        @error={{@error}}
        @link={{@link}}
        @linkText={{@linkText}}
      >
        {{@helperText}}
      </Rose::Form::HelperText>
    {{/if}}

    <div class='rose-input-wrapper'>
      {{#if @icon}}
        <Hds::Icon @name={{@icon}} @isInline={{true}} />
      {{/if}}
      <Rose::Form::Input::Input
        ...attributes
        @id={{this.id}}
        @name={{@name}}
        @value={{@value}}
        @type={{@type}}
        @disabled={{@disabled}}
        @error={{@error}}
        @aria-describedby='{{if
          @helperText
          (concat "helper-text-" this.id)
        }} {{if @error (concat "errors-" this.id)}}'
      />
    </div>
    {{yield
      (hash errors=(component 'rose/form/errors' id=(concat 'errors-' this.id)))
    }}

  </div>
{{/if}}