<div class="rose-form-radio{{if @error " error"}}">

  <RadioButton
    ...attributes
    @radioClass="rose-form-radio-field"
    @radioId={{this.id}}
    type="radio"
    disabled={{@disabled}}
    @name={{@name}}
    @value={{@value}}
    @groupValue={{@selectedValue}}
    @disabled={{@disabled}}
    @changed={{@changed}} />

  <label class="rose-form-radio-label" for={{this.id}}>

    {{#if @icon}}
      <Rose::Icon
        @name={{@icon}}
        @size="medium"
      />
    {{/if}}

    {{@label}}

  </label>

  {{yield}}

</div>
