<Rose::Layout::Page as |page|>

  <page.breadcrumbs>
    <BreadCrumbs />
  </page.breadcrumbs>

  <page.header>
    <h2>{{t "resources.group"}}</h2>
  </page.header>

  <page.navigation>
    <Rose::Nav::Tabs as |nav|>
      <nav.link @route='scopes.scope.groups.group'>
        {{t 'titles.details'}}
      </nav.link>
    </Rose::Nav::Tabs>
  </page.navigation>

  <page.actions>
    <Rose::Dropdown @text="{{t 'form.label.manage'}}" @alignRight={{true}} as |dropdown|>
      <dropdown.button
        @style="warning"
        @disabled={{@model.canSave}}
        {{on "click" (route-action "delete" @model)}}
      >
        {{t 'actions.delete-group'}}
      </dropdown.button>
    </Rose::Dropdown>
  </page.actions>

  <page.body>
    <Form::Project
      @model={{@model}}
      @submit={{route-action "save" @model}}
      @cancel={{route-action "cancel" @model}}
    />
  </page.body>

</Rose::Layout::Page>
