<div class='hidden-secret'>
  <Rose::Button
    @style='ghost'
    @iconOnly={{if this.isHidden 'visibility-show' 'visibility-hide'}}
    {{on 'click' this.toggleSecretVisibility}}
  >
    {{t 'actions.toggle-secret'}}
  </Rose::Button>
  <Copyable
    @text={{@secret}}
    @buttonText={{t 'actions.copy-to-clipboard'}}
    @acknowledgeText={{t 'states.copied'}}
  >
    {{#if this.isHidden}}
      {{@secret}}
    {{else}}
      <span class='secret-mask'>{{this.textMask}}</span>
    {{/if}}
  </Copyable>
</div>