{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<div class='hidden-secret'>
  <Hds::Button
    @text={{t 'actions.toggle-secret'}}
    @icon={{if this.isHidden 'eye' 'eye-off'}}
    @isIconOnly={{true}}
    @color='secondary'
    {{on 'click' this.toggleSecretVisibility}}
  />

  <div class='secret-content'>
    {{#if this.isHidden}}
      <pre>{{this.displaySecretValue}}</pre>
    {{else}}
      <Hds::Text::Body @color='disabled'>{{this.textMask}}</Hds::Text::Body>
    {{/if}}
  </div>

  <Hds::Copy::Button
    @text={{t 'actions.copy-to-clipboard'}}
    @isIconOnly={{true}}
    @textToCopy={{this.displaySecretValue}}
  />
</div>