{{page-title (t 'actions.set-password')}}

<Rose::Layout::Page as |page|>

  <page.breadcrumbs>
    <BreadCrumbs />
  </page.breadcrumbs>

  <page.header>
    <h2>{{t 'resources.account.title'}}</h2>
    <p>{{t 'resources.account.messages.set-password.description'}}</p>
    <Copyable
      @text={{@model.id}}
      @buttonText={{t 'actions.copy-to-clipboard'}}
      @acknowledgeText={{t 'states.copied'}}
    >
      <code>{{@model.id}}</code>
    </Copyable>
  </page.header>

  <page.navigation>
    <AuthMethods::AuthMethod::Accounts::Account::Nav @model={{@model}} />
  </page.navigation>

  <page.actions>
    <AuthMethods::AuthMethod::Accounts::Account::Actions @model={{@model}} />
  </page.actions>

  <page.body>
    <Form::Account::Password::SetPassword
      @model={{@model}}
      @submit={{route-action 'setPassword' @model}}
      @cancel={{route-action 'cancel' @model}}
    />
  </page.body>

</Rose::Layout::Page>