{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

{{page-title (t 'actions.set-password')}}
<Breadcrumbs::Item
  @text={{t 'actions.set-password'}}
  @route='scopes.scope.auth-methods.auth-method.accounts.account.set-password'
/>

<Rose::Layout::Page class='hds-migration-overrides' as |page|>

  <page.header>
    <Hds::PageHeader as |PH|>
      <PH.Breadcrumb>
        <Breadcrumbs::Container />
      </PH.Breadcrumb>
      <PH.Title>
        {{t 'resources.account.title'}}
      </PH.Title>
      <PH.Description>
        {{t 'resources.account.messages.set-password.description'}}
      </PH.Description>
      <PH.Actions>
        <AuthMethods::AuthMethod::Accounts::Account::Actions
          @model={{@model}}
          @delete={{this.accounts.delete}}
        />
      </PH.Actions>
      <PH.Generic>
        <div class='copy-snippet-container'>
          <Hds::Copy::Snippet @textToCopy={{@model.id}} @color='secondary' />
        </div>
      </PH.Generic>
    </Hds::PageHeader>
  </page.header>

  <page.navigation>
    <AuthMethods::AuthMethod::Accounts::Account::Nav @model={{@model}} />
  </page.navigation>

  <page.body>
    <Form::Account::Password::SetPassword
      @model={{@model}}
      @submit={{fn this.setPassword @model}}
      @cancel={{fn this.accounts.cancel @model}}
    />
  </page.body>

</Rose::Layout::Page>