{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<Rose::Form
  class='full-width'
  @onSubmit={{@submit}}
  @cancel={{@cancel}}
  @disabled={{@model.isSaving}}
  as |form|
>
  <Hds::Form::Field as |F|>
    <F.Control>
      <Rose::CodeEditor as |c|>
        <c.toolbar @copyText={{get @model @name}} />
        <c.fieldEditor
          @onInput={{fn this.setWorkerFilter @model @name}}
          @value={{or (get @model @name) ''}}
          @options={{hash
            mode='text/x-sh'
            gutters=(array 'CodeMirror-lint-markers')
            lint='true'
          }}
        />
      </Rose::CodeEditor>
    </F.Control>
    {{#if (get @model.errors @name)}}
      <F.Error as |E|>
        {{#each (get @model.errors @name) as |error|}}
          <E.Message>{{error.message}}</E.Message>
        {{/each}}
      </F.Error>
    {{/if}}
  </Hds::Form::Field>

  <Hds::Separator />

  <Hds::Form::Toggle::Field
    name='show_filter_generator'
    {{on 'change' this.toggleFilterGenerator}}
    as |F|
  >
    <F.Label>{{t 'worker-filter-generator.toggle.title'}}</F.Label>
    <F.HelperText>{{t
        'worker-filter-generator.toggle.description'
      }}</F.HelperText>
  </Hds::Form::Toggle::Field>

  <Hds::Separator />

  {{#if this.showFilterGenerator}}
    <Hds::Form::Radio::Group @name='filter_generator' as |G|>
      <G.Legend>{{t
          'worker-filter-generator.filter-generator.title'
        }}</G.Legend>
      <G.HelperText>
        {{t 'worker-filter-generator.filter-generator.description'}}
        <br />
        <Hds::Link::Inline
          @href={{doc-url 'worker-filters-format'}}
          @color='secondary'
        >
          {{t 'worker-filter-generator.filter-generator.link'}}
        </Hds::Link::Inline>
      </G.HelperText>
      <G.RadioField
        @value={{this.generatorTagType}}
        checked={{eq this.selectedGeneratorType this.generatorTagType}}
        as |F|
      >
        <F.Label>{{t
            'worker-filter-generator.filter-generator.tag.label'
          }}</F.Label>
        <F.HelperText>{{t
            'worker-filter-generator.filter-generator.tag.helper'
          }}</F.HelperText>
      </G.RadioField>
    </Hds::Form::Radio::Group>

    {{#if (eq this.selectedGeneratorType this.generatorTagType)}}
      <Hds::Form::Fieldset class='input-values' as |F|>
        <F.Legend>{{t
            'worker-filter-generator.filter-generator.input-values.title'
          }}</F.Legend>
        <F.HelperText>{{t
            'worker-filter-generator.filter-generator.input-values.description'
          }}</F.HelperText>
        <F.Control>
          <Hds::Form::TextInput::Field
            @value={{this.tagKey}}
            name='tag_key'
            @width='320px'
            {{on 'input' (set-from-event this 'tagKey')}}
            as |F|
          >
            <F.Label>{{t 'form.key.label'}}</F.Label>
          </Hds::Form::TextInput::Field>
        </F.Control>
        <F.Control>
          <Hds::Form::TextInput::Field
            @value={{this.tagValue}}
            name='tag_value'
            @width='320px'
            {{on 'input' (set-from-event this 'tagValue')}}
            as |F|
          >
            <F.Label>{{t 'form.value.label'}}</F.Label>
          </Hds::Form::TextInput::Field>
        </F.Control>
      </Hds::Form::Fieldset>
    {{/if}}

    <Hds::Form::Fieldset class='formatted-results' @layout='vertical' as |F|>
      <F.Legend>{{t
          'worker-filter-generator.filter-generator.formatted-result.title'
        }}</F.Legend>
      <F.HelperText>{{t
          'worker-filter-generator.filter-generator.formatted-result.description'
        }}</F.HelperText>
      <F.Control>
        <Hds::Text::Body @tag='p' @weight='semibold'>{{t
            'worker-filter-generator.filter-generator.formatted-result.label'
          }}</Hds::Text::Body>
        <div class='generated-results-container'>
          <Hds::Form::TextInput::Base
            readonly
            id='generated-value'
            name='generated_value'
            @value={{this.generatedResult}}
            @width='320px'
          />
          <Hds::Copy::Button @text='Copy' @targetToCopy='#generated-value' />
        </div>
      </F.Control>
    </Hds::Form::Fieldset>
  {{/if}}

  <form.actions
    @submitText={{t 'actions.save'}}
    @cancelText={{t 'actions.cancel'}}
  />
</Rose::Form>