{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}
<Hds::Form::KeyValueInputs
  @data={{this.data}}
  @isRequired={{@isRequired}}
  @isOptional={{@isOptional}}
  disabled={{@disabled}}
>
  <:header as |H|>
    {{#if @legend}}
      <H.Legend data-test-legend>{{@legend}}</H.Legend>
    {{/if}}
    {{#if @helperText}}
      <H.HelperText data-test-helper-text>{{@helperText}}</H.HelperText>
    {{/if}}
  </:header>
  <:row as |R|>
    <R.Field as |F|>
      <F.Label>{{or @keyLabel (t 'form.key.label')}}</F.Label>
      {{#if (eq @keyFieldType 'select')}}
        <F.Select
          name={{@name}}
          disabled={{@disabled}}
          data-test-key-input
          @isInvalid={{@errors}}
          {{on 'change' (fn this.updateKey R.rowData)}}
        >
          <option disabled hidden selected value=''>
            {{t 'titles.choose-an-option'}}
          </option>
          {{#each @keyFieldOptions as |selectOption|}}
            <option
              value={{selectOption}}
              selected={{eq R.rowData.key selectOption}}
            >
              {{selectOption}}
            </option>
          {{/each}}
        </F.Select>
      {{else if (eq @keyFieldType 'textarea')}}
        <F.Textarea
          name={{@name}}
          @value={{R.rowData.key}}
          disabled={{@disabled}}
          data-test-key-input
          @isInvalid={{@errors}}
          {{on 'input' (fn this.updateKey R.rowData)}}
        />
      {{else}}
        {{! Default to text input }}
        <F.TextInput
          name={{@name}}
          @value={{R.rowData.key}}
          disabled={{@disabled}}
          data-test-key-input
          @isInvalid={{@errors}}
          {{on 'input' (fn this.updateKey R.rowData)}}
        />
      {{/if}}
    </R.Field>

    {{#unless this.hideValueField}}
      <R.Field as |F|>
        <F.Label>{{or @valueLabel (t 'form.value.label')}}</F.Label>
        {{#if (eq @valueFieldType 'select')}}
          <F.Select
            name={{@name}}
            disabled={{@disabled}}
            data-test-value-input
            @isInvalid={{@errors}}
            {{on 'change' (fn this.updateValue R.rowData)}}
          >
            <option disabled hidden selected value=''>
              {{t 'titles.choose-an-option'}}
            </option>
            {{#each @valueFieldOptions as |selectOption|}}
              <option
                value={{selectOption}}
                selected={{eq R.rowData.value selectOption}}
              >
                {{selectOption}}
              </option>
            {{/each}}
          </F.Select>
        {{else if (eq @valueFieldType 'textarea')}}
          <F.Textarea
            name={{@name}}
            @value={{R.rowData.value}}
            disabled={{@disabled}}
            data-test-value-input
            @isInvalid={{@errors}}
            {{on 'input' (fn this.updateValue R.rowData)}}
          />
        {{else}}
          {{! Default to text input }}
          <F.TextInput
            name={{@name}}
            @value={{R.rowData.value}}
            disabled={{@disabled}}
            data-test-value-input
            @isInvalid={{@errors}}
            {{on 'input' (fn this.updateValue R.rowData)}}
          />
        {{/if}}
      </R.Field>
    {{/unless}}

    <R.DeleteRowButton
      data-test-delete-button
      onclick={{fn this.removeRow R.rowData}}
    />
  </:row>
  <:footer as |F|>

    {{#if @errors}}
      <F.Error as |E|>
        {{#each @errors as |error|}}
          <E.Message data-test-error-message>{{error.message}}</E.Message>
        {{/each}}
      </F.Error>
    {{/if}}
    <F.AddRowButton
      @text={{t 'actions.add'}}
      data-test-add-button
      onclick={{this.addNewRow}}
    />
  </:footer>
</Hds::Form::KeyValueInputs>