<h2>
  {{t 'resources.host-catalog.title'}}
  <DocLink @doc='host-catalog' @iconSize='large' />
</h2>
<p>{{t 'resources.host-catalog.description'}}</p>
<Copyable
  @text={{@model.id}}
  @buttonText={{t 'actions.copy-to-clipboard'}}
  @acknowledgeText={{t 'states.copied'}}
>
  <code>{{@model.id}}</code>
</Copyable>