{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<div class='secret-editor'>
  {{#if this.isDisabled}}
    <Form::Field::JsonSecret::Skeleton>
      <Hds::Icon @name='eye-off' @isInline={{true}} />
      {{t 'form.secret-editor.details'}}
    </Form::Field::JsonSecret::Skeleton>
  {{else if this.isActionable}}
    <Form::Field::JsonSecret::Skeleton>
      <Hds::Button
        class='secret-editor-skeleton-button'
        @icon='pencil-tool'
        @color='secondary'
        @text={{t 'form.secret-editor.edit'}}
        {{on 'click' this.enableEditing}}
      />
    </Form::Field::JsonSecret::Skeleton>
  {{else}}
    <Hds::CodeEditor
      class='secret-editor-json'
      @ariaLabel={{t 'form.secret-editor.label'}}
      @value={{@value}}
      @isLintingEnabled={{true}}
      @language='json'
      @onInput={{@onInput}}
    />
  {{/if}}
</div>