{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<div class='secret-editor'>
  {{#if this.isDisabled}}
    <Form::Field::JsonSecret::Skeleton>
      <Rose::Icon @name='flight-icons/svg/eye-off-16' @size='medium' />
      {{t 'form.secret-editor.details'}}
    </Form::Field::JsonSecret::Skeleton>
  {{else if this.isActionable}}
    <Form::Field::JsonSecret::Skeleton>
      <Hds::Button
        class='secret-editor-skeleton-button'
        @icon='pencil-tool'
        @color='secondary'
        @text={{t 'form.secret-editor.edit'}}
        {{on 'click' this.enableEditing}}
      />
    </Form::Field::JsonSecret::Skeleton>
  {{else}}
    <Rose::CodeEditor as |c|>
      <c.fieldEditor
        class='secret-editor-json'
        @onInput={{@onInput}}
        @value={{@value}}
        @options={{hash
          mode='application/json'
          gutters=(array 'CodeMirror-lint-markers')
          lint='true'
        }}
      />
    </Rose::CodeEditor>
  {{/if}}
</div>