<Rose::Form
  class="full-width"
  @onSubmit={{@submit}}
  @cancel={{@cancel}}
  @disabled={{@model.isSaving}}
  @error={{@model.errors.base}}
  as |form|
>

  <form.actions
    @disabled={{if @model.cannotSave @model.cannotSave}}
    @submitText={{t "actions.save"}}
    @cancelText={{t "actions.cancel"}} />

  {{!--
  {{#if @model.errors.host_ids}}
    <input.errors as |errors|>
      {{#each @model.errors.host_ids as |error|}}
        <errors.message>{{error.message}}</errors.message>
      {{/each}}
    </input.errors>
  {{/if}}
  --}}

  <Rose::Table as |table|>
    <table.header as |header|>
      <header.row as |row|>
        <row.headerCell>{{t 'form.label.id'}}</row.headerCell>
        <row.headerCell>{{t 'form.label.name'}}</row.headerCell>
        <row.headerCell>{{t 'form.label.address'}}</row.headerCell>
      </header.row>
    </table.header>
    <table.body as |body|>
      {{#each this.options as |option|}}
        <body.row as |row|>
          <row.headerCell>
            <form.checkbox
              @label={{option.host.id}}
              @checked={{option.selected}}
              onChange={{fn @toggleHost option.host}}
            />
            <p>{{option.host.description}}</p>
          </row.headerCell>
          <row.cell>{{option.host.name}}</row.cell>
          <row.cell>{{option.host.address}}</row.cell>
        </body.row>
      {{/each}}
    </table.body>
  </Rose::Table>

</Rose::Form>
