<Rose::Table as |table|>
  <table.header as |header|>
    <header.row as |row|>
      <row.cell>{{t "form.label.name"}}</row.cell>
      <row.cell>{{t "form.label.type"}}</row.cell>
      <row.cell>{{t "form.label.id"}}</row.cell>
    </header.row>
  </table.header>
  <table.body as |body|>
    {{#each @model as |hostSet|}}
      <body.row as |row|>
        <row.cell>
          {{hostSet.displayName}}
          <p>{{hostSet.description}}</p>
        </row.cell>
        <row.cell>
          <Rose::Badge @style="outline">{{hostSet.type}}</Rose::Badge>
        </row.cell>
        <row.cell>
          <code>{{hostSet.id}}</code>
        </row.cell>
      </body.row>
    {{/each}}
  </table.body>
</Rose::Table>