{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{page-title (t 'titles.new')}}

<Rose::Layout::Page as |page|>
  <page.breadcrumbs>
    <BreadCrumbs />
  </page.breadcrumbs>

  <page.header>
    <h2>
      {{t 'resources.storage-bucket.titles.new'}}
      <DocLink @doc='storage-bucket.new' @iconSize='large' />
    </h2>
  </page.header>

  <page.body>
    <Form::StorageBucket
      @model={{@model}}
      @submit={{route-action 'save' @model}}
      @cancel={{route-action 'cancel' @model}}
      @scopes={{this.scopes}}
      @changeType={{route-action 'changeType' @model}}
    />
  </page.body>

</Rose::Layout::Page>