<div class="rose-form-input{{if @error " error"}}">

  <label class="rose-form-input-label" for={{this.id}}>
    {{@label}}
  </label>

  {{#if @helperText}}
    <span class="rose-form-input-helper-text">{{@helperText}}</span>
  {{/if}}

  <Input
    ...attributes
    class="rose-form-input-field"
    id={{this.id}}
    disabled={{@disabled}}
    @type={{@type}}
    @value={{@value}} />

  {{yield}}

</div>
