<div class="rose-form-radio{{if @error " error"}}">

  <input
    ...attributes
    class="rose-form-radio-field"
    id={{@id}}
    type="radio"
    checked={{@checked}} />

  <label class="rose-form-radio-label" for={{@id}}>
    {{@label}}
  </label>

  {{yield}}

</div>
