<div class="rose-form-select{{if @error " error"}}">

  <label class="rose-form-select-label" for={{this.id}}>
    {{@label}}
  </label>

  {{#if @helperText}}
    <span
      class="rose-form-select-helper-text"
      id="helper-text-{{this.id}}">
      {{@helperText}}
    </span>
  {{/if}}

  {{yield (component 'rose/form/select/select'
    id=this.id
    name=@name
    disabled=@disabled
    value=@value
    onChange=@onChange
    helperText=@helperText
  )}}

</div>
