<div class="rose-form-select{{if @error " error"}}">

  <Rose::Form::Label @for={{this.id}}>{{@label}}</Rose::Form::Label>

  {{#if @helperText}}
    <Rose::Form::HelperText @id="helper-text-{{this.id}}">
      {{@helperText}}
    </Rose::Form::HelperText>
  {{/if}}

  {{yield (hash
    field=(component 'rose/form/select/select'
      id=this.id
      name=@name
      disabled=@disabled
      value=@value
      onChange=@onChange
      helperText=@helperText
      error=@error
    )
    errors=(component 'rose/form/errors' id=(concat 'errors-' this.id))
  )}}

</div>
