<div class="rose-form-input{{if @error " error"}}">

  <label class="rose-form-input-label" for={{@id}}>
    {{@label}}
  </label>

  {{#if @helperText}}
    <span class="rose-form-input-helper-text">{{@helperText}}</span>
  {{/if}}

  <Textarea
    ...attributes
    id={{@id}}
    class="rose-form-input-field"
    @value={{@value}} />

  {{yield}}

</div>
