<div class="rose-form-input{{if @error " error"}}">

  <Rose::Form::Label for={{this.id}}>{{@label}}</Rose::Form::Label>

  {{#if @helperText}}
    <span
      class="rose-form-helper-text"
      id="helper-text-{{this.id}}">
      {{@helperText}}
    </span>
  {{/if}}

  <Textarea
    ...attributes
    class="rose-form-input-field"
    id={{this.id}}
    disabled={{@disabled}}
    @value={{@value}}
    aria-describedby="{{if @helperText (concat 'helper-text-' this.id)}} {{if @error (concat 'errors-' this.id)}}" />

  {{yield (hash
    errors=(component 'rose/form/errors' id=(concat 'errors-' this.id))
  )}}

</div>
