<article ...attributes class="rose-card-link">
  <LinkTo
    title={{@title}}
    @route={{if @route @route "index"}}
    @model={{@model}}
  >

    {{#if @title}}
      <h2 class="rose-card-link-title">{{@title}}</h2>
    {{/if}}

    {{#if @description}}
      <p class="rose-card-link-description">{{@description}}</p>
    {{/if}}
  </LinkTo>

  {{yield}}
</article>
