{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<Rose::Layout::Page as |page|>
  <page.breadcrumbs>
    <BreadCrumbs />
  </page.breadcrumbs>

  <page.header>
    <h2>
      {{t 'resources.storage-bucket.title'}}
      <DocLink @doc='storage-bucket' @iconSize='large' />
    </h2>
    <Copyable
      @text={{@model.id}}
      @buttonText={{t 'actions.copy-to-clipboard'}}
      @acknowledgeText={{t 'states.copied'}}
    >
      <code>{{@model.id}}</code>
    </Copyable>
  </page.header>

  <page.navigation>
    <Rose::Nav::Tabs as |nav|>
      <nav.link @route='scopes.scope.storage-buckets.storage-bucket.index'>
        {{t 'titles.details'}}
      </nav.link>
    </Rose::Nav::Tabs>
  </page.navigation>

  <page.body>
    <Form::StorageBucket
      @model={{@model}}
      @submit={{route-action 'save' @model}}
      @cancel={{route-action 'cancel' @model}}
      @scopes={{this.scopes}}
    />
  </page.body>
</Rose::Layout::Page>