{{#if @modal}}
  <div class="rose-dialog-modal-overlay"></div>

  <section
    ...attributes
    role="dialog"
    class="rose-dialog {{if  @style (concat "rose-dialog-" @style)}} {{if @modal 'modal'}}"
    id={{this.id}}
    aria-describedby={{concat "dialog-header-" this.id}}
    {{focus-trap}}
  >

    <header
      class="rose-dialog-header"
      id={{concat "dialog-header-" this.id}}
    >

      {{#if @icon}}
        <Rose::Icon @name={{@icon}} @size="medium" />
      {{/if}}

      <h2 class="rose-dialog-heading">{{@heading}}</h2>

      <button
        type="button"
        class="rose-dialog-dismiss"
        title={{@dismissButtonText}}
        {{on "click" (fn this.dismiss @dismiss)}}
      >
        <Rose::Icon @name="cancel-plain" @size="small" />
      </button>

    </header>

    {{yield (hash
      body=(component 'rose/dialog/body')
      footer=(component 'rose/anonymous' tagName="footer" class="rose-dialog-footer")
    )}}

  </section>

{{else}}

  <section
    ...attributes
    role="dialog"
    class="rose-dialog {{if  @style (concat "rose-dialog-" @style)}} {{if @modal 'modal'}}"
  >

    {{#if @heading}}
      <header class="rose-dialog-header">

        {{#if @icon}}
          <Rose::Icon @name={{@icon}} @size="medium" />
        {{/if}}

        <h2 class="rose-dialog-heading">{{@heading}}</h2>

        <button
          type="button"
          class="rose-dialog-dismiss"
          title={{@dismissButtonText}}
          {{on "click" (fn this.dismiss @dismiss)}}
        >
          <Rose::Icon @name="cancel-plain" @size="small" />
        </button>

      </header>
    {{/if}}

    {{yield (hash
      body=(component 'rose/dialog/body')
      footer=(component 'rose/anonymous' tagName="footer" class="rose-dialog-footer")
    )}}

  </section>

{{/if}}
