{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

{{#if @modal}}
  <div class='rose-dialog-modal-overlay'></div>

  <section
    ...attributes
    role='dialog'
    class='rose-dialog
      {{if @style (concat "rose-dialog-" @style)}}
      {{if @modal "modal"}}'
    id={{this.id}}
    aria-describedby={{concat 'dialog-header-' this.id}}
    {{focus-trap}}
  >

    <header class='rose-dialog-header' id={{concat 'dialog-header-' this.id}}>

      {{#if @icon}}
        <Hds::Icon @name={{@icon}} />
      {{/if}}

      <Hds::Text::Display
        @tag='h2'
        class='rose-dialog-heading'
      >{{@heading}}</Hds::Text::Display>

      <button
        type='button'
        class='rose-dialog-dismiss'
        title={{@dismissButtonText}}
        {{on 'click' (fn this.dismiss @dismiss)}}
      >
        <Hds::Icon @name='x' />
      </button>

    </header>

    {{yield
      (hash
        body=(component 'rose/dialog/body')
        footer=(component
          'rose/anonymous' tagName='footer' class='rose-dialog-footer'
        )
      )
    }}

  </section>

{{else}}

  <section
    ...attributes
    role='dialog'
    class='rose-dialog
      {{if @style (concat "rose-dialog-" @style)}}
      {{if @modal "modal"}}'
  >

    {{#if @heading}}
      {{! template-lint-disable no-duplicate-landmark-elements }}
      <header class='rose-dialog-header'>

        {{#if @icon}}
          <Hds::Icon @name={{@icon}} />
        {{/if}}

        <Hds::Text::Display
          @tag='h2'
          class='rose-dialog-heading'
        >{{@heading}}</Hds::Text::Display>

        <button
          type='button'
          class='rose-dialog-dismiss'
          title={{@dismissButtonText}}
          {{on 'click' (fn this.dismiss @dismiss)}}
        >
          <Hds::Icon @name='x' />
        </button>

      </header>
    {{/if}}

    {{yield
      (hash
        body=(component 'rose/dialog/body')
        footer=(component
          'rose/anonymous' tagName='footer' class='rose-dialog-footer'
        )
      )
    }}

  </section>

{{/if}}