<Rose::Layout::Page as |page|>

  <page.header>
    <h2>{{t "resources.targets"}}</h2>
  </page.header>

  <page.body>

    {{#if @model}}

      <Rose::Table as |table|>
        <table.header as |header|>
          <header.row as |row|>
            <row.cell>{{t "form.label.name"}}</row.cell>
            <row.cell>{{t "form.label.protocol"}}</row.cell>
            <row.cell>{{t "form.label.id"}}</row.cell>
          </header.row>
        </table.header>
        <table.body as |body|>
          {{#each @model as |target|}}
            <body.row as |row|>
              <row.cell>
                {{target.displayName}}
                <p>{{target.description}}</p>
              </row.cell>
              <row.cell>
                <Rose::Badge @style="outline">
                  {{t (concat "target.protocols." target.protocol)}}
                </Rose::Badge>
              </row.cell>
              <row.cell>
                <code>{{target.id}}</code>
              </row.cell>
            </body.row>
          {{/each}}
        </table.body>
      </Rose::Table>

    {{else}}

      <Rose::Layout::Centered>
        <Rose::Message @title={{t "titles.targets-welcome"}} as |message|>
          <message.description>
            {{t "descriptions.targets-welcome"}}
          </message.description>
        </Rose::Message>
      </Rose::Layout::Centered>

    {{/if}}

  </page.body>

</Rose::Layout::Page>
