{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

{{page-title (t 'resources.target.workers.actions.add-ingress-worker-filter')}}
<Breadcrumbs::Item
  @text={{t 'resources.target.workers.actions.add-ingress-worker-filter'}}
  @route='scopes.scope.targets.target.add-ingress-worker-filter'
/>

<Rose::Layout::Page as |page|>

  <page.breadcrumbs>
    <Breadcrumbs::Container />
  </page.breadcrumbs>

  <page.header>
    <h2>
      {{t 'resources.target.workers.actions.add-ingress-worker-filter'}}
      <DocLink @doc='target.worker-filters' @iconSize='large' />
    </h2>
    <p>{{t 'resources.target.workers.ingress-workers.description'}}</p>
  </page.header>

  <page.body class='target-workers'>
    <Form::Target::WorkerFilter
      @name='ingress_worker_filter'
      @model={{@model}}
      @onInput={{fn (mut @model.ingress_worker_filter)}}
      @submit={{fn this.targets.saveWorkerFilter @model}}
      @cancel={{fn this.targets.cancelWorkerFilter @model}}
    />
  </page.body>

</Rose::Layout::Page>