{{page-title (t 'resources.target.actions.add-credential-sources')}}

<Rose::Layout::Page as |page|>

  <page.breadcrumbs>
    <BreadCrumbs />
  </page.breadcrumbs>

  <page.header>
    <h2>
      {{t 'resources.target.credential-source.messages.add.title'}}
    </h2>
    <p>{{t 'resources.target.credential-source.messages.add.description'}}</p>
  </page.header>

  <page.body>
    {{#if this.hasAvailableCredentialSources}}
      <Form::Target::AddCredentialSources
        @model={{@model.target}}
        @credentialLibraries={{@model.credentialLibraries}}
        @credentials={{@model.credentials}}
        @submit={{route-action 'save' @model.target}}
        @cancel={{route-action 'cancel'}}
      />
    {{/if}}

    {{#unless this.hasAvailableCredentialSources}}
      <Rose::Layout::Centered>
        <Rose::Message
          @title={{t 'resources.target.credential-source.messages.none.title'}}
          as |message|
        >
          <message.description>
            {{t 'resources.target.credential-source.messages.none.description'}}
          </message.description>
          <message.link @route='scopes.scope.targets.target.credential-sources'>
            <Rose::Icon @name='flight-icons/svg/chevron-left-16' />
            {{t 'actions.back'}}
          </message.link>
        </Rose::Message>
      </Rose::Layout::Centered>
    {{/unless}}
  </page.body>

</Rose::Layout::Page>