{{page-title (t 'resources.target.brokered-credential-source.title_plural')}}

<Rose::Layout::Page as |page|>

  <page.breadcrumbs>
    <BreadCrumbs />
  </page.breadcrumbs>

  <page.header>
    <Targets::Target::Header @model={{@model}} />
  </page.header>

  <page.navigation>
    <Targets::Target::Nav @model={{@model}} />
  </page.navigation>

  <page.actions>
    <Targets::Target::Actions @model={{@model}} />
  </page.actions>

  <page.body>
    {{#if @model.brokeredCredentialSources}}

      <Rose::Table as |table|>
        <table.header as |header|>
          <header.row as |row|>
            <row.headerCell>{{t 'form.name.label'}}</row.headerCell>
            <row.headerCell>{{t 'form.type.label'}}</row.headerCell>
            <row.headerCell>{{t 'form.id.label'}}</row.headerCell>
            <row.headerCell>{{t 'titles.actions'}}</row.headerCell>
          </header.row>
        </table.header>
        <table.body as |body|>
          {{#each
            @model.brokeredCredentialSources
            as |brokeredCredentialSource|
          }}
            <body.row as |row|>
              <row.headerCell>
                {{#if brokeredCredentialSource.isUnknown}}
                  {{brokeredCredentialSource.displayName}}
                {{else}}
                  {{#if brokeredCredentialSource.isUsernamePassword}}
                    <LinkTo
                      @route='scopes.scope.credential-stores.credential-store.credentials.credential'
                      @models={{array
                        brokeredCredentialSource.credential_store_id
                        brokeredCredentialSource.id
                      }}
                    >
                      {{brokeredCredentialSource.displayName}}
                    </LinkTo>
                  {{else}}
                    <LinkTo
                      @route='scopes.scope.credential-stores.credential-store.credential-libraries.credential-library'
                      @models={{array
                        brokeredCredentialSource.credential_store_id
                        brokeredCredentialSource.id
                      }}
                    >
                      {{brokeredCredentialSource.displayName}}
                    </LinkTo>
                  {{/if}}
                {{/if}}

                <p>{{brokeredCredentialSource.description}}</p>
              </row.headerCell>
              <row.cell>
                <CredentialTypeBadge @model={{brokeredCredentialSource}} />
              </row.cell>
              <row.cell>
                <Copyable
                  @text={{brokeredCredentialSource.id}}
                  @buttonText={{t 'actions.copy-to-clipboard'}}
                  @acknowledgeText={{t 'states.copied'}}
                >
                  <code>{{brokeredCredentialSource.id}}</code>
                </Copyable>
              </row.cell>
              <row.cell>
                {{#if (can 'removeCredentialSources target' @model)}}
                  <Rose::Dropdown
                    @icon='flight-icons/svg/more-horizontal-16'
                    @iconOnly={{true}}
                    @showCaret={{false}}
                    @dropdownRight={{true}}
                    @text={{t 'actions.manage'}}
                    as |dropdown|
                  >
                    <dropdown.button
                      @style='danger'
                      {{on
                        'click'
                        (route-action
                          'removeBrokeredCredentialSource'
                          @model
                          brokeredCredentialSource
                        )
                      }}
                    >
                      {{t 'actions.remove'}}
                    </dropdown.button>
                  </Rose::Dropdown>
                {{/if}}
              </row.cell>
            </body.row>
          {{/each}}
        </table.body>
      </Rose::Table>

    {{else}}

      <Rose::Layout::Centered>
        <Rose::Message
          @title={{t
            'resources.target.brokered-credential-source.messages.welcome.title'
          }}
          as |message|
        >
          <message.description>
            {{t
              'resources.target.brokered-credential-source.messages.welcome.description'
            }}
          </message.description>
          <message.link
            @route='scopes.scope.targets.target.add-brokered-credential-sources'
          >
            <Rose::Icon @name='flight-icons/svg/plus-circle-16' />
            {{t 'resources.target.actions.add-brokered-credential-sources'}}
          </message.link>
        </Rose::Message>
      </Rose::Layout::Centered>

    {{/if}}
  </page.body>

</Rose::Layout::Page>
