{{page-title (t 'resources.credential-library.title_plural')}}

{{#if @model.credentialLibraries}}

  <Rose::Table as |table|>
    <table.header as |header|>
      <header.row as |row|>
        <row.headerCell>{{t 'form.name.label'}}</row.headerCell>
        <row.headerCell>{{t 'form.id.label'}}</row.headerCell>
        <row.headerCell>{{t 'titles.actions'}}</row.headerCell>
      </header.row>
    </table.header>
    <table.body as |body|>
      {{#each @model.credentialLibraries as |credentialLibrary|}}
        <body.row as |row|>
          <row.headerCell>
            <LinkTo
              @route='scopes.scope.credential-stores.credential-store.credential-libraries.credential-library'
              @models={{array
                credentialLibrary.credential_store_id
                credentialLibrary.id
              }}
            >
              {{credentialLibrary.displayName}}
            </LinkTo>
            <p>{{credentialLibrary.description}}</p>
          </row.headerCell>
          <row.cell>
            <Copyable
              @text={{credentialLibrary.id}}
              @buttonText={{t 'actions.copy-to-clipboard'}}
              @acknowledgeText={{t 'states.copied'}}
            >
              <code>{{credentialLibrary.id}}</code>
            </Copyable>
          </row.cell>
          <row.cell>
            <Rose::Dropdown
              @icon='more-horizontal'
              @iconOnly={{true}}
              @showCaret={{false}}
              @dropdownRight={{true}}
              @text={{t 'actions.manage'}}
              as |dropdown|
            >
              <dropdown.button
                @style='danger'
                {{on
                  'click'
                  (route-action
                    'removeCredentialLibrary' @model credentialLibrary
                  )
                }}
              >
                {{t 'actions.remove'}}
              </dropdown.button>
            </Rose::Dropdown>
          </row.cell>
        </body.row>
      {{/each}}
    </table.body>
  </Rose::Table>

{{else}}

  <Rose::Layout::Centered>
    <Rose::Message
      @title={{t 'resources.target.credential-library.messages.welcome.title'}}
      as |message|
    >
      <message.description>
        {{t 'resources.target.credential-library.messages.welcome.description'}}
      </message.description>
    </Rose::Message>
  </Rose::Layout::Centered>

{{/if}}