{{page-title (t 'resources.target.actions.enable-session-recording')}}

<Rose::Layout::Page as |page|>
  <page.breadcrumbs>
    <BreadCrumbs />
  </page.breadcrumbs>

  <page.header>
    <h2>{{t 'resources.target.enable-session-recording.messages.add.title'}}
      <DocLink @doc='target.enable-session-recording' @iconSize='large' />
    </h2>

    <Copyable
      @text={{@model.target.id}}
      @buttonText={{t 'actions.copy-to-clipboard'}}
      @acknowledgeText={{t 'states.copied'}}
    >
      <code>{{@model.target.id}}</code>
    </Copyable>
  </page.header>

  <page.body>
    <Form::Target::EnableSessionRecording
      @model={{@model.target}}
      @storageBucketList={{@model.storageBucketList}}
      @submit={{route-action 'save' @model.target}}
      @cancel={{route-action 'cancel' @model.target}}
    />
  </page.body>

</Rose::Layout::Page>