{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<Rose::Layout::Page as |page|>

  <page.breadcrumbs>
    <Breadcrumbs::Container />
  </page.breadcrumbs>

  <page.header>
    <Targets::Target::Header @model={{@model}} />
  </page.header>

  <page.navigation>
    <Targets::Target::Nav @model={{@model}} />
  </page.navigation>

  <page.actions>
    <Targets::Target::Actions @model={{@model}} />
  </page.actions>

  <page.body>
    <Rose::Layout::BodyContent as |bc|>
      <bc.Body>
        <Form::Target
          @model={{@model}}
          @submit={{route-action 'saveWithAddress' @model}}
          @cancel={{route-action 'cancel' @model}}
        />
      </bc.Body>
      {{#if (and @model.isSSH (feature-flag 'ssh-session-recording'))}}
        <bc.Sidebar>
          <div class='target-sidebar'>
            <h3>{{t 'resources.target.form.sidebar.label'}}</h3>
            <p class='description'>
              {{t 'resources.target.form.sidebar.help'}}
            </p>
            {{#if @model.enable_session_recording}}
              <LinkListPanel as |P|>
                <P.Item
                  @icon='cloud-upload'
                  @color='boundary'
                  @text={{this.storage_bucket_name}}
                  @route='scopes.scope.storage-buckets.storage-bucket'
                  @model={{@model.storage_bucket_id}}
                >
                  <Hds::Badge
                    @text={{t 'resources.storage-bucket.types.aws_s3'}}
                    @icon='aws'
                  />
                </P.Item>
              </LinkListPanel>
              <Hds::Link::Standalone
                @icon='arrow-right'
                @iconPosition='trailing'
                @text={{t 'resources.target.form.sidebar.link'}}
                @route='scopes.scope.targets.target.enable-session-recording'
              />
            {{else}}
              <Hds::Button
                @text={{t 'resources.target.actions.enable-recording'}}
                @color='secondary'
                @route='scopes.scope.targets.target.enable-session-recording'
              />
            {{/if}}
          </div>
        </bc.Sidebar>
      {{/if}}
    </Rose::Layout::BodyContent>

  </page.body>

</Rose::Layout::Page>