{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

{{page-title (t 'resources.target.workers.title')}}
<Breadcrumbs::Item
  @text={{t 'resources.target.workers.title'}}
  @route='scopes.scope.targets.target.workers'
/>

<Rose::Layout::Page as |page|>

  <page.breadcrumbs>
    <Breadcrumbs::Container />
  </page.breadcrumbs>

  <page.header>
    <Targets::Target::Header @model={{@model}} />
  </page.header>

  <page.navigation>
    <Targets::Target::Nav @model={{@model}} />
  </page.navigation>

  <page.actions>
    <Targets::Target::Actions
      @model={{@model}}
      @delete={{this.targets.delete}}
    />
  </page.actions>

  <page.body class='target-workers'>
    <Hds::Text::Body @tag='p' @size='100' @color='faint'>
      {{t 'resources.target.workers.description'}}
    </Hds::Text::Body>
    <WorkerDiagram
      @egressWorkerFilterEnabled={{@model.egress_worker_filter}}
      @ingressWorkerFilterEnabled={{@model.ingress_worker_filter}}
    />
    <Hds::Accordion as |A|>
      {{#if (feature-flag 'target-worker-filters-v2-ingress')}}
        <A.Item
          @containsInteractive={{true}}
          data-test-target-ingress-workers-accordion-item
        >
          <:toggle>
            <div class='accordion-item-toggle-content'>
              <span>{{t
                  'resources.target.workers.accordion-label.ingress-workers'
                }}</span>
              <Hds::Link::Standalone
                @icon='edit'
                @text={{t
                  'resources.target.workers.actions.edit-worker-filter'
                }}
                @route='scopes.scope.targets.target.add-ingress-worker-filter'
              />
            </div>
          </:toggle>
          <:content>
            {{#if @model.ingress_worker_filter}}
              <Hds::CodeBlock
                @language='bash'
                @hasCopyButton={{true}}
                @value={{@model.ingress_worker_filter}}
                as |CB|
              >
                <CB.Title>{{t
                    'resources.target.workers.worker-filter.title'
                  }}</CB.Title>
                <CB.Description>{{t
                    'resources.target.workers.worker-filter.description'
                  }}</CB.Description>
              </Hds::CodeBlock>
            {{else}}
              <Hds::ApplicationState as |A|>
                <A.Header
                  @title={{t 'resources.target.workers.messages.none.title'}}
                />
                <A.Body
                  @text={{t
                    'resources.target.workers.messages.none.description'
                    type='ingress'
                  }}
                />
              </Hds::ApplicationState>
            {{/if}}
          </:content>
        </A.Item>
      {{/if}}
      <A.Item
        @containsInteractive={{true}}
        data-test-target-egress-workers-accordion-item
      >
        <:toggle>
          <div class='accordion-item-toggle-content'>
            <span>{{t
                'resources.target.workers.accordion-label.egress-workers'
              }}</span>
            <Hds::Link::Standalone
              @icon='edit'
              @text={{t 'resources.target.workers.actions.edit-worker-filter'}}
              @route='scopes.scope.targets.target.add-egress-worker-filter'
            />
          </div>
        </:toggle>
        <:content>
          {{#if @model.egress_worker_filter}}
            <Hds::CodeBlock
              @language='bash'
              @hasCopyButton={{true}}
              @value={{@model.egress_worker_filter}}
              as |CB|
            >
              <CB.Title>{{t
                  'resources.target.workers.worker-filter.title'
                }}</CB.Title>
              <CB.Description>{{t
                  'resources.target.workers.worker-filter.description'
                }}</CB.Description>
            </Hds::CodeBlock>
          {{else}}
            <Hds::ApplicationState as |A|>
              <A.Header
                @title={{t 'resources.target.workers.messages.none.title'}}
              />
              <A.Body
                @text={{t
                  'resources.target.workers.messages.none.description'
                  type='egress'
                }}
              />
            </Hds::ApplicationState>
          {{/if}}
        </:content>
      </A.Item>
    </Hds::Accordion>
  </page.body>

</Rose::Layout::Page>