<details ...attributes class='reveal' {{on-click-outside this.close}}>
  <summary class='reveal-summary'>
    <span class='reveal-summary-text-close'>
      {{@textWhenClose}}
    </span>
    <span class='reveal-summary-text-open'>
      {{@textWhenOpen}}
    </span>

  </summary>
  <content class='reveal-content' {{on-click-inside this.close}}>
    {{yield}}
  </content>
</details>