<Rose::Layout::Page as |page|>

  <page.breadcrumbs>
    <BreadCrumbs />
  </page.breadcrumbs>

  <page.header>
    <h2>
      {{t 'resources.worker.title_plural'}}
      <DocLink @doc='worker' @iconSize='large' />
    </h2>
  </page.header>

  <page.actions>
    {{#if (can 'create worker led worker' this.scope collection='workers')}}
      {{#if @model}}
        <Rose::LinkButton @route='scopes.scope.workers.new' @style='primary'>{{t
            'titles.new'
          }}</Rose::LinkButton>
      {{/if}}
    {{/if}}
  </page.actions>

  <page.body>
    {{#if @model}}
      <Rose::Toolbar as |toolbar|>
        <toolbar.primary>
          <Rose::Form as |form|>
            {{#let
              (resource-filter 'scopes.scope.workers.index' 'tags')
              as |filter|
            }}
              {{#if filter.allowedValues}}
                <Rose::Dropdown
                  @text={{t (concat 'form.' filter.name '.label')}}
                  @count={{filter.selectedValue.length}}
                  @ignoreClickInside={{true}}
                  as |dropdown|
                >
                  <form.checkboxGroup
                    @name={{filter.name}}
                    @items={{filter.allowedValues}}
                    @selectedItems={{filter.selectedValue}}
                    @onChange={{route-action 'filterBy' filter.name}}
                    as |group|
                  >
                    <dropdown.item>
                      <group.checkbox
                        @label={{group.item}}
                        value={{group.item}}
                      />
                    </dropdown.item>
                  </form.checkboxGroup>
                </Rose::Dropdown>
              {{/if}}
            {{/let}}
            {{#if
              (has-resource-filter-selections
                'scopes.scope.workers.index' 'tags'
              )
            }}
              <Rose::Button
                @style='inline-link-action'
                @iconLeft='flight-icons/svg/x-16'
                {{on 'click' (route-action 'clearAllFilters')}}
              >{{t 'actions.clear-all-filters'}}
              </Rose::Button>
            {{/if}}
          </Rose::Form>
        </toolbar.primary>

        <toolbar.secondary>
          <ToolbarRefresher @onClick={{route-action 'refresh'}} />
        </toolbar.secondary>

      </Rose::Toolbar>

      <Rose::Table as |table|>
        <table.header as |header|>
          <header.row as |row|>
            <row.headerCell>{{t 'resources.worker.title'}}</row.headerCell>
            <row.headerCell>{{t 'form.id.label'}}</row.headerCell>
            <row.headerCell>{{t 'form.type.label'}}</row.headerCell>
            <row.headerCell>{{t
                'resources.worker.table.session_count'
              }}</row.headerCell>
            <row.headerCell>{{t
                'resources.worker.table.release_version'
              }}</row.headerCell>
            <row.headerCell>{{t
                'resources.worker.table.ip_address'
              }}</row.headerCell>
          </header.row>
        </table.header>
        <table.body as |body|>
          {{#each @model as |worker|}}
            <body.row as |row|>
              <row.headerCell>
                {{#if (and (can 'read worker' worker) worker.isPki)}}
                  <LinkTo
                    @route='scopes.scope.workers.worker'
                    @model={{worker.id}}
                  >
                    {{worker.displayName}}
                  </LinkTo>
                {{else}}
                  {{worker.displayName}}
                {{/if}}
                {{#if worker.description}}
                  <p>{{worker.description}}</p>
                {{/if}}
                {{#if worker.config_tags.type}}
                  <div>
                    {{#each worker.config_tags.type as |tag|}}
                      <Rose::Badge>{{tag}}</Rose::Badge>
                    {{/each}}
                  </div>
                {{/if}}
              </row.headerCell>
              <row.cell>
                <Copyable
                  @text={{worker.id}}
                  @buttonText={{t 'actions.copy-to-clipboard'}}
                  @acknowledgeText={{t 'states.copied'}}
                >
                  <code>{{worker.id}}</code>
                </Copyable></row.cell>

              <row.cell>{{worker.type}}</row.cell>
              <row.cell>{{worker.active_connection_count}}</row.cell>
              <row.cell>{{worker.release_version}}</row.cell>
              <row.cell>{{worker.address}} </row.cell>
            </body.row>
          {{/each}}
        </table.body>
      </Rose::Table>
    {{else}}
      <Rose::Layout::Centered>
        <Rose::Message
          @title={{t 'resources.worker.messages.welcome.title'}}
          as |message|
        >
          <message.description>
            {{#if (can 'list worker' this.scope collection='workers')}}
              {{! can list (at least):  show default welcome message}}
              {{t 'resources.worker.description'}}
            {{else if (can
              'create worker led worker' this.scope collection='workers'
            )}}
              {{! can create (only):  show create-but-not-list welcome message}}
              {{t
                'descriptions.create-but-not-list'
                resource=(t 'resources.worker.title_plural')
              }}
            {{else}}
              {{! can neither list nor create }}
              {{t
                'descriptions.neither-list-nor-create'
                resource=(t 'resources.worker.title_plural')
              }}
            {{/if}}
          </message.description>
          {{#if
            (can 'create worker led worker' this.scope collection='workers')
          }}
            <message.link @route='scopes.scope.workers.new'>
              <Rose::Icon @name='flight-icons/svg/plus-circle-16' />
              {{t 'titles.new'}}
            </message.link>
          {{/if}}
        </Rose::Message>
      </Rose::Layout::Centered>
    {{/if}}

  </page.body>
</Rose::Layout::Page>
