{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<Rose::Layout::Page as |page|>

  <page.breadcrumbs>
    <BreadCrumbs />
  </page.breadcrumbs>

  <page.header>
    <h2>
      {{t 'titles.new'}}
      <DocLink @doc='managed-groups' @iconSize='large' />
    </h2>
  </page.header>

  <page.body>
    <Form::ManagedGroup
      @model={{@model}}
      @submit={{route-action 'save' @model}}
      @cancel={{route-action 'cancel' @model}}
      @removeItemByIndex={{route-action 'removeItemByIndex' @model}}
      @addStringItem={{route-action 'addStringItem' @model}}
    />
  </page.body>

</Rose::Layout::Page>