{{! template-lint-disable no-bare-strings  }}

{{page-title (t 'resources.target.title_plural')}}

{{#each @model as |target|}}
  {{#each target.sessions as |session|}}
    {{#if session.started_desktop_client}}
      {{#unless session.acknowledged}}
        <DialogDetail
          @heading={{concat
            (t 'resources.target.messages.connection-details.title')
            ': '
            target.id
          }}
          @notificationStyle='success'
          @notification={{t
            'resources.target.messages.connection-success.title'
          }}
          @dismiss={{route-action 'acknowledge' session}}
          @dismissButtonText={{t 'actions.ok'}}
        >
          <:body>
            <h3>{{t 'resources.target.messages.proxy_url.title'}}
              {{!-- (<code>{{t 'resources.target.types.tcp'}}</code>)</h3> --}}
              ({{t 'resources.target.types.tcp'}})</h3>
            <p>
              <Copyable
                @text={{session.proxy}}
                @buttonText={{t 'actions.copy-to-clipboard'}}
                @acknowledgeText={{t 'states.copied'}}
              >
                <code>{{session.proxy_address}}:{{session.proxy_port}}</code>
              </Copyable>
            </p>

            <Rose::Separator />

            {{! TODO: Conditional for when credentials aren't available
            older versions of cli }}
            <h3>{{t 'resources.session.credential.title_plural'}}</h3>
            <Card
              @heading={{t 'resources.session.credential.title'}}
              @icon='app-icons/credentials'
            >
              <:header>
                <Rose::Dropdown
                  @text={{t 'resources.session.credential.actions.detail'}}
                  @style='condensed'
                  @dropdownRight={{true}}
                  as |dropdown|
                >
                  <dropdown.key-value>
                    <:key>{{t 'form.id.label'}}</:key>
                    <:value>cl_nbv9375hLHs</:value>
                  </dropdown.key-value>
                  <dropdown.key-value>
                    <:key>{{t 'form.name.label'}}</:key>
                    <:value>Key/Value</:value>
                  </dropdown.key-value>
                  <dropdown.key-value>
                    <:key>{{t 'form.description.label'}}</:key>
                    <:value>Lorem ipsum dolor, sit amet consectetur adipisicing
                      elit. Ut nobis, nemo cum omnis saepe reprehenderit eaque
                      non odit iste magni quod voluptatem soluta dolor beatae
                      libero consequatur, perferendis rem molestias.</:value>
                  </dropdown.key-value>
                </Rose::Dropdown>
              </:header>
              <:body>
                {{! TODO: Iterate through all credentials }}
                <Rose::Table @style='condensed' as |table|>
                  <table.header as |header|>
                    <header.row as |row|>
                      <row.headerCell>Key</row.headerCell>
                      <row.headerCell colspan='2'>Value</row.headerCell>
                    </header.row>
                  </table.header>
                  <table.body as |body|>
                    <body.row as |row|>
                      <row.headerCell>foo</row.headerCell>
                      <row.cell>Value</row.cell>
                    </body.row>
                    <body.row as |row|>
                      <row.headerCell>ttl</row.headerCell>
                      <row.cell>Test</row.cell>
                    </body.row>
                  </table.body>
                </Rose::Table>
              </:body>
              <:footer>
                <Reveal
                  @textWhenOpen='Hide content'
                  @textWhenClose='View content'
                >
                  <pre>
                    <code>
                      { "auth": null, "lease_duration": 3600, "lease_id": "",
                      "renewable": false }
                    </code>
                  </pre>
                </Reveal>
              </:footer>
            </Card>
          </:body>
          <:footer>
            <div>
              <Rose::Button
                @style='secondary'
                {{on 'click' (route-action 'acknowledge' session)}}
              >
                {{t 'actions.close'}}
              </Rose::Button>
            </div>
          </:footer>
        </DialogDetail>
      {{/unless}}
    {{/if}}
  {{/each}}
{{/each}}

{{outlet}}