{{page-title (t 'resources.target.title_plural')}}

{{#each @model as |target|}}
  {{#each target.sessions as |session|}}
    {{#if session.started_desktop_client}}
      {{#unless session.acknowledged}}
        <DialogDetail
          @heading={{concat 'Target connection details: ' session.id}}
          @dismiss={{route-action 'acknowledge' session}}
          @dismissButtonText={{t 'actions.ok'}}
          as |dialogDetail|
        >
          <dialogDetail.notification
            @style='success'
            @heading='Successfully connected'
          ></dialogDetail.notification>

          <dialogDetail.body>
            <h3>Proxy URL</h3>
            <Copyable
              @text={{concat session.proxy_address ':' session.proxy_port}}
              @buttonText={{t 'actions.copy-to-clipboard'}}
              @acknowledgeText={{t 'states.copied'}}
            >
              {{t
                'states.connection.success.description'
                port=session.proxy_port
                address=session.proxy_address
                protocol='tcp'
              }}
            </Copyable>

            <Rose::Separator />

            <h3>Credentials</h3>

          </dialogDetail.body>
          <dialogDetail.footer>
            <div>
              <Rose::Button
                @style='secondary'
                {{on 'click' (route-action 'acknowledge' session)}}
              >
                {{t 'actions.close'}}
              </Rose::Button>
            </div>
            <div>
            {{! <Rose::LinkButton
              @route='index'
              @style='inline-link-action'
              @iconRight='chevron-right'
            >
              
            </Rose::LinkButton> }}
            </div>
          </dialogDetail.footer>
        </DialogDetail>
      {{/unless}}
    {{/if}}
  {{/each}}
{{/each}}

{{outlet}}