{{page-title (t 'resources.target.title_plural')}}

{{#each @model as |target|}}
  {{#each target.sessions as |session|}}
    {{#if session.started_desktop_client}}
      {{#unless session.acknowledged}}
        <DialogDetail
          @heading={{concat
            (t 'resources.target.messages.connection-details.title')
            ': '
            target.id
          }}
          @notificationStyle='success'
          @notification={{t
            'resources.target.messages.connection-success.title'
          }}
          @dismiss={{route-action 'acknowledge' session}}
          @dismissButtonText={{t 'actions.ok'}}
        >
          <:body>
            <h3>{{t 'resources.target.messages.proxy_url.title'}}
              (<code>{{t 'resources.target.types.tcp'}}</code>)</h3>
            <p>
              <Copyable
                @text={{session.proxy}}
                @buttonText={{t 'actions.copy-to-clipboard'}}
                @acknowledgeText={{t 'states.copied'}}
              >
                <code>{{session.proxy_address}}:{{session.proxy_port}}</code>
              </Copyable>
            </p>

            {{!-- <Rose::Separator />

            <h3>Credentials</h3>--}}

            <Card @heading="Credentials" @icon='app-icons/credentials'>
              <:body>
                <Rose::Table @style='condensed' as |table|>
                  <table.header as |header|>
                    <header.row as |row|>
                      <row.headerCell>Key</row.headerCell>
                      <row.headerCell colspan='2'>Value</row.headerCell>
                    </header.row>
                  </table.header>
                  <table.body as |body|>
                    <body.row as |row|>
                      <row.headerCell>foo</row.headerCell>
                      <row.cell>Value</row.cell>
                    </body.row>
                    <body.row as |row|>
                      <row.headerCell>ttl</row.headerCell>
                      <row.cell>Test</row.cell>
                    </body.row>
                  </table.body>
                </Rose::Table>
              </:body>
            </Card>

          </:body>
          <:footer>
            <div>
              <Rose::Button
                @style='secondary'
                {{on 'click' (route-action 'acknowledge' session)}}
              >
                {{t 'actions.close'}}
              </Rose::Button>
            </div>
            <div>
              {{! <Rose::LinkButton
              @route='index'
              @style='inline-link-action'
              @iconRight='chevron-right'
            >

            </Rose::LinkButton> }}
            </div>
          </:footer>
        </DialogDetail>
      {{/unless}}
    {{/if}}
  {{/each}}
{{/each}}

{{outlet}}
