{{#if @model}}

  <p>{{t "auth.descriptions.choose-org"}}</p>
  <ul>
    {{#each @model as |org|}}
      <li>
        <LinkTo @route="orgs.org.authenticate" @model={{org}}>
          {{org.name}}
        </LinkTo>
      </li>
    {{/each}}
  </ul>

{{else}}

  <Rose::Layout::Centered>
    <Rose::Message
      @title={{t "auth.titles.no-orgs"}}
      @icon="alert-circle-outline"
    as |message|>
      <message.description>
        {{t "auth.descriptions.no-orgs"}}
      </message.description>
    </Rose::Message>
  </Rose::Layout::Centered>

{{/if}}
