{{page-title (t 'resources.role.principal.actions.add-principals')}}

<Rose::Layout::Page as |page|>

  <page.breadcrumbs>
    <BreadCrumbs />
  </page.breadcrumbs>

  <page.header>
    <h2>
      {{t 'resources.role.principal.messages.add-principals.title'}}
      <DocLink @doc='role.add-principals' @iconSize='large' />
    </h2>
    <p>{{t 'resources.role.principal.messages.add-principals.description'}}</p>
  </page.header>

  <page.body>
    <Form::Role::AddPrincipals
      @model={{@model.role}}
      @users={{@model.users}}
      @groups={{@model.groups}}
      @submit={{route-action 'addPrincipals' @model.role}}
      @cancel={{route-action 'cancel'}}
    />
  </page.body>

</Rose::Layout::Page>