{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

{{page-title (t 'resources.role.principal.actions.add-principals')}}
<Breadcrumbs::Item
  @text={{t 'resources.role.principal.actions.add-principals'}}
  @route='scopes.scope.roles.role.add-principals'
/>

<Rose::Layout::Page as |page|>

  <page.breadcrumbs>
    <Breadcrumbs::Container />
  </page.breadcrumbs>

  <page.header>
    <Hds::Text::Display
      @tag='h2'
      @size='400'
      @weight='bold'
      class='header-spacing'
    >
      {{t 'resources.role.principal.messages.add-principals.title'}}
      <DocLink @doc='role.add-principals' />
    </Hds::Text::Display>
    <Hds::Text::Body @tag='p' @size='300' class='p'>
      {{t 'resources.role.principal.messages.add-principals.description'}}
    </Hds::Text::Body>
  </page.header>

  <page.body>

    {{#let
      (resource-filter 'scopes.scope.roles.role.add-principals' 'scope')
      as |filter|
    }}
      <Rose::Toolbar as |toolbar|>
        <toolbar.primary>
          <Rose::Form as |form|>
            <Rose::Dropdown
              @text={{t (concat 'resources.' filter.name '.title')}}
              @count={{filter.selectedValue.length}}
              @ignoreClickInside={{true}}
              as |dropdown|
            >
              <ul>
                <form.checkboxGroup
                  @name={{filter.name}}
                  @items={{this.flatSortedScopes}}
                  @selectedItems={{filter.selectedValue}}
                  @onChange={{fn this.callFilterBy filter.name}}
                  as |group|
                >
                  <li
                    class={{if
                      group.item.isOrg
                      'indent-label-1'
                      (if group.item.isProject 'indent-label-2')
                    }}
                  >
                    <dropdown.item>
                      <group.checkbox
                        @label={{group.item.displayName}}
                        value={{group.item}}
                      />
                    </dropdown.item>
                  </li>
                </form.checkboxGroup>
              </ul>
            </Rose::Dropdown>

            {{#if
              (has-resource-filter-selections
                'scopes.scope.roles.role.add-principals' 'scope'
              )
            }}
              <Hds::Button
                @size='small'
                @icon='x'
                @text={{t 'actions.clear-all-filters'}}
                {{on 'click' this.callClearAllFilters}}
              />
            {{/if}}
          </Rose::Form>
        </toolbar.primary>
      </Rose::Toolbar>
    {{/let}}

    <br />

    <Form::Role::AddPrincipals
      @model={{@model.role}}
      @users={{@model.users}}
      @groups={{@model.groups}}
      @managedGroups={{@model.managedGroups}}
      @submit={{fn this.addPrincipals @model.role}}
      @cancel={{this.cancel}}
    />
  </page.body>

</Rose::Layout::Page>